    <div class="section-wrapper" >

        <form name="pendingTransactionForm">
                <div class="row" >
                    <div class="col-md-2">

                        <ui-select ng-model="status"
                                   theme="bootstrap"
                                   reset-search-input="false"
                                   on-select="onStatusChange($select.selected)"
                                  >
                            <ui-select-match placeholder="{{:: 'ocb.payments.pending.status.placeHolder' | translate }}">
                                {{'ocb.payments.pending.status.' +$select.selected |translate}}
                            </ui-select-match>
                            <ui-select-choices repeat="st in statuses">
                                <div ng-bind-html="'ocb.payments.pending.status.' +st |translate">  </div>
                            </ui-select-choices>
                        </ui-select>
                     </div>

                    <div class="col-md-2">
                        <ui-select ng-model="account"
                                   theme="bootstrap"
                                   on-select="onAccountChange($select.selected)"
                                   reset-search-input="false">
                            <ui-select-match placeholder="{{:: 'ocb.payments.pending.account.placeHolder' | translate }}">
                                {{ $select.selected}}
                            </ui-select-match>
                            <ui-select-choices repeat="ac in accounts">
                                {{ ac }}
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-md-1" style="padding-top: 5px;">
                        <bd-button class="bd-button__primary" ng-click="filterPendingTransaction()" type="submit">{{::'ocb.payments.pending.list.button.filter.label'|translate}}</bd-button>
                    </div>
                </div>

        </form>

    </div>

    <br/>
    <div class="section-wrapper">
        <form>
            <input name="checkBoxState" hidden ng-model="isEmpty" required/>
        <bd-table bd-type="typePL"
                  bd-table-params="table.tableConfig"
                  bd-table-control="table.tableControl"
                  bd-table-data="table.tableData"
                  bd-table-meta="{  'checkbox' : { 'title' :'','data' : ''},
                                    'first' : {
                                         'title': '##ocb.payments.pending.list.header.init_date.label', 'data' : 'init_date'
                                    },
                                    'second' : {
                                        'title': '##ocb.payments.pending.list.header.creator.label', 'data' : 'creator' },
                                    'third' : {
                                        'title': '##ocb.payments.pending.list.header.amount.label', 'data' : 'amount'
                                     },
                                     'fourth' : {
                                        'title': '##ocb.payments.pending.list.header.status.label','data' : 'status'
                                     },
                                     'fifth' : {
                                        'title': '##ocb.payments.pending.list.header.approve.label', 'data' : 'approve'
                                     },
                                     'sixth' : {
                                        'title': '##ocb.payments.pending.list.header.trans_type.label', 'data' : 'trans_type'
                                     }
                                  }">


            <eb-validation-messages eb-name="checkBoxState">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.new.bill.fill.amount.EMPTY_AMOUNT'|translate}}
                </div>
            </eb-validation-messages>
            <div bd-table-footer>
                <bd-table-pagination></bd-table-pagination>
            </div>

        </bd-table>

        </form>
    </div>
