.search-btn {text-align: center;}

.filter-box > .col-md-2 {
  padding-top: 10px;
  padding-bottom: 10px
}

.dash-hr{
  border: 0 none;
  border-top: 2px dashed #E0E4EB;
  background: none;
  height:0;
}