<div class="bd-form" ng-if="payuVnpay.data.paymentInfo !== null">
    <!--<div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_vnpay.verify.label' | translate}}</p></div></div>-->
    <bd-header class="">
        {{ ::'ocb.payments.payu_vnpay.verify.label' | translate }}
    </bd-header>
    <bd-item-property label="{{::'ocb.payments.payu_vnpay.remitter_number.label' | translate}}">
        {{payuVnpay.data.remitterInfo.accountNo}}
    </bd-item-property>
    <bd-item-property label="{{::'ocb.payments.payu_vnpay.remitter_name.label' | translate}}">
        {{payuVnpay.data.fullName}}
    </bd-item-property>
    <bd-item-property label="{{::'ocb.payments.payu_vnpay.remitter_branch.label' | translate}}">
        {{payuVnpay.data.remitterInfo.openBranch}}
    </bd-item-property>

    <bd-item-property label="{{::'ocb.payments.payu_vnpay.remitter_avail.label' | translate}}">
        <bd-amount amount="payuVnpay.data.remitterInfo.currentBalance"
                   currency="{{ payuVnpay.data.remitterInfo.currency }}"></bd-amount>
    </bd-item-property>
    <bd-item-property label="{{::'ocb.payments.payu_vnpay.remitter_remain.label' | translate}}">
        <bd-amount amount="payuVnpay.data.limit"
                   currency="{{ payuVnpay.data.remitterInfo.currency }}"></bd-amount>
    </bd-item-property>
    <bd-item-property label="{{::'ocb.payments.payu_vnpay.payment_code.label' | translate}}">
        {{payuVnpay.data.paymentInfo.customerCode}}
    </bd-item-property>
    <bd-item-property label="{{::'ocb.payments.payu_vnpay.bill_code.label' | translate}}">
        {{payuVnpay.data.paymentInfo.billCode}}
    </bd-item-property>
    <bd-item-property label="{{::'ocb.payments.payu_vnpay.amount.label' | translate}}">

        <bd-amount amount="payuVnpay.data.paymentInfo.amount.value"
               currency="{{ payuVnpay.data.remitterInfo.currency }}"></bd-amount>

    </bd-item-property>
    <bd-item-property label="{{::'ocb.payments.payu_vnpay.provider.label' | translate}}">
        {{payuVnpay.data.paymentInfo.serviceProvider.providerName}}
    </bd-item-property>
    <bd-item-property label="{{::'ocb.payments.payu_vnpay.distributed.label' | translate}}">
        {{payuVnpay.data.paymentInfo.distributedBy}}
    </bd-item-property>
</div>

<div class="bd-form" ng-if="payuVnpay.token.params.resourceId" ng-show="payuVnpay.token.params.resourceId " label="{{ payuVnpay.token.model.currentToken.label }}">
    <rb-token-authorization rb-operation-type="TRANSFER"
                            rb-model="payuVnpay.token.model"
                            rb-params="payuVnpay.token.params">
    </rb-token-authorization>
</div>

<span class="eb-validation-messages">
     <span class="messages"  ng-if="errMsg">
         <span class="validation-message">
            {{errMsg}}
         </span>
     </span>
</span>