<div class="account-collapse-item form-horizontal" ng-if="payuVnpay.data.paymentInfo !== null">
    <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_vnpay.verify.label' | translate}}</p></div></div>

    <div ng-if="payuVnpay.data.senderAccount !== null">
        <div class="row" >
            <div class="col-xs-12 col-md-3 lb">{{::'ocb.payments.payu_vnpay.remitter_name.label' | translate}}</div>
            <div class="col-xs-12 col-md-5">{{payuVnpay.data.fullName}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 lb">{{::'ocb.payments.payu_vnpay.remitter_branch.label' | translate}}</div>
            <div class="col-xs-12 col-md-5">{{payuVnpay.data.remitterInfo.openBranch}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 lb">{{::'ocb.payments.payu_vnpay.remitter_avail.label' | translate}}</div>
            <div class="col-xs-12 col-md-5">{{payuVnpay.data.remitterInfo.currentBalance + ' ' +payuVnpay.data.senderAccount.currency}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 lb">{{::'ocb.payments.payu_vnpay.remitter_remain.label' | translate}}</div>
            <div class="col-xs-12 col-md-5">{{payuVnpay.data.limit}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 lb">{{::'ocb.payments.payu_vnpay.payment_code.label' | translate}}</div>
            <div class="col-xs-12 col-md-5">{{payuVnpay.data.paymentInfo.customerCode}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 lb">{{::'ocb.payments.payu_vnpay.bill_code.label' | translate}}</div>
            <div class="col-xs-12 col-md-5">{{payuVnpay.data.paymentInfo.billCode}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 lb">{{::'ocb.payments.payu_vnpay.amount.label' | translate}}</div>
            <div class="col-xs-12 col-md-5">
                <bd-amount amount="payuVnpay.data.paymentInfo.amount.value"
                       currency="{{ payuVnpay.data.remitterInfo.currency }}"></bd-amount>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 lb">{{::'ocb.payments.payu_vnpay.provider.label' | translate}}</div>
            <div class="col-xs-12 col-md-5">{{payuVnpay.data.paymentInfo.serviceProvider.providerName}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 lb">{{::'ocb.payments.payu_vnpay.distributed.label' | translate}}</div>
            <div class="col-xs-12 col-md-5">{{payuVnpay.data.paymentInfo.distributedBy}}</div>
        </div>
    </div>
</div>

<div ng-if="payuVnpay.token.params.resourceId" ng-show="payuVnpay.token.params.resourceId " label="{{ payuVnpay.token.model.currentToken.label }}">
    <rb-token-authorization rb-operation-type="TRANSFER"
                            rb-model="payuVnpay.token.model"
                            rb-params="payuVnpay.token.params">
    </rb-token-authorization>
</div>

<span class="eb-validation-messages">
     <span class="messages"  ng-if="errMsg">
         <span class="validation-message">
            {{errMsg}}
         </span>
     </span>
</span>