<div class="row">
    <div class="col-lg-6">
        <div class="row margin-bottom-sm">
            <div class="col-xs-12 col-sm-6 lb">
                {{::'ocb.payments.recipients.new.domestic.fill.custom_name.label'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ $data.customerName }}
            </div>
        </div>
        <div class="row margin-bottom-sm">
            <div class="col-xs-12 col-sm-6 lb">
                {{::'ocb.payments.recipients.new.domestic.fill.recipient_type.label'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{::'ocb.payments.recipient_types.' + $data.recipientType.code | translate}}
            </div>
        </div>
        <div class="row margin-bottom-sm">
            <div class="col-xs-12 col-sm-6 lb">
                {{::'ocb.payments.recipients.new.domestic.fill.recipient_name_address'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                <div style="word-break: break-all;">{{$data.recipientAddress}}</div>
            </div>
        </div>
        <div class="row margin-bottom-sm">
            <div class="col-xs-12 col-sm-6 lb">
                {{::'ocb.payments.recipients.new.domestic.fill.account_related'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ $data.debitNrb | nrbIbanFilter }}
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row margin-bottom-sm">
            <div class="col-xs-12 col-sm-6 lb">
                {{::'ocb.payments.recipients.new.domestic.fill.description.label'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                <div style="word-break: break-all;">
                    {{ $data.transferTitle }}
                </div>
            </div>
        </div>

        <div class="row margin-bottom-sm" ng-if="$data.nrb" >
            <div class="col-xs-12 col-sm-6 lb">
                {{::'ocb.payments.recipients.new.domestic.fill.recipient_account.label'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ $data.nrb | nrbIbanFilter }}
            </div>
        </div>

        <div class="row margin-bottom-sm" ng-if="$data.province">
            <div class="col-xs-12 col-sm-6 lb">
                {{::'ocb.payments.recipients.new.domestic.fill.province.label'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                <eb-preloader
                    ng-if="!$data.provinceName"
                    ng-init="promise=resolveProvinceName($data)"
                    eb-promise="::promise"
                    class="eb-inline-preloader"
                ></eb-preloader>
                {{$data.provinceName}}
            </div>
        </div>

        <div class="row margin-bottom-sm" ng-if="$data.bankName">
            <div class="col-xs-12 col-sm-6 lb">
                {{::'ocb.payments.recipients.new.domestic.fill.bank.label'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ $data.bankName }}
            </div>
        </div>

        <div class="row margin-bottom-sm" ng-if="$data.branchCode">
            <div class="col-xs-12 col-sm-6 lb">
                {{::'ocb.payments.recipients.new.domestic.fill.branch.label'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                <eb-preloader
                    ng-if="!$data.branchName"
                    ng-init="promise=resolveBranchName($data)"
                    eb-promise="::promise"
                    class="eb-inline-preloader"
                ></eb-preloader>
                {{ $data.branchName }}
            </div>
        </div>

        <div class="row margin-bottom-sm" ng-if="$data.cardNumber">
            <div class="col-xs-12 col-sm-6 lb">
                ::'ocb.payments.recipients.new.domestic.fill.card_number.label'|translate}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ $data.cardNumber }}
            </div>
        </div>
    </div>



    <style>
        .margin-bottom-sm {
            margin-bottom: 20px;
        }
    </style>
</div>

