<rb-payment-recipients-fill>
    <div ng-controller="RecipientsManageFillDomesticController">

        <section ng-show="recipient.operation.code != 'EDIT'">

            <bd-item-property label="{{ ::'raiff.payments.recipients.new.domestic.fill.account_related' | translate }}">
                 <input name="remitterAccountId" hidden ng-model="recipient.formData.remitterAccountId" required/>


                <rb-account-select rb-account-id="recipient.formData.remitterAccountId"
                                   rb-account="recipient.items.senderAccount"
                                   rb-account-list="recipient.items.accountList"
                                   rb-on-account-select="onSenderAccountSelect()"
                                   rb-init-select-fn="getAccountByNrb($accountList, $select)"
                                   rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                                   rb-product-list-name="TRANSFER_FROM_LIST"
                                   rb-account-select-params="recipientSelectParams"
                                   rb-init-select-value = "{{selectNrb}}"></rb-account-select>


                <eb-validation-messages eb-name="remitterAccountId">
                    <div eb-message-key="required" class="validation-message animate-on">
                        {{::'raiff.payments.recipients.new.domestic.fill.remitterAccount.EMPTY'|translate}}
                    </div>
                </eb-validation-messages>

            </bd-item-property>
            </section>
        <section ng-show="recipient.operation.code === 'EDIT'">
                <bd-item-property class="bd-item-property--text bd-item-property--disabled"
                                  label="{{ ::'raiff.payments.recipients.new.domestic.fill.account_related' | translate }}">
                    {{ recipient.formData.debitAccountNo | nrbIbanFilter }}
                </bd-item-property>
        </section>


      <!--<bd-item-property ng-if="(recipient.operation.code == 'REMOVE' || recipient.operation.code == 'EDIT')" class="bd-item-property&#45;&#45;text bd-item-property&#45;&#45;disabled" label="{{::'raiff.payments.recipients.edit.domestic.verify.recipient.id'|translate}}">-->
            <!--{{ recipient.formData.recipientId}}-->
          <!--{{ recipient.operation.code }}-->
        <!--</bd-item-property>-->
        <bd-item-property label="{{ ::'raiff.payments.recipients.new.domestic.fill.custom_name.label' | translate }}">
            <input name="customName"
                   ng-model="recipient.formData.customName"
                   required
                   ng-pattern="RECIPIENT_NAME_REGEX"
                   class="input-field"
                   placeholder="{{ ::'raiff.payments.recipients.new.domestic.fill.custom_name.placeholder' | translate }}"/>

            <eb-validation-messages eb-name="customName"><!--max 35-->
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.customName.EMPTY'|translate}}
                </div>
                <div eb-message-key="pattern" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.customName.ILLEGAL'|translate}}
                </div>
            </eb-validation-messages>

        </bd-item-property>

        <bd-item-property
                label="{{ ::'raiff.payments.recipients.new.domestic.fill.recipient_account.label' | translate }}">
            {{$scope.recipient}}
            <input id="recipientAccountNo"
                   name="recipientAccountNo"
                   ng-model="recipient.formData.recipientAccountNo"
                   required="recipient.operation.code !=='EDIT'"
                   bban-nrb
                   ng-disabled="recipient.operation.code === 'EDIT'"
                   bd-matches-none-of="recipientAccountValidators"
                   class="input-field"
                   type="text"
                   placeholder="{{ ::'raiff.payments.recipients.new.domestic.fill.recipient_account.placeholder' | translate }}">

            <eb-validation-messages eb-name="recipientAccountNo">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.recipient_account.EMPTY_BNF_ACC'|translate}}
                </div>
                <div eb-message-key="bbanNrb" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.recipient_account.INCORECT_FORMAT_ACC'|translate}}
                </div>
                <div eb-message-key="sameAccount" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.recipient_account.SAME_ACCOUNT'|translate}}
                </div>
                <div eb-message-key="notUs" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.recipient_account.ADD_BNF_ACC_NOT_US'|translate}}
                </div>
                <div eb-message-key="notZus" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.recipient_account.ADD_BNF_ACC_NOT_ZUS'|translate}}
                </div>
            </eb-validation-messages>

        </bd-item-property>

        <bd-item-property class="bd-item-property--multirow"
                          label="{{ ::'raiff.payments.recipients.new.domestic.fill.recipient_name_address' | translate }}">
            <textarea name="recipientData"
                      ng-model="recipient.formData.recipientData"
                      split-text-max-length-validators="140"
                      ng-pattern="RECIPIENT_DATA_REGEX"
                      required
                      class="input-field input-area--party-data"
                      placeholder="{{ ::'raiff.payments.recipients.new.domestic.fill.recipient_data.placeholder' | translate }}"></textarea>

            <eb-validation-messages eb-name="recipientData">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.recipient_data.EMPTY'|translate}}
                </div>
                <div eb-message-key="splitTextMaxLength" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.recipient_data.MSG_0557_TOO_LONG_BNF_DATA'|translate}}
                </div>
                <div eb-message-key="pattern" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.recipient_data.MSG_0557_TOO_LONG_BNF_DATA'|translate}}
                </div>
            </eb-validation-messages>

        </bd-item-property>

        <bd-item-property class="bd-item-property--multirow"
                          label="{{ ::'raiff.payments.recipients.new.domestic.fill.description.label' | translate }}">

            <textarea name="description"
                      ng-model="recipient.formData.description"
                      split-text-max-length-validators="140"
                      ng-pattern="PAYMENT_TITLE_REGEX"
                      class="input-field input-area--payment-description"
                      required
                      placeholder="{{ ::'raiff.payments.recipients.new.domestic.fill.description.placeholder' | translate }}"></textarea>

            <eb-validation-messages eb-name="description">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.description.EMPTY'|translate}}
                </div>
                <div eb-message-key="pattern" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.description.PATTERN'|translate}}
                </div>
                <div eb-message-key="splitTextMaxLength" class="validation-message animate-on">
                    {{::'raiff.payments.recipients.new.domestic.fill.description.MAXLENGTH'|translate}}
                </div>
            </eb-validation-messages>

        </bd-item-property>

    </div>
</rb-payment-recipients-fill>