<form name="changeMobilePasswordForm">
    <bd-form-content>

        <ng-include src="detailsTemplatePath"></ng-include>


        <bd-item-property  label="{{ token.model.currentToken.label }}">
            <rb-token-authorization rb-operation-type="payments_future_manage_delete_fill" rb-model="token.model"></rb-token-authorization>
        </bd-item-property>

    </bd-form-content>
</form>

<bd-form-footer>

    <bd-button class="bd-form-footer__button--positive bd-button__primary"
               ng-click="onProceedButtonClick()">{{::'raiff.payments.future.delete.buttons.proceed' | translate}}
    </bd-button>

    <bd-button class="bd-form-footer__button--negative"
               ng-click="onCancelButtonClick()">{{::'raiff.payments.future.delete.buttons.cancel' | translate}}
    </bd-button>

</bd-form-footer>