<form name="paymentsTutitionForm">
  <div class="bd-form">
    <bd-header class="pd-bottom">
      {{ ::'ocb.payments.tuition.data.verification.label' | translate }}
    </bd-header>
    <bd-item-property label="{{ ::'ocb.payments.tuition.university' | translate }}">
      {{tuitionFee.formData.paymentsTuitionUniversities.name}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.form' | translate }}">
      {{formName}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.student.codeID' | translate }}">
      {{tuitionFee.formData.stdCodeID}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.verify.student.name.label' | translate }}">
      {{tuitionFee.formData.studentName}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.class.label' | translate }}">
      {{tuitionFee.formData.clazz}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.period.label' | translate }}">
      {{tuitionFee.formData.period}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.department.label' | translate }}">
      {{tuitionFee.formData.faculty}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.verify.payment.label' | translate }}">
      <div class="form-row" ng-repeat="item in tuitionFee.formData.paymentInfo">
        <div class="bd-table__cell--md-3 code-txt">
          {{item.subjectId}}
        </div>
        <div>
          {{item.subjectName}}
        </div>
      </div>
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.verify.total.amount.label' | translate }}">
     {{tuitionFee.formData.totalAmount | number:0}}  VND
    </bd-item-property>
    <bd-item-property class="italic-control"
                      label="{{ ::'ocb.payments.tuition.verify.total.amount.word.label' | translate }}">
      {{tuitionFee.formData.amountInWords}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.verify.account.label' | translate }}">
      {{tuitionFee.formData.accountNo}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.verify.funds.label' | translate }}">
      {{tuitionFee.formData.balance | number:0}}  {{tuitionFee.formData.currency}}
    </bd-item-property>
    <bd-item-property label="{{ ::'ocb.payments.tuition.verify.limit.label' | translate }}">
      {{tuitionFee.items.limit.remainingDailyLimit | number:0}}  VND
    </bd-item-property>
  </div>

</form>
<!--add authorization token-->
<div ng-if="payment.token.params.resourceId" ng-show="payment.token.model.$tokenRequired" class="form-pane">
  <div class="pane-above">
    <rb-token-authorization show-wrong-code-label="showWrongCodeLabel" rb-operation-type="{{payment.token.operationType}}" rb-model="payment.token.model" rb-model-data="payment.token.modelData()" rb-params="payment.token.params"></rb-token-authorization>
  </div>
</div>
