<form ng-show="showVerify" name="paymentsTutitionForm">
    <div class="bd-form">
        <bd-header class="pd-bottom">
            {{ ::'ocb.payments.tuition.data.verification.label' | translate }}
        </bd-header>
        <bd-item-property label="{{ ::'ocb.payments.tuition.university' | translate }}">
            {{paymentsTuitionUniversities.universityName}}
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.form' | translate }}">
            {{formSelected}}
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.student.codeID' | translate }}">
            {{payment.formData.stdCodeID}}
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.verify.student.name.label' | translate }}">
            {{studentInfo.studentName}}
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.class.label' | translate }}">
            {{studentInfo.clazz}}
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.period.label' | translate }}">
            {{studentInfo.period}}
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.department.label' | translate }}">
            {{studentInfo.department}}
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.verify.payment.label' | translate }}">
            <div class="form-row" ng-repeat="item in paymentInfo">
                <div class="bd-table__cell--md-3 code-txt">
                    {{item.subjectId}}
                </div>
                <div>
                    {{item.subjectName}}
                </div>
            </div>
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.verify.total.amount.label' | translate }}">
            <bd-amount amount="totalAmount"
                       currency="{{ payment.items.senderAccount.currency }}" show-dash></bd-amount>
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.verify.total.amount.word.label' | translate }}">
            {{totalAmountInWord}}
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.verify.account.label' | translate }}">
            {{}}
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.verify.funds.label' | translate }}">
            <bd-amount amount="tuitionBalance"
                       currency="{{ payment.items.senderAccount.currency }}" show-dash></bd-amount>
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.tuition.verify.limit.label' | translate }}">
            <bd-amount amount="tuitionLimit"
                       currency="{{ payment.items.senderAccount.currency }}" show-dash></bd-amount>
        </bd-item-property>
    </div>

</form>
<!--add authorization token-->
<div ng-show="payment.operation.code !== 'EDIT' && payment.meta.customerContext == 'DETAL'" class="row-display bd-form">
    <button ng-show="payment.meta.authType==='SMS_TOKEN'" class="otp-btn" ng-click="getOTP()">Get OTP</button>
    <div ng-if="payment.token.params.resourceId" label="{{ payment.token.model.currentToken.label }}">
        <rb-token-authorization rb-operation-type="TRANSFER"
                                rb-model="payment.token.model"
                                rb-params="payment.token.params">
        </rb-token-authorization>
    </div>
</div>
