<div>

    <bd-item-property ng-if="taxpayer.formData.microName" class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.taxpayers.verify.micro_name' | translate }}">
        {{ taxpayer.formData.customName }}
    </bd-item-property>
    
    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.taxpayers.verify.custom_name' | translate }}">
        {{ taxpayer.formData.customName }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.taxpayers.verify.taxpayer_type' | translate }}">
        {{ 'raiff.payments.taxpayers.verify.taxpayer_type.' + taxpayer.formData.taxpayerType | translate }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.taxpayers.verify.taxpayer_data'|translate}}">
        <p style="white-space: pre;" ng-bind-html="taxpayer.formData.taxpayerData.join('\n')"></p>
    </bd-item-property>

    <bd-item-property ng-if="taxpayer.formData.taxpayerType === 'INSURANCE'" class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.taxpayers.verify.taxpayer_nip' | translate }}">
        {{ taxpayer.formData.nip }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.taxpayers.verify.taxpayer_supplementary_id_type' | translate }}">
        {{ 'raiff.payments.taxpayers.details.supplementary_id_type.' + taxpayer.formData.secondaryIdType | translate }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.taxpayers.verify.taxpayer_supplementary_id' | translate }}">
        {{ taxpayer.formData.secondaryIdNo }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text" ng-if="taxpayerAuthForm.params.resourceId" label="{{ taxpayerAuthForm.model.currentToken.label }}">
        <rb-token-authorization rb-operation-type="MANAGE_PAYER" rb-model="taxpayerAuthForm.model" rb-params="taxpayerAuthForm.params"></rb-token-authorization>
    </bd-item-property>

</div>