<div class="form-body" ng-controller="NewZusPaymentVerifyController">

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.sender_account_name'|translate}}">
        {{ payment.items.senderAccount.customName || payment.items.senderAccount.accountName }}&nbsp;<!-- | nazwa -->

        {{payment.items.senderAccount.accountNo | nrbIbanFilter }} <!-- | numer -->
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.sender_data'|translate}}">
        <p ng-bind-html="payment.items.senderAccount | accountOwners"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.taxpayer_data'|translate}}">
        {{payment.formData.recipientName}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.taxpayer_nip'|translate}}">
        {{payment.formData.nip}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.taxpayer_supplementary_id_type'|translate}}">
        {{::('raiff.payments.new.zus.fill.taxpayer_supplementary_id_type.' + payment.formData.secondaryIdType) | translate }}
        <!-- desc? -->
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.taxpayer_supplementary_id'|translate}}">
        {{payment.formData.secondaryIdNo}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.payment_type'|translate}}">
        {{::'raiff.payments.zus.payment_type.' + payment.formData.paymentType | translate }}
        <!-- desc? -->
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.declaration_date'|translate}}">
        {{payment.formData.declarationDate}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.declaraton_no'|translate}}">
        {{payment.formData.declarationNo}}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.additionalInfo" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.additional_info'|translate}}">
        {{payment.formData.additionalInfo}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.execution_date'|translate}}">
        {{payment.formData.realizationDate|date:'dd.MM.yyyy'}}
    </bd-item-property>
     <span class="eb-validation-messages" ng-if="payment.endOfDayWarning">
         <span class="messages">
             <span class="validation-message">
                 {{::'raiff.payments.new.domestic.fill.execution_date.EOD_ERROR'|translate}}
             </span>
         </span>
    </span>

    <bd-panel bd-panel-heading="{{ ::'raiff.payments.new.zus.verify.payment_data' | translate }}">

        <div ng-repeat="insurance in payment.formData.insurancePremiums | insurancesFilter track by insurance.key">
            <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.zus.verify.payment.' + insurance.key |translate}}">
                {{ ::'raiff.payments.new.zus.verify.tmp.zus_name' | translate }}<br>
                {{::insurance.socialAccountNumber}}
                <bd-amount amount="insurance.amount" currency="{{ insurance.currency }}" not-styled></bd-amount>
            </bd-item-property>
        </div>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.new.zus.fill.total_payment' | translate }}">
            <span ng-repeat="summary in payment.meta.amountSummary">
                <bd-amount amount="summary.amount" currency="{{ summary.currency }}" not-styled></bd-amount>
            </span>
        </bd-item-property>

    </bd-panel>

</div>