<span ng-show="cardList.content.length > 0">
    <eb-mini-bar search-text="filterOptions.accountName"
                 eb-search-placeholder="{{::'accounts.filter.options.title'|translate}}"
                 eb-disable-add="true"></eb-mini-bar>
</span>
<eb-list eb-themable class="accounts product-list" eb-promise="cardListPromise">
    <div eb-list-item ng-repeat="card in cards = (cardList.content | filter:filterOptions.accountName)">
        <eb-list-item-content eb-list-item-collapse-trigger on-open="getHistoryShort(card)"
                              is-collapsed="card.isCollapsed">
            <div class="identification-cell" ng-class="{'edit-mode': account.visible}">

                <!--<div id="editableDiv" class="productName" eb-editable-name eb-editable-model="account"
                     customer-product-data="account.customerProductData" placeholder-text="{{account.accountName}}"
                     ng-click="setCaretPosition(account.visible, $index); $event.stopPropagation()"></div>-->
                {{card.name}}
                <div class="productNo">{{card.accountNumber | nrbIbanFilter}}</div>

            </div>
            <!-- no whitespace fix-->
            <div class="actions-cell" ng-class="{'edit-mode': account.visible}">

                <div class="options" ng-click="$event.stopPropagation()">
                    <div eb-list-options ng-class="{'editable-option-hide': account.visible}">
                        <li><a class="option-row" ui-sref="payments.form.domestic" store-context="account"><span
                                eb-themable class="eb-icon eb-ico-new-payment options-icon"></span><span
                                class="option-label" eb-msg="accounts.options.label.newTransfer"></span></a></li>
                        <li><a class="option-row" ui-sref="accounts.transactions.list" store-context="account"><span
                                eb-themable class="eb-icon eb-ico-transaction-history options-icon"></span><span
                                class="option-label" eb-msg="accounts.options.label.history"></span></a></li>
                        <li><a class="option-row" ui-sref="^.details" store-context="account"><span eb-themable
                                                                                                    class="eb-icon eb-ico-details options-icon"></span><span
                                class="option-label" eb-msg="accounts.options.label.details"></span></a></li>
                        <li><a class="option-row" ui-sref="^.blockades" store-context="account"><span eb-themable
                                                                                                      class="eb-icon eb-ico-blockades options-icon"></span><span
                                class="option-label" eb-msg="accounts.options.label.blockades"></span></a></li>
                    </div>
                </div>

            </div>
            <!-- no whitespace fix-->
            <div class="properties-group-cell">

                <div class="secondary-property-cell">
                   <!-- <eb-item-property label="accounts.label.balance">
                        <eb-amount amount="account.balance.amount" currency="{{account.balance.currencySymbol}}"
                                   highlight-negative></eb-amount>
                    </eb-item-property>-->
                </div>
                <!-- no whitespace to fix 2 x 50%-->
                <div class="primary-property-cell">
                    <eb-item-property label="accounts.label.available_funds">
                        <eb-amount class="assets" amount="card.availableFunds.amount" currency="{{card.availableFunds.currencySymbol}}"
                                   highlight-negative></eb-amount>
                    </eb-item-property>
                </div>

            </div>
        </eb-list-item-content>

    </div>
    <div class="miniapp-empty-list" ng-if="accountList.content.length == 0 || accounts.length == 0">
        {{::"accounts.label.empty_list"|translate}}
    </div>
    <div ng-show="accounts.length > 0" class="product-list-summary-item">
        <div class="product-list-summary-label">
            <span eb-msg="accounts.label.summary"></span>
        </div>
    </div>
</eb-list>
	
