<rb-payment-recipients-verify ng-show="showVerify">
    <div ng-controller="RecipientsManageVerifyDomesticController" class="payments-recipients__domestic-verify">
        <eb-preloader class="eb-list-preloader" eb-promise="recipient.promises.authorizationPromise"></eb-preloader>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.account_related' | translate }}">
            <section ng-show="recipient.items.senderAccount.accountName && recipient.items.senderAccount.accountNo">
                {{ recipient.items.senderAccount.accountNo | nrbIbanFilter }}
            </section>
            <section ng-hide="recipient.items.senderAccount.accountName && recipient.items.senderAccount.accountNo">
                {{ recipient.formData.debitAccountNo | nrbIbanFilter }}
            </section>
        </bd-item-property>

        <bd-item-property ng-if="customerDetails.context == 'MICRO'" class="bd-item-property--text bd-item-property--disabled" label="{{ ::'ocb.payments.recipients.edit.domestic.verify.company.name' | translate }}">
            <section ng-show="recipient.items.senderAccount.accountName && recipient.items.senderAccount.accountNo">
                <div ng-repeat="owner in ownerList = (getAccountByNrb(recipient.items.senderAccount.accountNo).ownersList | filter: { relationType: 'OWNER' }:true)">
                    <span ng-if="owner != null">{{owner.fullName}}</span>
                    <span ng-if="owner == null">-</span>
                </div>
            </section>
            <section ng-hide="recipient.items.senderAccount.accountName && recipient.items.senderAccount.accountNo">
                <div ng-repeat="owner in ownerList = (getAccountByNrb(recipient.formData.debitAccountNo).ownersList | filter: { relationType: 'OWNER' }:true)">
                    <span ng-if="owner != null">{{owner.fullName}}</span>
                    <span ng-if="owner == null">-</span>
                </div>
            </section>
        </bd-item-property>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.custom_name.label' | translate }}" style="word-wrap: break-word">
            {{ recipient.formData.customName }}
        </bd-item-property>

        <bd-item-property class="bd-item-property--multirow bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.recipient_name_address' | translate }}">
            <p style="word-wrap: break-word">{{recipient.formData.recipientData | arrayFilter}}</p>
        </bd-item-property>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.recipient_type.label' | translate }}">
            {{ 'ocb.payments.recipient_types.' + recipient.formData.recipientType.code | translate }}
        </bd-item-property>

        <bd-item-property ng-if="recipient.formData.cardNumber" class="bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.card_number.label' | translate }}">
            {{ recipient.formData.cardNumber }}
        </bd-item-property>

        <bd-item-property ng-if="recipient.formData.recipientAccountNo" class="bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.recipient_account.label' | translate }}">
            {{ recipient.formData.recipientAccountNo | nrbIbanFilter }}
        </bd-item-property>

        <bd-item-property ng-if="recipient.formData.province" class="bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.province.label' | translate }}">
            {{ recipient.items.province.name }}
        </bd-item-property>

        <bd-item-property ng-if="recipient.formData.bankCode" class="bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.bank.label' | translate }}">
            {{ recipient.items.bank.bankName }}
        </bd-item-property>

        <bd-item-property ng-if="recipient.formData.branchCode" class="bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.branch.label' | translate }}">
            {{ recipient.items.branch.branchName }}
        </bd-item-property>

        <bd-item-property class="bd-item-property--multirow bd-item-property--text bd-item-property--disabled"
                          label="{{ ::'ocb.payments.recipients.new.domestic.fill.description.label' | translate }}">
            <p style="word-wrap: break-word">{{recipient.formData.description | arrayFilter}}</p>
        </bd-item-property>
    </div>
 </rb-payment-recipients-verify>
