<div class="form rb-content-view">
<section class="payments-warning-section">
    <div class="payments-warning-item" ng-if="showWrongCodeLabel">
        {{ ::'ocb.authorization.SMS.wrong.label.second'|translate}}
    </div>
</section>
</div>
<rb-content-view class="rb-content-view--framed rb-payments-new form">
    <section ng-hide="payment.beforeTransfer.suggestions.displayed">
        <bd-header>{{::"ocb.payments.new_internal.label.header"|translate}}</bd-header>
        <bd-form-panel class="bd-form-panel--responsive">

            <rb-multistep-form bd-active-step="activeStep" bd-step-remote="stepRemote" rb-step-params="payment.rbPaymentsStepParams">
                <div ng-if="payment.initData.promise.$$state.status!==0">
                    <div ui-view></div>
                </div>
            </rb-multistep-form>

        </bd-form-panel>
    </section>
    <rb-before-transfer rb-before-transfer-prototype="beforeTransfer.PROTOTYPE.SUGGESTION" rb-before-transfer-model="payment" rb-before-transfer-context-investments></rb-before-transfer>

</rb-content-view>
