<form name="paymentForm" novalidate>
    <div>
        <bd-item-property label="{{ ::'raiff.payments.new.internal.fill.sender_account' | translate }}">
            <rb-account-select rb-account="payment.items.senderAccount"
                               rb-account-id="payment.formData.remitterAccountId"
                               rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                               rb-product-list-name="TRANSFER_INVOOBILL_FROM_LIST"
                               rb-remote="remote.model_from"
                               rb-account-select-params="remitterAccountSelectParams" ></rb-account-select>
        </bd-item-property>

        <bd-item-property ng-if="payment.formData.remitterAccountId"
                          label="{{ ::'raiff.payments.new.internal.fill.sender_account.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                       currency="{{ payment.items.senderAccount.currency }}" show-dash></bd-amount>
        </bd-item-property>

        <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.recipientAccountNo' | translate}}">
            {{ payment.invoobill.beneficiaryAccount | nrbIbanFilter }}
        </bd-item-property>

        <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.recipient' | translate }}">
            {{ payment.invoobill.creditorFullName | arrayFilter }}
        </bd-item-property>

        <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.title' | translate }}">
            {{ payment.invoobill.title  | arrayFilter }}
        </bd-item-property>

        <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.amount' | translate }}">
            {{ payment.invoobill.amount | number: 2 }} {{ payment.invoobill.currency }}
        </bd-item-property>

        <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.realization_date' | translate }}">
            {{ payment.invoobill.paymentDate | date : 'shortDate' }}
        </bd-item-property>
    </div>
    <span class="eb-validation-messages">
        <span class="messages"  ng-if="payment.meta.validators.fundsExeed !== undefined && payment.meta.validators.fundsExeed.show">
             <span class="validation-message">
                {{payment.meta.validators.fundsExeed.messages}}
             </span>
        </span>
         <span class="messages"  ng-if="payment.meta.validators.limitExceed !== undefined && payment.meta.validators.limitExceed.show">
             <span class="validation-message">
                {{payment.meta.validators.limitExceed.messages}}
             </span>
        </span>
    </span>
</form>