<form name="changeMobilePasswordForm">
    <bd-form-content>

        <ng-include src="detailsTemplatePath"></ng-include>

        <bd-item-property class="bd-item-property--multirow" label="{{ token.model.currentToken.label }}" ng-show="token.model.$tokenRequired" no-label-box="true">
            <rb-token-authorization rb-operation-type="TRANSFER" rb-model="token.model" rb-params="tokenParams"></rb-token-authorization>
        </bd-item-property>

    </bd-form-content>
</form>

<bd-form-footer style="text-align: right;">
    <bd-button class="bd-button__primary delete-future"
               ng-click="onProceedButtonClick()">
        <span ng-hide="token.model.view.name === RB_TOKEN_AUTHORIZATION_CONSTANTS.VIEW_NAME.ACTION_SELECTION">
            {{::'ocb.payments.future.delete.buttons.proceed' | translate}}
        </span>
        <span ng-show="token.model.view.name===RB_TOKEN_AUTHORIZATION_CONSTANTS.VIEW_NAME.ACTION_SELECTION">
            {{::'ocb.payments.future.bad_token.buttons.proceed' | translate}}
            <!--<i class="eb-icon eb-ocb-theme eb-ico-next"></i>-->
        </span>
    </bd-button>

    <bd-button class="bd-button cancel-delete-future"
               ng-click="onCancelButtonClick()">{{::'ocb.payments.future.delete.buttons.cancel' | translate}}
    </bd-button>

</bd-form-footer>