<eb-preloader eb-promise="loading" class="eb-list-preloader"></eb-preloader>
<div class="form-pane" ng-show="formReady">

    <div class="pane-above">
        <h3 class="pn-tt">{{::'ocb.payments.domestic.data_verify.label' | translate}}</h3>
    </div>

    <div class="pane-bd">
        <dl class="payments-dl clear">
            <dt>{{::'ocb.payments.domestic.remitter_account.label' | translate}}</dt>
            <dd>
                <div class="remitter-account-line">{{ payment.items.remitterAccount.customName || payment.items.remitterAccount.accountName }}</div>
                <div>{{payment.items.remitterAccount.accountNo | nrbIbanFilter }}</div>
            </dd>

            <dt>{{::'ocb.payments.domestic.remitter_name.label' | translate}}</dt>
            <dd><p ng-bind-html="payment.items.remitterAccount | accountOwners"></p></dd>

            <dt>{{::'ocb.payments.domestic.remitter_branch.label' | translate}}</dt>
            <dd>{{::payment.items.remitterAccount.openBranch}}</dd>

            <dt>{{::'ocb.payments.domestic.recipient_account.label' | translate}}</dt>
            <dd>{{payment.formData.recipientAccountNo | nrbIbanFilter }}</dd>

            <dt>{{::'ocb.payments.domestic.recipient_name.label' | translate}}</dt>
            <dd><p class="break-force">{{payment.formData.recipientName | arrayFilter}}</p></dd>

            <dt>{{::'ocb.payments.domestic.fee.label' | translate}}</dt>
            <dd><bd-amount amount="payment.formData.fee" currency="VND" not-styled></bd-amount></dd>

            <dt>{{::'ocb.payments.domestic.amount.label' | translate}}</dt>
            <dd><bd-amount amount="payment.formData.amount" currency="{{payment.items.remitterAccount.currency}}" not-styled></bd-amount></dd>

            <dt>{{::'ocb.payments.domestic.amount_words.label' | translate}}</dt>
            <dd>{{amountInWords}}</dd>

            <dt>{{::'ocb.payments.domestic.description.label' | translate}}</dt>
            <dd><p>{{payment.formData.description | arrayFilter}}</p></dd>

            <dt>{{::'ocb.payments.domestic.realization_date.label' | translate}}</dt>
            <dd>{{payment.formData.realizationDate | date:'shortDate' }}</dd>

            <dt>{{::'ocb.payments.basket.checkbox.label' | translate}}</dt>
            <dd>{{payment.formData.addToBasket ? ('ocb.payments.form.checkbox.true' | translate) : ('ocb.payments.form.checkbox.false' | translate)}}</dd>

            <dt>{{::'ocb.payments.new.bill.fill.checkbox.label' | translate}}</dt>
            <dd>{{payment.formData.addToBeneficiary ? ('ocb.payments.form.checkbox.true' | translate) : ('ocb.payments.form.checkbox.false' | translate)}}</dd>


            <div ng-if="exceedsFunds">
				<bd-msg-panel bd-msg-type="error" bd-msg-size="smallmsg">{{::'ocb.payments.domestic.error.funds' | translate}}</bd-msg-panel>
			</div>
        </dl>
    </div>

</div>

<div ng-if="payment.token.params.resourceId" ng-show="payment.token.model.$tokenRequired" class="form-pane">
    <div class="pane-above">
        <rb-token-authorization rb-operation-type="{{payment.token.operationType}}" rb-model="payment.token.model" rb-model-data="payment.token.modelData()" rb-params="payment.token.params"></rb-token-authorization>
    </div>
</div>