<div ng-include="getTemplateName('verify')"></div>

<form class="form-body" name="paymentAuthForm" novalidate ng-if="payment.options.twoStepAuthorization">
    <div ng-init="setForm(paymentAuthForm);"></div>

    <bd-item-property label="{{ payment.items.smsText }}">

        <input type="text"
               name="authCode"
               ng-model="payment.items.credentials"
               required/>

        <eb-validation-messages eb-name="authCode">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.execution_date.EMPTY_AUTH'|translate}}
            </div>
        </eb-validation-messages>

    </bd-item-property>
</form>

<form name="paymentResponseForm">

    <input ng-model="paymentResponseModel" type="hidden" name="payment" />
    <eb-validation-messages eb-name="payment">
        <div eb-message-key="payment.token.authorization_blocked" class="validation-message animate-on">
            {{::'raiff.payments.new.domestic.fill.execution_date.BLOCKED_SMS'|translate}}
        </div>
    </eb-validation-messages>

</form>