Content
<div ng-controller="PaymentsWidgetContentController" ng-mouseenter="enterFullMode(true)">

    <div ng-show="paymentsWidgetMode.fullMode" ng-click="openCloseActionList($event, false)"  class="widget__options" >
        <div class="row">

            <div class="col-xs-12">
                <div ng-include="paymentItemContent"></div>

                <div class="row widget-tile__button" style="position:absolute; bottom: -41px;">
                    <div class="col-xs-4 text-left">
                        <bd-button ui-sref="payments.recipients.list">{{::'ocb.payments.widget.new'|translate}}</bd-button>
                    </div>

                    <div class="col-xs-4 text-center">
                        <bd-button ng-click="goToDetails($event, item)">{{::'ocb.payments.widget.details'|translate}}</bd-button>
                    </div>

                    <div class="col-xs-4 text-right">
                        <bd-button ui-sref="payments.future.list">{{::'ocb.payments.widget.pending_operations'|translate}}</bd-button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div ng-hide="paymentsWidgetMode.fullMode"  ng-click="openCloseActionList($event, true)">
        <div ng-include="paymentItemContent"></div>
    </div>
</div>