<div ng-controller="PaymentsWidgetController">
    <section ng-hide="paymentsPromise.$$state.status && !paymentSummary.content.length"
             ng-mouseleave="enterFullMode(false)"
             ng-class="{'hover_background': paymentsWidgetMode.fullMode }">
        <eb-slide-widget eb-context="context"
                         eb-modes="paymentsWidgetMode"
                         eb-selected-item="item" content="{{widgetContent}}" items="paymentSummary" max-indicators="5"
                         eb-items-promise="paymentsPromise"></eb-slide-widget>
    </section>

    <section>

        <div ng-show="paymentsPromise.$$state.status === 1 && !paymentSummary.content.length" style="height: 100px;">
            <div class="widget-content-inner info-text" style="margin: 100px auto; text-align: center;">
                {{::'ocb.payments.widget.no_content'|translate}}
            </div>
        </div>

        <div ng-show="paymentsPromise.$$state.status === 2" style="height: 100px;">
            <div class="widget-content-inner info-text" style="margin: 100px auto; text-align: center;">
                {{::'ocb.payments.widget.error'|translate}}
            </div>
        </div>

        <div ng-show="!paymentsWidgetMode.fullMode && !paymentSummary.content.length">
            <div style="position:absolute; bottom:0px; width:100%; padding:5px;">
                <bd-button ui-sref="payments.recipients.list" class="bd-form-footer__button bd-form-footer__button--positive bd-button__primary" style="line-height: 14px;">
                    {{::'ocb.payments.widget.new'|translate}}
                </bd-button>
            </div>
        </div>

    </section>
</div>