//$primary-color: #0EBC73;
//$primary-dark: #008c44;
//$second-color: #e9a72e;
//$primary-txt-color: #000;
//$gray-1: #f8f8f8;
//$gray-2: #b5b5b5;

.form-group-label-value{
  padding-top: 7px;
}
.form-group-label-bold{
  font-weight: bold;
}
.form-group-label{
  margin-top: 7px;
}

.batch{
  .bd-msg-content {
    margin-bottom: unset;
  }
  .form-group{
    margin-bottom: 15px;
  }
  .form-group-detail{
    display: inline-block;
    width: 100%;
  }
  .break-line{
    margin: -24px 0px 15px 0px;
    padding: 0px 10px;
    .line{
      border-top: 1px dashed #cacaca;
    }
  }
  .upload-description{
    font-size: 13px;
    display: block;
    color: #c1c1c1;
  }
  .non-uppercase{
    text-transform: unset;
  }
  .non-padding{
    padding: 2px 0px;
  }
  .a-button{
    font-size: 13px;
  }
  .white-form{
    background-color: white;
  }
  .group-detail{
    margin-top: 15px;
    .control-label {
      text-align: left;
      color: #b5b5b5;
    }
  }
  @media screen and (max-width: 767px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding-right: 0px;
      padding-left: 0px;
    }
    .bd-table__header {
      padding-top: 4.6%;
    }
    .upload-description{
      margin: 5px 0px;
    }
    .group-detail{
      padding: 0px 15px;
    }
    .white-form{
      .button-group{
        padding: 0px 15px;
      }
    }
    .table-clear{
      clear: both;
    }
    .dashed-line-table-row{
      margin-top: 5px;
      border-top: 1px dashed #cacaca;
      padding-top: 14px;
    }
    .row-index-mobile{
      margin-top: 3px;
    }
    .row-label-mobile{
      color: #cacaca;
    }
    .bd-table--bootstrap-grid .bd-table__cell-index {
      padding-left: 10px !important;
      padding-right: 10px;
    }
    .bd-table--bootstrap-grid .bd-table__cell {
      padding-left: 10px;
      padding-right: 10px;
    }
    .form-horizontal .form-group {
      margin-right: 0px;
      margin-left: 0px;
    }
    .form-control {
      height: 42px;
      padding: 11px 12px;
    }
    .form-row{
    @extend .clear;
      margin-left: -10px;
      margin-right: -10px;
      display: block;
      width: auto;

      &:last-child{
        margin-bottom: 0;
        .form-control{
          margin-bottom: 0;
        }
      }
      .lb{
        float: left;
        width: 28%;
        padding: 10px;
        min-height: 1px;
        color: #b5b5b5;
        line-height: 25px;
        &.pn-tt{
          color: #000;
        }
      }
      .control{
        float: left;
        width: 54%;
        padding: 0 10px;
        min-height: 1px;
        line-height: 45px;
        .control-note{
          line-height: normal;
          font-size: 12px;
          color: #b5b5b5;
          margin-top: 10px;
        }
      }
      .subfix{
        float: left;
        width: 18%;
        padding: 0 10px;
        min-height: 1px;
      }
    }

    .addfile-block{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      >.form-control{
        padding-right: 45px;
      }
      .file-name{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: static;
        color: #ccc;
      }
      .filelb{
        position: absolute;
        top: 0;
        right: 0;
        //width: 45px;
        width: 50px;
        height: 34px;
        padding: 11px 0;
        .icon-upload{
          height: 20px;
          width: 20px;
          display: block;
          margin: 0 auto;
        }
      }
      & + .btn{
        margin-left: 20px;
        width: 100px;
      }
    }
    .filelb{
      cursor: pointer;
      input{
        display: none;
      }
    }

    .template-download{
      margin-top: 10px;
    }

    .error {
      color:#ef3548;
    }
    .detail-item {
      float: left;
      width: 100%;
      background-image: -webkit-linear-gradient(#FAFAFA 0%, #fff 100%);
      background-image: -o-linear-gradient(#FAFAFA 0%, #fff 100%);
      background-image: linear-gradient(#FAFAFA 0%, #fff 100%);
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.11);
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }
    .bd-button{
      margin: 5px 0;
      padding: 2px 0px;
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .bd-table__header {
      padding-top: 1.8%;
    }
    .upload-description{
      margin: 5px 160px 5px 0px;
    }
    .white-form{
      button{
        margin-left: 15px;
      }
    }
    .hide-table-column{
      display: none;
    }
    .no-padding-left-right{
      padding-right: 0px;
      padding-left: 0px;
    }
    .form-row{
    @extend .clear;
      margin-left: -10px;
      margin-right: -10px;
      display: block;
      width: auto;

      &:last-child{
        margin-bottom: 0;
        .form-control{
          margin-bottom: 0;
        }
      }
      .lb{
        float: left;
        width: 28%;
        padding: 10px;
        min-height: 1px;
        color: #b5b5b5;
        line-height: 25px;
        &.pn-tt{
          color: #000;
        }
      }
      .control{
        float: left;
        width: 54%;
        padding: 0 10px;
        min-height: 1px;
        line-height: 45px;
        .control-note{
          line-height: normal;
          font-size: 12px;
          color: #b5b5b5;
          margin-top: 10px;
        }
      }
      .subfix{
        float: left;
        width: 18%;
        padding: 0 10px;
        min-height: 1px;
      }
    }

    .addfile-block{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 97%;
      >.form-control{
        padding-right: 45px;
      }
      .file-name{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: static;
        color: #ccc;
      }
      .filelb{
        position: absolute;
        top: 7px;
        right: 0;
        //width: 45px;
        width: 50px;
        height: 34px;
        padding: 6px 0;
        .icon-upload{
          height: 20px;
          width: 20px;
          display: block;
          margin: 0 auto;
        }
      }
      & + .btn{
        margin-left: 20px;
        width: 100px;
      }
    }
    .filelb{
      cursor: pointer;
      input{
        display: none;
      }
    }

    .template-download{
      margin-top: 10px;
    }

    .error {
      color:#ef3548;
    }
    .detail-item {
      float: left;
      width: 100%;
      background-image: -webkit-linear-gradient(#FAFAFA 0%, #fff 100%);
      background-image: -o-linear-gradient(#FAFAFA 0%, #fff 100%);
      background-image: linear-gradient(#FAFAFA 0%, #fff 100%);
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.11);
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }
    .bd-button{
      width: 134px;
    }
  }
}