<form novalidate name="futureDatePanelForm" ng-submit="onSubmit(futureDatePanelForm)">
    <bd-radio-select bd-model="inputData.selectedMode">

        <div class="bd-item-property row">
            <div class="col-xs-12">
                <bd-radio-option bd-option-value="FUTURE_DATE_TYPES.PERIOD" class="row__inline-block--middle">
                    <div class="row__inline-block--middle row__inline-block--adjacent">
                        {{:: 'NastêpnE' | translate}}
                    </div>
                    <div class="row__inline-block--middle row__inline-block--adjacent" style="width:40px;">
                        <input
                                bd-type="number"
                                class="input-field"
                                ng-model="inputData.period"
                                name="period"
                                ng-required="rejectedList.filterData.periodType.model===rejectedList.periodTypes.LAST"
                                model-date="rejectedList.filterData.last.dateFrom"
                                ng-pattern="/^\d+$/"/>
                    </div>
                    <div class="row__inline-block--middle" style="width:100px;">
                        <ui-select ng-model="inputData.periodRange"
                                   theme="bootstrap"
                                   reset-search-input="false">
                            <ui-select-match placeholder="{{:: 'raiff.payments.rejected.list.filter.type.last.placeholder' | translate }}">
                                {{ 'raiff.payments.rejected.list.filter.type.last.types.'+ $select.selected | translate }}
                            </ui-select-match>
                            <ui-select-choices repeat="item in FUTURE_DATE_RANGES_LIST">
                                {{ :: 'raiff.payments.rejected.list.filter.type.last.types.'+ item | translate }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </bd-radio-option>

            </div>
        </div>

        <div class="eb-validation-messages col-xs-12" ng-if="filterForm.last_value.$invalid">
            <div class="messages">
                <div class="validation-message animate-on" ng-if="filterForm.last_value.$error.required">
                    {{::'raiff.payments.rejected.select.filter.EMPTY_PERIOD'|translate}} {{ 'raiff.payments.rejected.list.filter.type.last.types.'+rejectedList.filterData.last.type.selected | translate }}
                </div>
                <div class="validation-message animate-on" ng-if="filterForm.last_value.$error.pattern">
                    {{::'raiff.payments.rejected.select.filter.INCORRECT_PERIOD'|translate}} {{ 'raiff.payments.rejected.list.filter.type.last.types.'+rejectedList.filterData.last.type.selected | translate }}
                </div>
                <div class="validation-message animate-on" ng-if="filterForm.last_value.$error.mindate">
                    {{::'raiff.payments.rejected.select.filter.INCORRECT_DATE_SEARCH' | translate | regexReplace : '##months##': rejectedList.maxOffset }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row--spacing col-md-10 col-sm-12">
                <bd-radio-option bd-option-value="FUTURE_DATE_TYPES.RANGE" class="row__inline-block--middle">
                    <div class="row__inline-block--middle row__inline-block--adjacent">
                        {{:: 'raiff.payments.rejected.list.filter.type.range.label' | translate}}
                    </div>
                    <div class="row__inline-block--middle row__inline-block--adjacent">
                        {{::'raiff.payments.rejected.list.filter.type.range.from.label'|translate}}
                    </div>
                    <div class="row__inline-block--middle row__inline-block--adjacent" style="width:140px;">
                        <input name="dateFromInput_delgate" hidden ng-model="rejectedList.filterData.range.dateFrom" min-date="rejectedList.minDate" model-date="rejectedList.filterData.range.dateFrom" ng-required="rejectedList.filterData.periodType.model===rejectedList.periodTypes.RANGE"/>
                        <rb-datepicker ng-model="rejectedList.filterData.range.dateFrom"
                                       ng-model-options="{ allowInvalid: false }"
                                       rb-name="dateFromInput"
                                       max-search-date
                                       style="width: 140px;"></rb-datepicker>
                    </div>
                    <div class="row__inline-block--middle row__inline-block--adjacent">
                        {{::'raiff.payments.rejected.list.filter.type.range.to.label'|translate}}
                    </div>
                    <div class="row__inline-block--middle" style="width:140px;">
                        <input name="dateToInput_delgate" hidden ng-model="rejectedList.filterData.range.dateTo" min-date="rejectedList.filterData.range.dateFrom" model-date="rejectedList.filterData.range.dateTo" ng-required="rejectedList.filterData.periodType.model===rejectedList.periodTypes.RANGE"/>
                        <rb-datepicker ng-model="rejectedList.filterData.range.dateTo"
                                       empty-date
                                       ng-model-options="{ allowInvalid: false }"
                                       rb-name="dateToInput"
                                       max-search-date
                                       style="width: 140px;"></rb-datepicker>
                    </div>
                </bd-radio-option>

            </div>

            <div class="row--spacing col-md-2 col-sm-12" style="text-align: right;">
                <bd-button class="bd-button__primary" type="submit">{{::'raiff.payments.rejected.select.filter.button.action'|translate}}</bd-button>
            </div>

        </div>

        <div class="eb-validation-messages col-xs-12" ng-if="filterForm.dateToInput_delgate.$invalid">
            <div class="messages">
                <div class="validation-message animate-on" ng-if="filterForm.dateToInput_delgate.$error.required && !filterForm.dateToInput.$error.date">
                    {{::'raiff.payments.rejected.select.filter.EMPTY_DATE_TO'|translate}}
                </div>
                <div class="validation-message animate-on" ng-if="filterForm.dateToInput.$error.date">
                    {{::'raiff.payments.rejected.select.filter.INCORRECT_DATE_TO'|translate}}
                </div>
                <div class="validation-message animate-on" ng-if="filterForm.dateToInput_delgate.$error.mindate">
                    {{::'raiff.payments.rejected.select.filter.TOO_LATE_FIRST_DATE' | translate }}
                </div>
                <div class="validation-message animate-on" ng-if="filterForm.dateToInput_delgate.$error.future">
                    {{::'raiff.payments.rejected.select.filter.FUTURE_DATE' | translate }}
                </div>
            </div>
        </div>
        <div class="eb-validation-messages col-xs-12" ng-if="filterForm.dateFromInput_delgate.$invalid">
            <div class="messages">
                <div class="validation-message animate-on" ng-if="filterForm.dateFromInput_delgate.$error.required && !filterForm.dateFromInput.$error.date">
                    {{::'raiff.payments.rejected.select.filter.EMPTY_DATE_FROM'|translate}}
                </div>
                <div class="validation-message animate-on" ng-if="filterForm.dateFromInput.$error.date">
                    {{::'raiff.payments.rejected.select.filter.INCORRECT_DATE_FROM'|translate}}
                </div>
                <div class="validation-message animate-on" ng-if="filterForm.dateFromInput_delgate.$error.mindate">
                    {{::'raiff.payments.rejected.select.filter.INCORRECT_DATE_SEARCH' | translate | regexReplace : '##months##': rejectedList.maxOffset }}
                </div>
            </div>
        </div>

    </bd-radio-select>
</form>