<div ng-controller="NewZusPaymentFillController">

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.sender_account' | translate }}">
        <input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>
        <rb-account-select rb-account-id="payment.formData.remitterAccountId"
                           rb-on-account-select="onAccountSelected($account, $oldAccount)"
                           rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                           rb-product-list-name="TRANSFER_ZUS_FROM_LIST"
                           rb-account-select-params="remitterAccountSelectParams"
                           rb-account="payment.items.senderAccount"></rb-account-select>
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.remitterAccountId"
                      label="{{ ::'raiff.payments.new.zus.fill.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
        <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                   currency="{{ payment.items.senderAccount.currency }}"></bd-amount>
    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow"
                      label="{{ ::'raiff.payments.new.zus.fill.recipient_data' | translate }}">
        <textarea name="taxpayerData"
                  ng-model="payment.formData.recipientName"
                  required
                  ng-pattern="taxpayerRegexp"
                  class="input-field input-area--party-data"
                  placeholder="{{ ::'raiff.payments.new.zus.fill.recipient_data.placeholder' | translate }}"></textarea>

        <eb-validation-messages eb-name="taxpayerData">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.recipient_data.EMPTY_PAYER' | translate }}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.recipient_data.TOO_LONG_PAYER_ZUS' | translate }}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <!-- W PACZCE 2 -->
    <!--<bd-item-property label="{{ ::'raiff.payments.new.zus.fill.taxpayer_select' | translate }}">-->
        <!--<rb-zus-taxpayer-select-->
                <!--rb-zus-taxpayer="payment.items.taxpayer"-->
                <!--rb-on-clear-taxpayer="clearTaxpayer()"-->
                <!--rb-on-select-taxpayer="selectTaxpayer($taxpayer)"-->
                <!--rb-taxpayer-clear-text="{{ ::'raiff.payments.new.zus.fill.taxpayer_select.clear' | translate }}"-->
                <!--rb-placeholder-text="{{ ::'raiff.payments.new.zus.fill.taxpayer_select.placeholder' | translate }}"></rb-zus-taxpayer-select>-->
    <!--</bd-item-property>-->

    <!--<bd-item-property label="{{ ::'raiff.payments.new.zus.fill.taxpayer' | translate }}">-->
        <!--<input name="taxpayer"-->
               <!--ng-model="payment.formData.taxpayer"-->
               <!--required-->
               <!--class="input-field"-->
               <!--placeholder="{{ ::'raiff.payments.new.zus.fill.taxpayer.placeholder' | translate }}" />-->

    <!--</bd-item-property>-->

    <!--<eb-validation-messages eb-name="taxpayer">-->
        <!--<div eb-message-key="required" class="validation-message animate-on">-->
            <!--{{ ::'raiff.payments.new.zus.fill.recipient_data.EMPTY_PAYER' | translate }}-->
        <!--</div>-->
    <!--</eb-validation-messages>-->

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.taxpayer_nip' | translate }}">
        <input name="taxpayerNip"
                  ng-model="payment.formData.nip"
                  required
                  nip
                  class="input-field"
                  placeholder="{{ ::'raiff.payments.new.zus.fill.taxpayer_nip.placeholder' | translate }}" />

        <eb-validation-messages eb-name="taxpayerNip">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.taxpayer_nip.EMPTY_NIP' | translate }}
            </div>
            <div eb-message-key="nip" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.taxpayer_nip.INCORRECT_NIP' | translate }}
            </div>
        </eb-validation-messages>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.taxpayer_supplementary_id_type' | translate }}">
        <ui-select ng-model="payment.formData.secondaryIdType"
                   theme="bootstrap"
                   on-select="onSecondaryIdTypeChanged(payment.formData.secondaryIdType)"
                   placeholder="{{ ::'raiff.payments.new.zus.fill.taxpayer_supplementary_id_type.placeholder' | translate }}"
                   required>
            <ui-select-match>
                {{ 'raiff.payments.new.zus.fill.taxpayer_supplementary_id_type.' + $select.selected | translate }}
            </ui-select-match>
            <ui-select-choices repeat="supplementaryId in payment.meta.zusSuplementaryIds track by $index">
                <div ng-bind-html="::'raiff.payments.new.zus.fill.taxpayer_supplementary_id_type.' + supplementaryId | translate | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.taxpayer_supplementary_id' | translate }}">
        <input name="taxpayerSupplementaryId"
               ng-model="payment.formData.secondaryIdNo"
               required
               class="input-field"
               pesel="payment.formData.secondaryIdType === 'PESEL'"
               regon="payment.formData.secondaryIdType === 'REGON'"
               id-card="payment.formData.secondaryIdType === 'ID_CARD'"
               ng-disabled="!payment.formData.secondaryIdType"
               placeholder="{{ 'raiff.payments.new.zus.fill.taxpayer_supplementary_id.placeholder.' + (payment.formData.secondaryIdType || 'none')  | translate }}"/>
        <eb-validation-messages eb-name="taxpayerSupplementaryId">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.taxpayer_supplementary_id.EMPTY_ADD_ID_NUMBER' | translate }}
            </div>
            <div eb-message-key="pesel" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.taxpayer_supplementary_id.INCORRECT_ID_NUMBER_ZUS' | translate }}
            </div>
            <div eb-message-key="regon" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.taxpayer_supplementary_id.INCORRECT_ID_NUMBER_ZUS' | translate }}
            </div>
            <div eb-message-key="idCard" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.taxpayer_supplementary_id.INCORRECT_ID_NUMBER_ZUS' | translate }}
            </div>
        </eb-validation-messages>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.payment_type' | translate }}">
        <ui-select ng-model="payment.formData.paymentType"
                   theme="bootstrap"
                   placeholder="{{ ::'raiff.payments.new.zus.fill.payment_type.placeholder' | translate }}"
                   ng-init="payment.formData.paymentType = payment.meta.zusPaymentTypes[0]"
                   required>
            <ui-select-match>
                {{ 'raiff.payments.zus.payment_type.' + $select.selected | translate}}
            </ui-select-match>
            <ui-select-choices repeat="paymentType in payment.meta.zusPaymentTypes track by $index">
                <div ng-bind-html="::'raiff.payments.zus.payment_type.' + paymentType | translate  | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.declaration_date' | translate }}">
        <input name="declarationDate"
               ng-model="payment.formData.declarationDate"
               class="input-field"
               required
               ng-pattern="declarationDateRegexp"
               placeholder="{{ ::'raiff.payments.new.zus.fill.declaration_date.placeholder' | translate }}"/>
        <eb-validation-messages eb-name="declarationDate">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.declaration_date.EMPTY_DECLARATION_DATE' | translate }}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.declaration_date.INCORRECT_DECLARATION_DATE' | translate }}
            </div>
        </eb-validation-messages>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.declaraton_no' | translate }}">
        <input name="declarationNo"
               ng-model="payment.formData.declarationNo"
               class="input-field"
               required
               ng-pattern="declarationNumberRegexps[payment.formData.paymentType]"
               placeholder="{{ ::'raiff.payments.new.zus.fill.declaraton_no.placeholder' | translate }}"/>

        <eb-validation-messages eb-name="declarationNo">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.declaraton_no.EMPTY_DECLARATION_NUMBER' | translate }}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{ 'raiff.payments.new.zus.fill.declaraton_no.INCORRECT_DECLARATION_NUMBER' + ('TYPE_S TYPE_M'.indexOf(payment.formData.paymentType) >= 0 ? '' : '_A') | translate }}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.additional_info' | translate }}">
        <input name="additionalInfo"
               ng-model="payment.formData.additionalInfo"
               class="input-field"
               required
               bd-novalidate-when="{{ 'TYPE_S TYPE_M'.indexOf(payment.formData.paymentType) >= 0 }}"
               ng-disabled="'TYPE_S TYPE_M'.indexOf(payment.formData.paymentType) >= 0"
               ng-pattern="additionalInfoRegexp"
               placeholder="{{ ::'raiff.payments.new.zus.fill.additional_info.placeholder' | translate }}"/>

        <eb-validation-messages eb-name="additionalInfo">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.additional_info.EMPTY_ ADDITIONAL_INF' | translate }}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.additional_info.TOO_LONG_ADDITIONAL_INF' | translate }}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.execution_date' | translate }}">

        <rb-datepicker rb-form="paymentForm"
                       rb-name="realizationDate"
                       rb-datepicker-options="payment.meta.rbRealizationDateOptions"
                       ng-model="payment.formData.realizationDate"
                       rb-date-disabled="!payment.meta.isFuturePaymentAllowed"
                       rb-required="true">

        </rb-datepicker>

        <eb-validation-messages eb-name="realizationDate">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.us.fill.execution_date.EMPTY_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="date" class="validation-message animate-on">
                {{::'raiff.payments.new.us.fill.execution_date.INCORRECT_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="rbDatepickerFormat" class="validation-message animate-on">
                {{::'raiff.payments.new.us.fill.execution_date.INCORRECT_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="bdMinDate" class="validation-message animate-on">
                {{::'raiff.payments.new.us.fill.execution_date.EARLIER_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="bdMaxDate" class="validation-message animate-on">
                {{ payment.meta.laterExecutedDateMsg }}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-panel bd-panel-heading="{{ ::'raiff.payments.new.zus.fill.payment_options' | translate }}">

        <bd-checkbox-select bd-checkbox-select-values="payment.formData.insurancePremiums">

            <bd-checkbox-select-option ng-repeat="insuranceType in payment.meta.zusInsuranceTypes"
                                       bd-on-check="payment.formData.insurancePremiums[insuranceType].currency = 'PLN'"
                                       bd-checkbox-key="{{ insuranceType }}">


                <bd-item-property
                        label="{{ ::'raiff.payments.new.zus.fill.payment_option.' + insuranceType | translate }}">

                    <div class="bd-pair">
                        <div class="bd-pair__value">
                            <input ng-model="payment.formData.insurancePremiums[insuranceType].amount"
                                   ng-disabled="!payment.formData.insurancePremiums[insuranceType]"
                                   type="number"
                                   class="input-field"
                                   min="0.01"
                                   bd-novalidate-when="{{ !payment.formData.insurancePremiums[insuranceType] }}"
                                   bd-no-more-than="{ 'balance' : payment.items.senderAccount.accessibleAssets, 'elixir' : payment.meta.maxElixirAmount }"
                                   ng-pattern="AMOUNT_PATTERN"
                                   ng-model-options="{ allowInvalid: true }"
                                   step="0.01"
                                   required
                                   name="{{ insuranceType }}Amount"/>
                        </div>
                        <div class="bd-pair__value">
                            <ui-select ng-model="payment.formData.insurancePremiums[insuranceType].currency"
                                       theme="bootstrap"
                                       ng-init="payment.formData.insurancePremiums[insuranceType].currency = 'PLN'"
                                       ng-required="payment.formData.insurancePremiums[insuranceType]"
                                       name="{{ insuranceType }}Currency"
                                       ng-disabled="true">
                                <ui-select-match placeholder="Waluta">
                                    {{$select.selected}}
                                </ui-select-match>
                                <ui-select-choices repeat="currency in ['PLN'] track by $index">
                                    <div ng-bind-html="currency | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <eb-validation-messages eb-name="{{ insuranceType }}Amount">
                        <div eb-message-key="required" class="validation-message animate-on">
                            {{ ::'raiff.payments.new.zus.fill.amount.INVALID_NUMBER_AMOUNT' | translate }}
                        </div>
                        <div eb-message-key="number" class="validation-message animate-on">
                            {{ ::'raiff.payments.new.zus.fill.amount.INVALID_NUMBER_AMOUNT' | translate }}
                        </div>
                        <div eb-message-key="pattern" class="validation-message animate-on">
                            {{ ::'raiff.payments.new.zus.fill.amount.INVALID_NUMBER_AMOUNT' | translate }}
                        </div>
                        <div eb-message-key="ngMin" class="validation-message animate-on">
                            {{::'raiff.payments.new.zus.fill.amount.INCORRECT_AMOUNT'|translate}}
                        </div>
                        <div eb-message-key="balance" class="validation-message animate-on">
                            {{ ::'raiff.payments.new.zus.fill.amount.AMOUNT_EXCEEDED_FUNDS' | translate }}
                        </div>
                        <div eb-message-key="elixir" class="validation-message animate-on">
                            {{ ::'raiff.payments.new.zus.fill.amount.NOT_ELIXIR_PMNT' | translate }}
                        </div>
                    </eb-validation-messages>

                </bd-item-property>
            </bd-checkbox-select-option>
        </bd-checkbox-select>

        <bd-item-property class="bd-item-property--multirow" label="{{ ::'raiff.payments.new.zus.fill.total_payment' | translate }}" ng-show="totalPaymentAmount.length > 0">
            <div class="rb-payments-new-zus-fill__summary">
                <div ng-repeat="summary in totalPaymentAmount" class="rb-payments-new-zus-fill__summary-entry">
                    <bd-amount amount="summary.amount" currency="{{ summary.currency }}"></bd-amount>
                </div>
            </div>
        </bd-item-property>

        <input type="hidden"
               name="insuranceErrors"
               ng-model="payment.formData.insurancePremiums"
               ng-model-options="{ allowInvalid: true }"
               bd-matches-none-of="insurancesValidators" />

        <eb-validation-messages eb-name="insuranceErrors">
            <div eb-message-key="atLeastOne" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.payment_options.AT_LEAST_ONE_INSUR' | translate }}
            </div>
            <div eb-message-key="amountExceedingFunds" class="validation-message animate-on">
                {{ ::'raiff.payments.new.zus.fill.payment_options.AMOUNT_EXCEEDED_FUNDS' | translate }}
            </div>
        </eb-validation-messages>

    </bd-panel>

</div>