<div ng-controller="NewZusPaymentFillController">

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.sender_account' | translate }}">
        <input name="senderAccountId" hidden ng-model="payment.formData.senderAccountId" required/>
        <rb-account-select rb-account-id="payment.formData.senderAccountId"
                           rb-account="payment.items.senderAccount"></rb-account-select>
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.senderAccountId"
                      label="{{ ::'raiff.payments.new.zus.fill.accessible_assets' | translate }}">
        <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                   currency="{{ payment.items.senderAccount.currency }}"></bd-amount>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.taxpayer' | translate }}">
        <rb-zus-taxpayer-select
                rb-zus-taxpayer="payment.items.taxpayer"
                rb-placeholder-text="{{ ::'raiff.payments.new.zus.fill.taxpayer.placeholder' | translate }}"></rb-zus-taxpayer-select>
    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow"
                      label="{{ ::'raiff.payments.new.zus.fill.recipient_data' | translate }}">
        <textarea name="taxpayerData"
                  ng-model="payment.formData.taxpayerData"
                  required
                  class="input-field"
                  placeholder="{{ ::'raiff.payments.new.zus.fill.recipient_data.placeholder' | translate }}"></textarea>

    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.taxpayer_nip' | translate }}">
        <textarea name="taxpayerNip"
                  ng-model="payment.formData.taxpayerNip"
                  required
                  class="input-field"
                  placeholder="{{ ::'raiff.payments.new.zus.fill.taxpayer_nip.placeholder' | translate }}"></textarea>

    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.taxpayer_supplementary_id_type' | translate }}">
        <ui-select ng-model="payment.formData.taxpayerSupplementaryIdType"
                   theme="bootstrap"
                   ng-init="payment.formData.taxpayerSupplementaryIdType = payment.meta.zusSuplementaryIds[0]"
                   required>
            <ui-select-match>
                {{ 'raiff.payments.new.zus.fill.taxpayer_supplementary_id_type.' + $select.selected | translate }}
            </ui-select-match>
            <ui-select-choices repeat="supplementaryId in payment.meta.zusSuplementaryIds track by $index">
                <div ng-bind-html="::'raiff.payments.new.zus.fill.taxpayer_supplementary_id_type.' + supplementaryId | translate | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.taxpayer_supplementary_id' | translate }}">
        <input name="taxpayerNip"
               ng-model="payment.formData.taxpayerSupplementaryId"
               required
               class="input-field"
               placeholder="{{ ::'raiff.payments.new.zus.fill.taxpayer_nip.placeholder' | translate }}"/>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.payment_type' | translate }}">
        <ui-select ng-model="payment.formData.paymentType"
                   theme="bootstrap"
                   ng-init="payment.formData.paymentType = payment.meta.zusPaymentTypes[0]"
                   required>
            <ui-select-match>
                {{ 'raiff.payments.new.zus.fill.payment_type.' + $select.selected | translate}}
            </ui-select-match>
            <ui-select-choices repeat="paymentType in payment.meta.zusPaymentTypes track by $index">
                <div ng-bind-html="::'raiff.payments.new.zus.fill.payment_type.' + paymentType | translate  | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.declaration_date' | translate }}">
        <input name="declarationDate"
               ng-model="payment.formData.declarationDate"
               class="input-field"
               placeholder="{{ ::'raiff.payments.new.zus.fill.declaration_date.placeholder' | translate }}"/>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.declaraton_no' | translate }}">
        <input name="declarationNo"
               ng-model="payment.formData.declarationNumber"
               class="input-field"
               placeholder="{{ ::'raiff.payments.new.zus.fill.declaraton_no.placeholder' | translate }}"/>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.additional_info' | translate }}">
        <input name="declarationNo"
               ng-model="payment.formData.declarationNumber"
               class="input-field"
               placeholder="{{ ::'raiff.payments.new.zus.fill.additional_info.placeholder' | translate }}"/>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.zus.fill.execution_date' | translate }}">
        <bd-date-input name="executionDate"
                       ng-model="payment.formData.executionDate"
                       ng-disabled="payment.items.senderAccount.productType === 'CREDIT'"
                       bd-attr-class="input-field"
                       bd-attr-placeholder="{{ ::'raiff.payments.new.zus.fill.execution_date.placeholder' | translate }}"
                       required></bd-date-input>
    </bd-item-property>

    <bd-panel bd-panel-heading="{{ ::'raiff.payments.new.zus.fill.payment_options' | translate }}">

        <bd-checkbox-select bd-checkbox-select-values="payment.formData.insurances">
            <bd-checkbox-select-option ng-repeat="insuranceType in payment.meta.zusInsuranceTypes"
                                       bd-on-uncheck="payment.formData.insurances[insuranceType].amount = undefined"
                                       bd-checkbox-key="{{ insuranceType }}">


                <bd-item-property
                        label="{{ ::'raiff.payments.new.zus.fill.payment_option.' + insuranceType | translate }}">

                    <div class="bd-pair">
                        <div class="bd-pair__value">
                            <input ng-model="payment.formData.insurances[insuranceType].amount"
                                   type="number"
                                   class="input-field"
                                   ng-disabled="!payment.formData.insurances[insuranceType].active"
                                   name="amount"/>
                        </div>
                        <div class="bd-pair__value">
                            <ui-select ng-model="payment.formData.insurances[insuranceType].currency"
                                       theme="bootstrap"
                                       ng-init="payment.formData.insurances[insuranceType].currency = 'PLN'"
                                       ng-disabled="!payment.formData.insurances[insuranceType].active">
                                <ui-select-match placeholder="Waluta">
                                    {{$select.selected}}
                                </ui-select-match>
                                <ui-select-choices repeat="currency in ['PLN', 'EUR', 'USD'] track by $index">
                                    <div ng-bind-html="currency | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </bd-item-property>
            </bd-checkbox-select-option>
        </bd-checkbox-select>

        <bd-item-property class="bd-item-property--multirow" label="{{ ::'raiff.payments.new.zus.fill.total_payment' | translate }}" ng-if="totalPaymentAmount.length > 0">
            <div class="rb-payments-new-zus-fill__summary">
                <div ng-repeat="summary in totalPaymentAmount" class="rb-payments-new-zus-fill__summary-entry">
                    <bd-amount amount="summary.amount" currency="{{ summary.currency }}"></bd-amount>
                </div>
            </div>
        </bd-item-property>




    </bd-panel>

</div>