<div class="rb-us-form-symbol-select">
    <ui-select ng-model="selection.model" theme="bootstrap" on-select="select($item, $model)" ng-disabled="isDisabled">
        <ui-select-match placeholder="{{placeholder}}">
            {{ $select.selected.code }}
        </ui-select-match>
        <ui-select-choices repeat="formSymbol.code as formSymbol in formSymbolList track by $index">
            <div ng-bind-html="formSymbol.code | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>