<rb-content-view class="rb-content-view--solid fixTableStanding payments-standing-list">
    <bd-header>{{::"ocb.payments.standing.list.header"|translate}}</bd-header>

    <div class="row">
        <div class="col-sm-12 col-md-2 ">
            <bd-button ng-click="onNewStandingOrderClick()" class="bd-button__primary bd-md-button-margin">{{::'ocb.payments.standing.button.new.label'|translate}}</bd-button>
        </div>
    </div>

    <bd-table bd-type="typeZ2"
              bd-table-params="table.tableConfig"
              bd-table-control="table.tableControl"
              bd-table-data="table.tableData"
              bd-table-promise="listPromise"
              bd-table-meta="{
                    'first': {
                        'title': '##ocb.payments.standing.list.header.name',
                        'data': 'shortName'
                    },
                    'second': {
                        'title': '##ocb.payments.standing.list.header.realizationDate',
                        'data': 'frequency_nextDate'
                    },
                    'third': {
                        'title': '##ocb.payments.standing.list.header.amount',
                        'data': [
                            'amount',
                            'currency'
                        ]
                    },
                    'fourth': {
                        'title': '##ocb.payments.standing.list.header.recipientData',
                        'data': 'beneficiary'
                    },
                    'fifth': {
                        'title': '##ocb.payments.standing.list.header.recipientAccount',
                        'data': 'creditAccount'
                    }
                }">

        <bd-details-section bd-table-row-details>
            <div ng-if="$data">
                <ng-include src="::paymentDetailsTemplate"></ng-include>

                <bd-details-action-section>
                    <div class="row">
                        <div class="bd-grid__col--sm-16 desktop-only" style="text-align: right;">
                            <bd-button ng-click="onButtonPressed('edit', $data)" ng-if="isInputter"      class="bd-button bd-hmargin-sm">{{::'ocb.payments.standing.list.details.insurance.buttons.edit' | translate}}</bd-button>
                            <bd-button ng-click="onButtonPressed('delete', $data)"     class="bd-button bd-hmargin-sm" style="margin-left: 10px;">{{::'ocb.payments.standing.list.details.insurance.buttons.delete' | translate}}</bd-button>
                        </div>
                        <div class="bd-grid__col--sm-16 mobile-only bd-center-text">
                            <bd-button ng-click="onButtonPressed('edit', $data)" ng-if="isInputter"      class="bd-button bd-hmargin-sm">{{::'ocb.payments.standing.list.details.insurance.buttons.edit' | translate}}</bd-button>
                            <bd-button ng-click="onButtonPressed('delete', $data)"     class="bd-button bd-hmargin-sm">{{::'ocb.payments.standing.list.details.insurance.buttons.delete' | translate}}</bd-button>
                        </div>
                    </div>
                </bd-details-action-section>

            </div>

        </bd-details-section>
    </bd-table>

</rb-content-view>