<rb-content-view class="rb-content-view--framed form taxpayers-view">
    <bd-header>{{::"raiff.payments.taxpayers.label"|translate}}</bd-header>

    <div class="section-wrapper">

        <form>
            <div class="row-line">

                <div class="row-line__cell">
                    <bd-item-property label="{{::'raiff.payments.taxpayers.type.label'|translate}}">
                        <ui-select ng-model="types.currentType"
                                   theme="bootstrap"
                                   reset-search-input="false"
                                   on-select="table.tableControl.invalidate()"
                                   required>
                            <ui-select-match placeholder="{{:: 'raiff.payments.taxpayers.select.type.placeholder' | translate }}">
                                {{ 'raiff.payments.taxpayers.select.type.' + $select.selected.code | translate }}
                            </ui-select-match>
                            <ui-select-choices repeat="type in types.availableTypesList">
                                {{ :: 'raiff.payments.taxpayers.select.type.' + type.code | translate }}
                            </ui-select-choices>
                        </ui-select>

                    </bd-item-property>
                </div>

                <div class="row-line__cell row-line__cell--right-button">
                    <bd-button class="bd-button__primary" ng-click="onTaxpayerCreate()" type="button">
                        {{::'raiff.payments.taxpayers.new.button'|translate}}
                    </bd-button>
                </div>
            </div>

            <div class="accounts-transaction-list-filter">
                <div class="row-line">
                    <div class="row-line__cell">
                        <bd-item-property label="{{::'raiff.payments.taxpayers.select.filter.text.label' | translate}}">
                            <input class="input-field" bd-type="text" ng-model="table.operationTitle" name="contentText" style="width: 100%; height: 34px;"/>
                        </bd-item-property>
                    </div>
                    <div class="row-line__cell row-line__cell--right-button">
                        <bd-button class="bd-button" ng-click="table.tableControl.invalidate()" type="submit">{{::'raiff.payments.taxpayers.select.filter.button.action'|translate}}</bd-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="section-wrapper">
        <bd-table bd-type="typeP"
                  bd-table-params="table.tableConfig"
                  bd-table-control="table.tableControl"
                  bd-table-data="table.tableData"
                  bd-table-promise="taxpayerListPromise"
                  bd-table-meta="{ 'first' : { 'title': '##raiff.payments.taxpayers.list.header.customName.label', 'data' : 'customerName' }, 'second' : { 'title': '##raiff.payments.taxpayers.list.header.data.label', 'data' : 'dataShort' }, 'third' : { 'title': '##raiff.payments.taxpayers.list.header.type.label', 'data' : 'taxpayerTypeMessage' } }">

            <bd-details-section bd-table-row-details>

                <bd-item-property class="eb-item-property--text" label="{{ ::'raiff.payments.taxpayers.details.name.label' | translate }}">
                    {{ $data.customerName }}
                </bd-item-property>

                <bd-item-property class="eb-item-property--text" label="{{ ::'raiff.payments.taxpayers.details.type.label' | translate }}">
                    {{ 'raiff.payments.taxpayers.details.type.' + $data.taxpayerType.code | translate }}
                </bd-item-property>

                <bd-item-property class="eb-item-property--text" label="{{::'raiff.payments.taxpayers.details.data.label'|translate}}">
                    <bd-multiline-text bd-text="$data.data"></bd-multiline-text>
                </bd-item-property>

                <bd-item-property ng-if="$data.taxpayerType.code === 'INSURANCE'" class="eb-item-property--text" label="{{ ::'raiff.payments.taxpayers.details.nip.label' | translate }}">
                    {{ $data.nip }}
                </bd-item-property>

                <bd-item-property class="eb-item-property--text" label="{{ ::'raiff.payments.taxpayers.details.supplementary_id_type.label' | translate }}">
                    {{ ::'raiff.payments.taxpayers.details.supplementary_id_type.' + $data.secondaryIdType | translate }}
                </bd-item-property>

                <bd-item-property class="eb-item-property--text" label="{{ ::'raiff.payments.taxpayers.details.supplementary_id.label' | translate }}">
                    {{ $data.secondaryId }}
                </bd-item-property>

                <bd-details-action-section>

                    <div class="bd-grid bd-form-panel--responsive">
                        <div class="bd-grid__row bd-form-footer">
                            <div class="bd-grid__col--sm-12 desktop-only">
                                <bd-button ng-click="onBack(this)" class="bd-button bd-form-footer__button--negative">{{::'raiff.payments.taxpayers.list.details.back' | translate}}</bd-button>
                                <bd-button ng-click="onTaxpayerEdit($data)" class="bd-button bd-form-footer__button--negative">{{::'raiff.payments.taxpayers.list.details.edit' | translate}}</bd-button>
                                <bd-button ng-click="onTaxpayerRemove($data)" class="bd-button bd-form-footer__button--negative">{{::'raiff.payments.taxpayers.list.details.remove' | translate}}</bd-button>
                            </div>
                            <div class="bd-grid__col--sm-4 desktop-only">
                                <bd-button ng-click="onTransfer($data)" class="bd-button bd-button__primary bd-form-footer__button--positive">{{::'raiff.payments.taxpayers.list.details.transfer' | translate}}</bd-button>
                            </div>

                            <div class="bd-grid__col--sm-16 mobile-only bd-center-text">
                                <bd-button ng-click="onBack(this)" class="bd-button bd-form-footer__button--negative">{{::'raiff.payments.taxpayers.list.details.back' | translate}}</bd-button><br/>
                                <bd-button ng-click="onTaxpayerEdit($data)" class="bd-button bd-form-footer__button--negative">{{::'raiff.payments.taxpayers.list.details.edit' | translate}}</bd-button><br/>
                                <bd-button ng-click="onTaxpayerRemove($data)" class="bd-button bd-form-footer__button--negative">{{::'raiff.payments.taxpayers.list.details.remove' | translate}}</bd-button><br/>
                                <bd-button ng-click="onTransfer($data)" class="bd-button bd-button__primary bd-form-footer__button--positive">{{::'raiff.payments.taxpayers.list.details.transfer' | translate}}</bd-button>
                            </div>
                        </div>
                    </div>

                </bd-details-action-section>

            </bd-details-section>

            <div bd-table-footer>
                <bd-table-pagination></bd-table-pagination>
            </div>

        </bd-table>
    </div>

</rb-content-view>