<div ng-controller="NewDomesticPaymentFillController">

    <bd-item-property label="{{ ::'raiff.payments.new.domestic.fill.sender_account' | translate }}">
        <rb-account-select rb-account-id="payment.formData.remitterAccountId"
                           rb-account="payment.items.senderAccount"
                           bd-attr-required="true"
                           rb-account-list="payment.meta.accountList"
                           rb-account-restrictions="ACCOUNT_RESTRICTION_CREDIT"
                           rb-on-account-select="onSenderAccountSelect()"
                           rb-account="payment.items.senderAccount"></rb-account-select>
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.remitterAccountId"
                      label="{{ ::'raiff.payments.new.domestic.fill.accessible_assets' | translate }}">
        <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                   currency="{{ payment.items.senderAccount.currency }}"></bd-amount>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.domestic.fill.recipient' | translate }}">
        <rb-recipient-select rb-recipient="payment.items.recipient"
                             rb-recipient-clear-text="{{ ::'raiff.payments.new.domestic.fill.recipient.clear' | translate }}"
                             rb-recipient-placeholder-text="{{ ::'raiff.payments.new.domestic.fill.recipient.placeholder' | translate }}"
                             rb-on-recipient-clear="clearRecipient()"
                             rb-on-recipient-select="selectRecipient($recipient)"></rb-recipient-select>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.domestic.fill.recipient_account' | translate }}">
        <input id="recipientAccountNo"
               name="recipientAccountNo"
               ng-model="payment.formData.recipientAccountNo"
               ng-disabled="payment.options.fixedRecipientSelection"
               required
               bban-nrb
               class="input-field"
               type="text"
               placeholder="{{ ::'raiff.payments.new.domestic.fill.recipient_account.placeholder' | translate }}">

        <eb-validation-messages eb-name="recipientAccountNo">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.recipient_account.EMPTY_BNF_ACC'|translate}}
            </div>
            <div eb-message-key="bbanNrb" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.recipient_account.INCORECT_FORMAT_ACC'|translate}}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow"
                      label="{{ ::'raiff.payments.new.domestic.fill.recipient_data' | translate }}">
    <textarea name="recipientName"
              ng-model="payment.formData.recipientName"
              ng-pattern="RECIPIENT_DATA_REGEX"
              required
              bd-split-text
              class="input-field input-area--party-data"
              placeholder="{{ ::'raiff.payments.new.domestic.fill.recipient_data.placeholder' | translate }}"></textarea>

        <eb-validation-messages eb-name="recipientName">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.recipient_data.EMPTY_BNF_DATA'|translate}}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.recipient_data.TOO_LONG_BNF_DATA'|translate}}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow"
                      label="{{ ::'raiff.payments.new.domestic.fill.description' | translate }}">

        <textarea name="description"
                  ng-model="payment.formData.description"
                  class="input-field input-area--payment-description"
                  required
                  bd-split-text
                  ng-maxlength="136"
                  placeholder="{{ ::'raiff.payments.new.domestic.fill.description.placeholder' | translate }}"></textarea>

        <eb-validation-messages eb-name="description">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.description.EMPTY_TITLE'|translate}}
            </div>
            <div eb-message-key="maxlength" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.description.TOO_LONG_TITLE'|translate}}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property class="bd-item-property--multi"
                      label="{{ ::'raiff.payments.new.domestic.fill.amount' | translate }}">
        <div class="bd-item-property--multi__values">
            <div class="bd-item-property__value--primary">
                <input type="number"
                       name="amount"
                       class="input-field"
                       ng-model="payment.formData.amount"
                       min="0.01"
                       step="0.01"
                       bd-no-more-than="{ 'balance' : payment.meta.convertedAssets, 'elixir' : payment.meta.maxElixirAmount }"
                       required
                       placeholder="{{ ::'raiff.payments.new.domestic.fill.amount.placeholder' | translate }}"/>
            </div>
            <div class="bd-item-property__value--secondary">
                <ui-select ng-model="payment.formData.currency"
                           theme="bootstrap"
                           ng-disabled="true"
                           required>
                    <ui-select-match placeholder="Waluta">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="currency in ['PLN'] track by $index">
                        <div ng-bind-html="currency | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <eb-validation-messages eb-name="amount">
            <div eb-message-key="number" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.INVALID_NUMBER_AMOUNT'|translate}}
            </div>
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.EMPTY_AMOUNT'|translate}}
            </div>
            <div eb-message-key="min" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.INCORRECT_AMOUNT'|translate}}
            </div>
            <div eb-message-key="balance" class="validation-message animate-on">
                {{ 'raiff.payments.new.domestic.fill.amount.AMOUNT_EXCEEDED_FUNDS' | translate }}
            </div>
            <div eb-message-key="elixir" class="validation-message animate-on">
                {{ 'raiff.payments.new.domestic.fill.amount.NOT_ELIXIR_PMNT' | translate }}
            </div>
            <div eb-message-key="##todo##" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.AMOUNT_EXCEEDED_FUNDS_NON_RESID'|translate}}
            </div>
            <div eb-message-key="##todo##" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.DAILY_LIMIT_EXCEEDED'|translate}}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.domestic.fill.execution_date' | translate }}">

        <rb-datepicker
                ng-model="payment.formData.realizationDate"
                rb-form="paymentForm"
                rb-name="realizationDate"
                rb-date-disabled="!payment.meta.isFuturePaymentAllowed"
                rb-datepicker-options="payment.meta.rbRealizationDateOptions"
                rb-required="true">

        </rb-datepicker>

        <eb-validation-messages eb-name="realizationDate">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.execution_date.EMPTY_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="bdMinDate" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.execution_date.EARLIER_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="bdMaxDate" class="validation-message animate-on">
                {{ payment.meta.laterExecutedDateMsg }}
            </div>
        </eb-validation-messages>

    </bd-item-property>

</div>