<div ng-controller="NewDomesticPaymentFillController">

    <bd-item-property label="{{ ::'raiff.payments.new.domestic.fill.sender_account' | translate }}">
        <rb-account-select rb-account-id="payment.formData.remitterAccountId"
                           rb-account="payment.items.senderAccount"
                           bd-attr-required="true"
                           rb-account-list="payment.meta.accountList"
                           rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                           rb-product-list-name="TRANSFER_FROM_LIST"
                           rb-on-account-select="onSenderAccountSelect()"
                           rb-account-select-params="remitterAccountSelectParams"
                           rb-remote="remote.model"
                           rb-init-select-value = "{{ payment.formData.accountNo || selectNrb}}"></rb-account-select>
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.remitterAccountId"
                      label="{{ ::'raiff.payments.new.domestic.fill.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
        <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                   currency="{{ payment.items.senderAccount.currency }}"></bd-amount>
    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow" label="{{ ::'raiff.payments.new.domestic.fill.recipient' | translate }}">
        <rb-recipient-select rb-recipient="payment.items.recipient"
                             rb-recipient-id="payment.formData.templateId"
                             rb-recipient-list="payment.meta.recipientList"
                             rb-recipient-filter="recipientFilter"
                             rb-recipient-clear-text="{{ :: ( payment.operation.code==='EDIT' ? 'raiff.payments.new.domestic.fill.recipient.clear' : 'raiff.payments.edit.domestic.fill.recipient.clear') | translate }}"
                             rb-recipient-placeholder-text="{{ ::'raiff.payments.new.domestic.fill.recipient.placeholder' | translate }}"
                             rb-on-recipient-clear="clearRecipient()"
                             rb-recipient-layout="{{ :: ( payment.operation.code==='EDIT' ? 'WIDE' : 'DEFAULT' ) }}"
                             rb-on-recipient-select="selectRecipient($recipient)"></rb-recipient-select>
    </bd-item-property>
    <rb-paste-warning>
        <bd-item-property label="{{ :: 'raiff.payments.new.domestic.fill.recipient_account' | translate }}">
            <input id="recipientAccountNo"
                   ng-show="!showHide"
                   name="recipientAccountNo"
                   ng-model="payment.formData.recipientAccountNo"
                   ng-disabled="payment.options.fixedRecipientSelection || showHide"
                   ng-paste="payment.formData.nrbCheck = ''; paymentForm.nrbCheck = ''; rbPasteTrigger(this,$event,paymentForm.recipientAccountNo)"
                   required
                   bban-nrb
                   bd-matches-none-of="recipientAccountValidators"
                   class="input-field"
                   type="text"
                   ng-change="unlockField()"
                   ng-model-options="{ allowInvalid: true, updateOn: 'default blur focus', debounce: { 'default': 200, 'blur': 0} }"
                   placeholder="{{ ::'raiff.payments.new.domestic.fill.recipient_account.placeholder' | translate }}">
            <input type="text" disabled="true" value="XX XXXX XXXX XXXX XXXX XXXX XXXX XXXX XXXX" ng-show="showHide" class="input-field">
             <rb-bank-name account-no="payment.formData.recipientAccountNo" bank-name-promise="payment.formData.recipientBankNamePromise" ng-show="!showHide && payment.formData.recipientAccountNo"></rb-bank-name>
            <eb-validation-messages eb-name="recipientAccountNo" ng-show="!showHide && isErrorPaste">
                <div class="validation-message animate-on">
                    {{::'raiff.payments.new.domestic.fill.errorPaste'|translate}}
                </div>

            </eb-validation-messages>
            <eb-validation-messages eb-name="recipientAccountNo" ng-show="!showHide && !isErrorPaste">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'raiff.payments.new.domestic.fill.recipient_account.EMPTY_BNF_ACC'|translate}}
                </div>
                <div eb-message-key="bbanNrb" class="validation-message animate-on">
                    {{::'raiff.payments.new.domestic.fill.recipient_account.INCORECT_FORMAT_ACC'|translate}}
                </div>
                <div eb-message-key="notUs" class="validation-message animate-on">
                    {{::'raiff.payments.new.domestic.fill.recipient_account.BNF_ACC_NOT_US'|translate}}
                </div>
                <div eb-message-key="notZus" class="validation-message animate-on">
                    {{::'raiff.payments.new.domestic.fill.recipient_account.BNF_ACC_NOT_ZUS'|translate}}
                </div>
                <div eb-message-key="sameSourceAccount" class="validation-message animate-on">
                    {{::'raiff.validation.sameSourceAccount' | translate}}
                </div>
            </eb-validation-messages>

        </bd-item-property>
        <span ng-show="isOk || showHide">
            <span>{{::'raiff.payments.new.domestic.fill.account.warning1'|translate}}</span>
            <span style="color: deepskyblue"><span ng-show="digit != 1">{{digit}}</span>{{properties1}}</span>
            <span>{{properties2}}{{::'raiff.payments.new.domestic.fill.account.warning3'|translate}}</span>
            <span class="" style="position: relative">
            <input id="maskNumer"  name="nrbCheck" type="text" ng-model="nrbCheck" size="{{digit}}" ng-change="rbCheckNrb(this)" maxlength="{{digit}}" ng-paste="$event.stopPropagation();$event.preventDefault();"  ng-required="!isOk && showHide">
                <span class="tooltipFix__tooltip">
                    <i ng-show="isOk" class="raiff-icons ok_rounded tooltipFix__icon" tooltip="{{::'raiff.payments.new.fill.tooltip'|translate}}"></i>
                 </span>
            </span>
             <eb-validation-messages eb-name="nrbCheck">
                 <div eb-message-key="required" class="validation-message animate-on">
                     {{::'raiff.payments.new.domestic.fill.error.paste.required'|translate}}
                 </div>
             </eb-validation-messages>
        </span>

    </rb-paste-warning>
    <bd-item-property class="bd-item-property--multirow"
                      label="{{ ::'raiff.payments.new.domestic.fill.recipient_data' | translate }}">
    <textarea name="recipientName"
              ng-model="payment.formData.recipientName"
              ng-pattern="RECIPIENT_DATA_REGEX"
              required
              ng-change="validationErrors.recipientName = undefined"
              split-text-max-length-validators="140"
              class="input-field input-area--party-data"
              placeholder="{{ ::'raiff.payments.new.domestic.fill.recipient_data.placeholder' | translate }}"></textarea>
        <div style="color: #F4390B;font-size: 14px;font-weight: 300;"
             ng-if="validationErrors['recipientName'] !== undefined">
            {{validationErrors['recipientName']}}
        </div>

        <eb-validation-messages eb-name="recipientName">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.recipient_data.EMPTY_BNF_DATA'|translate}}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.recipient_data.TOO_LONG_BNF_DATA'|translate}}
            </div>
            <div eb-message-key="splitTextMaxLength" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.recipient_data.TOO_LONG_BNF_DATA'|translate}}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow"
                      label="{{ ::'raiff.payments.new.domestic.fill.description' | translate }}">

        <textarea name="description"
                  ng-model="payment.formData.description"
                  class="input-field input-area--payment-description"
                  required
                  ng-change="validationErrors.description = undefined"
                  split-text-max-length-validators="140"
                  ng-pattern="PAYMENT_DESCRIPTION_REGEX"
                  placeholder="{{ ::'raiff.payments.new.domestic.fill.description.placeholder' | translate }}"></textarea>
        <div style="color: #F4390B;font-size: 14px;font-weight: 300;"
             ng-if="validationErrors['description'] !== undefined">
            {{validationErrors['description']}}
        </div>
        <eb-validation-messages eb-name="description">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.description.EMPTY_TITLE'|translate}}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.description.TOO_LONG_TITLE'|translate}}
            </div>
            <div eb-message-key="splitTextMaxLength" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.description.TOO_LONG_TITLE'|translate}}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property class="bd-item-property--multi"
                      label="{{ ::'raiff.payments.new.domestic.fill.amount' | translate }}">
        <div class="bd-item-property--multi__values">
            <div class="bd-item-property__value--primary">
                <input type="text"
                       name="amount"
                       rb-number-type-input
                       ng-min="0.01"
                       class="input-field"
                       ng-model="payment.formData.amount"
                       ng-pattern="AMOUNT_PATTERN"
                       bd-no-more-than="{ 'elixir' : payment.formData.sendBySorbnet ? 99999999999999999 : payment.meta.maxElixirAmount, 'balance': payment.options.futureRealizationDate ? 99999999999999999 : payment.items.senderAccount.accessibleAssets}"
                       required
                       placeholder="{{ ::'raiff.payments.new.domestic.fill.amount.placeholder' | translate }}"/>
            </div>
            <div class="bd-item-property__value--secondary">
                <ui-select ng-model="payment.formData.currency"
                           theme="bootstrap"
                           ng-disabled="true"
                           required>
                    <ui-select-match placeholder="Waluta">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="currency in ['PLN'] track by $index">
                        <div ng-bind-html="currency | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <eb-validation-messages eb-name="amount">
            <div eb-message-key="number" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.INVALID_NUMBER_AMOUNT'|translate}}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.INVALID_NUMBER_AMOUNT'|translate}}
            </div>
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.EMPTY_AMOUNT'|translate}}
            </div>
            <div eb-message-key="ngMin" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.INCORRECT_AMOUNT'|translate}}
            </div>
            <div eb-message-key="amount" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.INCORRECT_AMOUNT'|translate}}
            </div>
            <div eb-message-key="balance" class="validation-message animate-on">
                {{ 'raiff.payments.new.domestic.fill.amount.AMOUNT_EXCEEDED_FUNDS' | translate }}
            </div>
            <div eb-message-key="elixir" class="validation-message animate-on">
                {{ 'raiff.payments.new.domestic.fill.amount.NOT_ELIXIR_PMNT' | translate }}
            </div>
            <div eb-message-key="##todo##" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.AMOUNT_EXCEEDED_FUNDS_NON_RESID'|translate}}
            </div>
            <div eb-message-key="transfer.amount.raiff.transfer.limit.exceeed" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.DAILY_LIMIT_EXCEEDED'|translate}}
            </div>
            <div eb-message-key="transfer.amount.raiff.transfer.limit.nonres" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.amount.DAILY_LIMIT_EXCEEDED'|translate}}
            </div>
        </eb-validation-messages>
        <div style="color: #F4390B;font-size: 14px;font-weight: 300;"
             ng-if="limitExeeded !== undefined && limitExeeded.show">
            {{limitExeeded.messages}}
        </div>

        <div style="color: #F4390B;font-size: 14px;font-weight: 300;"
             ng-if="limitNonResExeeded !== undefined && limitNonResExeeded.show">
            {{limitNonResExeeded.messages}}
        </div>
    </bd-item-property>

    <bd-item-property label="{{ ::'raiff.payments.new.domestic.fill.execution_date' | translate }}">

        <rb-datepicker
                ng-model="payment.formData.realizationDate"
                rb-form="paymentForm"
                rb-name="realizationDate"
                rb-date-disabled="!payment.meta.isFuturePaymentAllowed || payment.meta.dateSetByCategory || payment.formData.sendBySorbnet"
                rb-datepicker-options="payment.meta.rbRealizationDateOptions"
                rb-required="true">

        </rb-datepicker>

        <eb-validation-messages eb-name="realizationDate">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.execution_date.EMPTY_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="date" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.execution_date.INCORRECT_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="rbDatepickerFormat" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.execution_date.INCORRECT_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="bdMinDate" class="validation-message animate-on">
                {{::'raiff.payments.new.domestic.fill.execution_date.EARLIER_EXECUTED_DATE'|translate}}
            </div>
            <div eb-message-key="bdMaxDate" class="validation-message animate-on">
                {{ payment.meta.laterExecutedDateMsg }}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow" label="{{ ::'raiff.payments.new.realization_type_sorbnet.verify.label' | translate }}">
        <rb-sorbnet-selection rb-model="payment.formData.sendBySorbnet" rb-destination-nrb="payment.formData.recipientAccountNo"></rb-sorbnet-selection>
    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow">
        <rb-info-account-investment rb-source-choose="payment.items.senderAccount.category" rb-destination-nrb="payment.formData.recipientAccountNo"></rb-info-account-investment>
    </bd-item-property>

</div>
