
<form name="payuVnpayForm">



        <div class="account-collapse-item form-horizontal" >
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_vnpay.remitter.label' | translate}}</p></div></div>
            <div class="row" style="display: flex;align-items: center;">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.remitter_number.label' | translate}}</div>
                <div class="col-md-5">        <rb-account-select rb-account="payuVnpay.data.senderAccount"
                                                                 rb-account-no="remitterAccountId"
                                                                 rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                                                                 rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                                                                 rb-account-select-params="senderSelectParams"
                                                                 rb-init-select-fn="getAccountByNrb($item, $select)"
                                                                 rb-on-account-select="onAccountChange($accountList,$item)"
                                                                 rb-remote="remote.model_from"
                                                                 rb-init-select-value = "{{account || selectNrb}}"
                                                                ></rb-account-select>
                </div>

            </div>
            <br>
            <div ng-if="payuVnpay.data.senderAccount !== null">
                <div class="row" >
                    <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.remitter_name.label' | translate}}</div>
                    <div class="col-md-5">{{payuVnpay.data.senderAccount.accountName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.remitter_branch.label' | translate}}</div>
                    <div class="col-md-5">{{payuVnpay.data.senderAccount.branch}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.remitter_avail.label' | translate}}</div>
                    <div class="col-md-5">{{payuVnpay.data.senderAccount.currentBalance + ' ' +payuVnpay.data.senderAccount.currency}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.remitter_remain.label' | translate}}</div>
                    <div class="col-md-5">{{payuVnpay.data.senderAccount.limit}}</div>
                </div>
            </div>
        </div>

        <div class="account-collapse-item form-horizontal" ng-if="payuVnpay.data.paymentInfo !== null">
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_vnpay.payment.label' | translate}}</p></div></div>

            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.payment_code.label' | translate}}</div>
                <div class="col-md-3">{{payuVnpay.data.paymentInfo.paymentCode}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.bill_code.label' | translate}}</div>
                <div class="col-md-3">{{payuVnpay.data.paymentInfo.billCode}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.amount.label' | translate}}</div>
                <div class="col-md-3">{{payuVnpay.data.paymentInfo.amount}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.provider.label' | translate}}</div>
                <div class="col-md-3">{{payuVnpay.data.paymentInfo.provider}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_vnpay.distributed.label' | translate}}</div>
                <div class="col-md-3">{{payuVnpay.data.paymentInfo.distributedBy}}</div>
            </div>
        </div>

    <span class="eb-validation-messages">
             <span class="messages"  ng-if="errMsg">
                 <span class="validation-message">
                    {{errMsg}}
                 </span>
             </span>
        </span>
    </form>





