
<form name="payuVnpayForm" class="vnpay-form">



        <div class="account-collapse-item form-horizontal" >
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_vnpay.remitter.label' | translate}}</p></div></div>
            <div class="row" style="display: flex;align-items: center;">
                <div class="col-md-4 lb">{{::'ocb.payments.payu_vnpay.remitter_number.label' | translate}}</div>
                <div class="col-xs-12 col-md-5">

                    <!--<rb-account-select rb-account="payuVnpay.data.remitterInfo"-->
                                       <!--rb-account-id="payuVnpay.data.remitterAccountId"-->
                                       <!--rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"-->
                                       <!--rb-product-list-name="TRANSFER_FROM_LIST"-->
                                       <!--rb-account-select-params="senderSelectParams"-->
                                       <!--rb-init-select-fn="getAccountByNrb($accountList, $select)"-->
                                       <!--rb-on-account-select="onAccountChange($account)"-->
                                       <!--rb-remote="remote.model_from"-->
                                       <!--rb-init-select-value = "{{account || selectNrb}}"-->
                    <!--&gt;</rb-account-select>-->


                    <rb-account-select-v2
                            rb-account-id="payuVnpay.data.remitterAccountId"
                            rb-account="payuVnpay.data.remitterInfo"
                            rb-account-list="payuVnpay.data.accountList"
                            rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                            rb-product-list-name="TRANSFER_FROM_LIST"
                            rb-on-account-select="onAccountChange()"
                            rb-account-no="payuVnpay.data.remitterAccountNo"
                            rb-account-select-params="accountSelectParams">
                    </rb-account-select-v2>

                </div>
            </div>
            <br>
            <div ng-if="payuVnpay.data.remitterInfo !== null">
                <div class="row" >
                    <div class="col-xs-12 col-md-4 lb">{{::'ocb.payments.payu_vnpay.remitter_name.label' | translate}}</div>
                    <div class="col-xs-12 col-md-5">{{payuVnpay.data.fullName}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 lb">{{::'ocb.payments.payu_vnpay.remitter_branch.label' | translate}}</div>
                    <div class="col-xs-12 col-md-5">{{payuVnpay.data.remitterInfo.openBranch}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 lb">{{::'ocb.payments.payu_vnpay.remitter_avail.label' | translate}}</div>
                    <div class="col-xs-12 col-md-5">
                        <bd-amount amount="payuVnpay.data.remitterInfo.currentBalance"
                                   currency="{{ payuVnpay.data.remitterInfo.currency }}"></bd-amount>
                       </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 lb">{{::'ocb.payments.payu_vnpay.remitter_remain.label' | translate}}</div>
                    <div class="col-xs-12 col-md-5">
                        <bd-amount amount="payuVnpay.data.limit"
                                   currency="{{ payuVnpay.data.remitterInfo.currency }}"></bd-amount>
                    </div>
                </div>
            </div>
        </div>

        <div class="account-collapse-item form-horizontal" ng-if="payuVnpay.data.paymentInfo !== null">
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_vnpay.payment.label' | translate}}</p></div></div>

            <div class="row">
                <div class="col-xs-12 col-md-4 lb">{{::'ocb.payments.payu_vnpay.payment_code.label' | translate}}</div>
                <div class="col-xs-12 col-md-8">{{payuVnpay.data.paymentInfo.billCode}}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 lb">{{::'ocb.payments.payu_vnpay.bill_code.label' | translate}}</div>
                <div class="col-xs-12 col-md-8">{{payuVnpay.data.paymentInfo.customerCode}}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 lb">{{::'ocb.payments.payu_vnpay.amount.label' | translate}}</div>
                <div class="col-xs-12 col-md-8">
                    <bd-amount amount="payuVnpay.data.paymentInfo.amount.value"
                               currency="{{ payuVnpay.data.remitterInfo.currency }}"></bd-amount>
                    </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 lb">{{::'ocb.payments.payu_vnpay.provider.label' | translate}}</div>
                <div class="col-xs-12 col-md-8">{{payuVnpay.data.paymentInfo.serviceProvider.providerName}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 lb">{{::'ocb.payments.payu_vnpay.distributed.label' | translate}}</div>
                <div class="col-md-8">{{payuVnpay.data.paymentInfo.distributedBy}}</div>
            </div>
        </div>

    <span class="eb-validation-messages">
             <span class="messages"  ng-if="errMsg">
                 <span class="validation-message">
                    {{errMsg}}
                 </span>
             </span>
        </span>
    </form>





