<form name="taxpayersForm" novalidate>

    <bd-item-property label="{{ ::'ocb.payments.taxpayers.fill.custom_name' | translate }}">
        <input name="customName"
               ng-model="taxpayer.formData.customName"
               required
               ng-pattern="TAXPAYER_NAME_REGEX"
               class="input-field"
               placeholder="{{ ::'ocb.payments.taxpayers.fill.custom_name.placeholder' | translate }}"/>

        <eb-validation-messages eb-name="customName"><!--max 35-->
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'ocb.payments.taxpayers.fill.custom_name.required'|translate}}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{::'ocb.payments.taxpayers.fill.custom_name.pattern'|translate}}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property label="{{ ::'ocb.payments.taxpayers.fill.taxpayer_type' | translate }}">

        <bd-radio-select bd-model="taxpayer.formData.taxpayerType">
            <bd-radio-option bd-option-value="'INSURANCE'">{{::'ocb.payments.taxpayers.fill.type.insurance' | translate}}</bd-radio-option>
            <bd-radio-option bd-option-value="'TAX'">{{::'ocb.payments.taxpayers.fill.type.tax' | translate}}</bd-radio-option>
        </bd-radio-select>

    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow"
                      label="{{ ::'ocb.payments.taxpayers.fill.taxpayer_data' | translate }}">

        <textarea name="taxpayerData"
                  ng-model="taxpayer.formData.taxpayerData"
                  ng-pattern="patterns.taxpayerData[taxpayer.formData.taxpayerType]"
                  required
                  split-text-max-length-validators="{{ taxpayer.formData.taxpayerType === 'INSURANCE' ? 54 : 140 }}"
                  class="input-field input-area--party-data"
                  placeholder="{{ ::'ocb.payments.taxpayers.fill.taxpayer_data.placeholder' | translate }}"></textarea>

        <eb-validation-messages eb-name="taxpayerData">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'ocb.payments.new.us.fill.taxpayer_data.EMPTY_PAYER' | translate }}
            </div>
            <div eb-message-key="pattern" class="validation-message animate-on">
                {{ taxpayer.formData.taxpayerType === 'INSURANCE' ? ('ocb.payments.taxpayers.fill.taxpayer_data.TOO_LONG_PAYER_ZUS' | translate) : ('ocb.payments.taxpayers.fill.taxpayer_data.TOO_LONG_PAYER_US_IC' | translate) }}
            </div>
            <div eb-message-key="splitTextMaxLength" class="validation-message animate-on">
                {{ taxpayer.formData.taxpayerType === 'INSURANCE' ? ('ocb.payments.taxpayers.fill.taxpayer_data.TOO_LONG_PAYER_ZUS' | translate) : ('ocb.payments.taxpayers.fill.taxpayer_data.TOO_LONG_PAYER_US_IC' | translate) }}
            </div>
        </eb-validation-messages>

    </bd-item-property>

    <bd-item-property label="{{ ::'ocb.payments.taxpayers.fill.taxpayer_nip' | translate }}">
        <input name="taxpayerNip"
               ng-model="taxpayer.formData.nip"
               required
               ng-disabled="taxpayer.formData.taxpayerType === 'TAX'"
               nip
               bd-novalidate-when="{{ taxpayer.formData.taxpayerType === 'TAX' }}"
               class="input-field"
               placeholder="{{ ::'ocb.payments.taxpayers.fill.taxpayer_nip.placeholder' | translate }}" />

        <eb-validation-messages eb-name="taxpayerNip">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'ocb.EMPTY_NIP' | translate }}
            </div>
            <div eb-message-key="nip" class="validation-message animate-on">
                {{ ::'ocb.INCORRECT_NIP' | translate }}
            </div>
        </eb-validation-messages>
    </bd-item-property>

    <bd-item-property label="{{ ::'ocb.payments.taxpayers.fill.taxpayer_supplementary_id_type' | translate }}">
        <ui-select ng-model="taxpayer.formData.secondaryIdType"
                   name="secondaryIdType"
                   theme="bootstrap"
                   on-select="onSecondaryIdTypeChange()"
                   required>
            <ui-select-match placeholder="{{ ::'ocb.payments.taxpayers.fill.taxpayer_supplementary_id_type.placeholder' | translate }}">
                {{ 'ocb.payments.taxpayers.fill.taxpayer_supplementary_id_type.' + $select.selected | translate }}
            </ui-select-match>
            <ui-select-choices repeat="supplementaryId in taxpayer.meta.suplementaryIds[taxpayer.formData.taxpayerType] track by $index">
                <div ng-bind-html="'ocb.payments.taxpayers.fill.taxpayer_supplementary_id_type.' + supplementaryId | translate | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>

        <eb-validation-messages eb-name="secondaryIdType">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'ocb.change_me.EMPTY_SECONDARY_ID_TYPE' | translate }}
            </div>
        </eb-validation-messages>
    </bd-item-property>

    <bd-item-property label="{{ ::'ocb.payments.taxpayers.fill.supplementary_id' | translate }}">
        <input name="taxpayerSupplementaryId"
               ng-model="taxpayer.formData.secondaryIdNo"
               maxlength="15"
               required
               class="input-field"
               nip="taxpayer.formData.secondaryIdType === 'NIP'"
               pesel="taxpayer.formData.secondaryIdType === 'PESEL'"
               regon="taxpayer.formData.secondaryIdType === 'REGON'"
               id-card="taxpayer.formData.secondaryIdType === 'ID_CARD'"
               ng-disabled="!taxpayer.formData.secondaryIdType"
               placeholder="{{ 'ocb.payments.taxpayers.fill.supplementary_id.placeholder.' + (taxpayer.formData.secondaryIdType || 'none')  | translate }}"/>
        <eb-validation-messages eb-name="taxpayerSupplementaryId">
            <div eb-message-key="required" class="validation-message animate-on">
                {{ ::'ocb.EMPTY_ADD_ID_NUMBER' | translate }}
            </div>
            <div eb-message-key="nip" class="validation-message animate-on">
                {{ 'ocb.' + (taxpayer.formData.taxpayerType === 'INSURANCE' ? 'INCORRECT_ID_NUMBER_TAXPAYER' : 'MSG-0547_INCORRECT_ID_NUMER_US_IC') | translate }}
            </div>
            <div eb-message-key="pesel" class="validation-message animate-on">
                {{ 'ocb.' + (taxpayer.formData.taxpayerType === 'INSURANCE' ? 'INCORRECT_ID_NUMBER_TAXPAYER' : 'MSG-0547_INCORRECT_ID_NUMER_US_IC') | translate }}
            </div>
            <div eb-message-key="regon" class="validation-message animate-on">
                {{ 'ocb.' + (taxpayer.formData.taxpayerType === 'INSURANCE' ? 'INCORRECT_ID_NUMBER_TAXPAYER' : 'MSG-0547_INCORRECT_ID_NUMER_US_IC') | translate }}
            </div>
            <div eb-message-key="idCard" class="validation-message animate-on">
                {{ 'ocb.' + (taxpayer.formData.taxpayerType === 'INSURANCE' ? 'INCORRECT_ID_NUMBER_TAXPAYER' : 'MSG-0547_INCORRECT_ID_NUMER_US_IC') | translate }}
            </div>
        </eb-validation-messages>
    </bd-item-property>


</form>