<rb-content-view class="rb-content-view--solid">

    <bd-header>{{::"raiff.payments.future.list.header"|translate}}</bd-header>

    <rb-future-date-panel
            date-range="dateRange"
            options="options.futureDatePanelConfig"
            on-submit="onOperationsDateSubmit()"
            valid="model.dateRangeValidity"
            ></rb-future-date-panel>

    <bd-table bd-type="typeV"
              bd-table-params="table.tableConfig"
              bd-table-control="table.tableControl"
              bd-table-data="table.tableData"
              bd-table-promise="listPromise"
              bd-table-meta="{
                    'first': {
                        'title': '##raiff.payments.future.list.header.operation_date',
                        'data': 'realizationDate'
                    },
                    'second': {
                        'title': '##raiff.payments.future.list.header.credit_account',
                        'data': 'accountNo'
                    },
                    'third': {
                        'title': '##raiff.payments.future.list.header.payment_type',
                        'data': 'transferType'
                    },
                    'fourth': {
                        'title': '##raiff.payments.future.list.header.recipient_data',
                        'data': 'recipientName'
                    },
                    'fifth': {
                        'title': '##raiff.payments.future.list.header.payment_title',
                        'data': 'title'
                    },
                    'sixth': {
                        'title': '##raiff.payments.future.list.header.debit_account',
                        'data': 'recipientAccountNo'
                    },
                    'seventh': {
                        'title': '##raiff.payments.future.list.header.amount',
                        'data': [
                            'amount',
                            'currency'
                        ]
                    },
                    'eight': {
                        'title': '##raiff.payments.future.list.header.plannedoperationdate',
                        'data': 'deliveryDate'
                    }
                }">

        <bd-details-section bd-table-row-details>
            <div eb-preloader eb-promise="$data.promise"></div>


            <div ng-if="$data.details">
                 <ng-include src="::resolveTemplateType($data.details.transferType)"></ng-include>

                <bd-details-action-section>
                    <div class="row">
                        <div class="bd-grid__col--sm-12 desktop-only" style="text-align: left;">
                            <bd-button ng-click="onEdit($data)" ng-if="::canEdit($data)" class="bd-button bd-hmargin-sm">{{::'raiff.payments.standing.list.details.insurance.buttons.edit' | translate}}</bd-button>
                            <bd-button ng-click="onDelete($data)" ng-if="::canDelete($data)" class="bd-button bd-hmargin-sm" style="margin-left: 10px;">{{::'raiff.payments.standing.list.details.insurance.buttons.delete' | translate}}</bd-button>
                        </div>
                        <div class="bd-grid__col--sm-4 desktop-only" style="text-align: right;">
                            <bd-button ng-click="onBack(this)"    class="bd-button bd-button__primary">{{::'raiff.payments.future.list.details.insurance.buttons.backToList' | translate}}</bd-button>
                        </div>
                        <div class="bd-grid__col--sm-16 mobile-only bd-center-text">
                            <bd-button ng-click="onEdit($data)" ng-if="::canEdit($data)"  class="bd-button">{{::'raiff.payments.future.list.details.insurance.buttons.edit' | translate}}</bd-button>
                            <bd-button ng-click="onDelete($data)" ng-if="::canDelete($data)" class="bd-button" >{{::'raiff.payments.future.list.details.insurance.buttons.delete' | translate}}</bd-button>
                            <bd-button ng-click="onBack(this)"    class="bd-button bd-button__primary">{{::'raiff.payments.future.list.details.insurance.buttons.backToList' | translate}}</bd-button>
                        </div>
                    </div>
                </bd-details-action-section>

            </div>

            <!--<bd-details-action-section>-->

                <!--<div class="bd-grid">-->
                    <!--<div class="bd-grid__row">-->
                        <!--<div class="bd-grid__col&#45;&#45;sm-12">-->
                            <!--<bd-button ng-click="onRecipientEdit($data)" class="bd-button bd-hmargin-sm">{{::'raiff.payments.recipients.list.details.edit' | translate}}</bd-button>-->
                        <!--</div>-->
                        <!--<div class="bd-grid__col&#45;&#45;sm-4">-->
                            <!--<bd-button ng-click="onRecipientTransfer($data)" class="bd-button bd-button__primary bd-hmargin-sm bd-float-right">{{::'raiff.payments.recipients.list.details.transfer' | translate}}</bd-button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</bd-details-action-section>-->

        </bd-details-section>

        <div bd-table-footer>
            <bd-table-pagination></bd-table-pagination>
        </div>

    </bd-table>
    
    <div class="bd-list" ng-show="listPromise.$$state.status === 1 && summary.length > 0">
        <bd-list-item summary>
            <div class="summary-item">
                <div class="summary-item__label">
                    {{::"raiff.payments.future.list.summary"|translate}}
                </div>
                <div class="summary-item__content">
                    <div class="row border-bottom-list" ng-repeat="currencySummary in summary" style="margin: 10px;" ng-class="{'border-bottom-adding': $last == false}">
                        <div>
                            {{::"raiff.payments.future.list.summary.currency"|translate}}&nbsp;{{currencySummary.currency}}:
                        </div>
                        <div class="summary-item">
                            <bd-amount amount="currencySummary.amount" currency="{{currencySummary.currency}}"></bd-amount>
                        </div>
                    </div>
                </div>
            </div>
        </bd-list-item>
    </div>

</rb-content-view>