.payments-standing-list {
  .bd-table__row-details {
    .bd-details-section {
      display: flex;
      flex-flow: row wrap;
      flex-direction: column;
      max-height: 465px;
    }
  }
}

.payments-warning-section {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.payments-warning-item {
    float: left;
    width: 100%;
    background-image: -webkit-linear-gradient(#FAFAFA 0, #fff 100%);
    background-image: -o-linear-gradient(#FAFAFA 0, #fff 100%);
    background-image: linear-gradient(#FAFAFA 0, #fff 100%);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.11);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    color: #fa4b50;
}

.payments-fast-fill-item-header.form-row .lb{
  font-family: 'SourceSansPro';
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}

.payments-standing-status .bd-msg-panel__message {
  display: flex;
  justify-content: center;
}