.payments-standing-list {
  .bd-table__row-details {
    .bd-details-section {
      display: flex;
      flex-flow: row wrap;
      flex-direction: column;
      max-height: 525px;
    }
  }
}

.payments-warning-section {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.payments-warning-item {
    float: left;
    width: 100%;
    background-image: -webkit-linear-gradient(#FAFAFA 0, #fff 100%);
    background-image: -o-linear-gradient(#FAFAFA 0, #fff 100%);
    background-image: linear-gradient(#FAFAFA 0, #fff 100%);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.11);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    color: #fa4b50;
}

.payments-fast-fill-item-header.form-row .lb{
  font-family: 'SourceSansPro';
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}

.payments-standing-status .bd-msg-panel__message {
  display: flex;
}

.payments_miniapp .standing-orders-table{
  .bd-table__cell-content-wrapper span{
    display: inline-block;
  }
}

@media only screen and (max-width: 991px){
  .payments_miniapp .standing-orders-table .lb, .payments_miniapp .standing-orders-table .control{
    width: 50%;
  }

  .payments_miniapp .standing-orders-table .bd-show-mob .form-row{
    display: inline-flex;
    padding-bottom: 5px;
  }

  .payments_miniapp .standing-orders-table .bd-show-mob.subsection{
    padding-top: 10px;
    padding-left: 10px;
    border-top: 1px dashed #DAE0E7;
  }
  .payments_miniapp .standing-orders-table .bd-show-mob.section{
    padding-top: 10px;
    display: -webkit-box;
  }
  .payments_miniapp .standing-orders-table .bd-table__row-details{
    border-top: 1px dashed #DAE0E7;
    padding-top: 15px;
  }

  .payments_miniapp .standing-orders-table.bd-table .bd-table__row--toggler{
    padding: 0;
    margin-top: -5px;
  }
}