<rb-content-view class="form">
    <bd-header>{{invbHeader}}</bd-header>


    <bd-form-panel class="text-xs-justify">
        <form name="activationForm">
            <bd-form-content>

                <span>{{:: 'raiff.payments.invoobill.activation.descrition' | translate}}</span>

                <br/>
                <br/>
                <div class="bd-regulations">
                    <div class="bd-regulations__checkbox">
                        <bd-checkbox name="regulaminsAccept"
                                     bd-change="onRulesChange(activationForm)"
                                     ng-model="model.regulaminsAccept"
                        ></bd-checkbox>

                    </div>

                    <div class="bd-regulations__text">
                        <a href="{{link}}" target="_blank" class="regulationLink">{{labels.termOfUse}}</a>
                    </div>

                </div>

                <div class="eb-validation-messages"
                     ng-messages="activationForm.$error">
                    <div class="messages">
                        <div ng-message="rulesRegulaminsRequired" class="validation-message animate-on">{{labels.termOfUseRequired}}</div>
                    </div>
                </div>
            </bd-form-content>
        </form>


        <bd-form-footer class="bd-form-footer--stackable">

                <bd-button class="bd-form-footer__button bd-form-footer__button--negative" ng-click="notInterested()">
                    {{ :: 'raiff.payments.invoobill.activation.notInterested' | translate }}
                </bd-button>

                <bd-button class="bd-form-footer__button bd-button__primary bd-form-footer__button--positive" ng-click="accept(activationForm)">
                    {{ :: 'raiff.payments.invoobill.activation.accept' | translate }}
                    <i class="eb-icon eb-raiffeisen-theme eb-ico-next"></i>
                </bd-button>
        </bd-form-footer>
    </bd-form-panel>
</rb-content-view>