<div class="form-body" ng-controller="NewUsPaymentVerifyController">

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.sender_account_name'|translate}}">
        {{ payment.items.senderAccount.customName || payment.items.senderAccount.accountName }} <!-- | nazwa -->

        {{ payment.items.senderAccount.accountNo | nrbIbanFilter }} <!-- | numer -->

        <p ng-bind-html="payment.items.senderAccount | accountOwners"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.recipient_account_no'|translate}}">
        {{payment.items.recipientAccount.accountNo | nrbIbanFilter }} | {{payment.items.recipientAccount.officeName}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.taxpayer_data'|translate}}">
        <p style="white-space: pre;" ng-bind-html="payment.formData.taxpayerData.join('\n')"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.supplementary_id_type'|translate}}">
        {{ ::'raiff.payments.new.us.fill.taxpayer_supplementary_id_type.' + payment.formData.idType | translate }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.supplementary_id'|translate}}">
        {{payment.formData.idNumber}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.form_symbol'|translate}}">
        {{ ::payment.formData.formCode }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.periodType" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.period_type'|translate}}">
        {{ ::'raiff.payments.new.us.fill.period_type.' + payment.formData.periodType | translate }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.periodNo" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.period_no'|translate}}">
        {{ payment.formData.periodNo }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.periodYear" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.period_year'|translate}}">
        {{ payment.formData.periodYear }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.obligationId" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.commitment_id'|translate}}">
        {{ payment.formData.obligationId }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.amount'|translate}}">
        {{payment.formData.amount}}&nbsp;{{payment.formData.currency}} <!-- | nrb -->
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.execution_date'|translate}}">
        {{payment.formData.realizationDate | date:'dd.MM.yyyy' }}
    </bd-item-property>
     <span class="eb-validation-messages" ng-if="payment.endOfDayWarning">
         <span class="messages">
             <span class="validation-message">
                 {{::'raiff.payments.new.domestic.fill.execution_date.EOD_ERROR'|translate}}
             </span>
         </span>
    </span>

</div>