<div ng-show="showVerify" class="form-pane bd-form" id="pn-1">
    <div class="bd-form-header pd-bottom">{{::"ocb.payments.new_bill.label.header.dataVerification"|translate}}</div>
    <div class="row" ng-show="payment.endOfDayWarning && !payment.formData.addToBasket">
        <div class="col-xs-12 col-sm-12">
            <bd-msg-panel bd-msg-type="warning">{{::'ocb.payments.new.domestic.fill.execution_date.EOD_ERROR' | translate}}</bd-msg-panel>
        </div>
    </div>
    <div class="pane-bd deposit-form">
        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.bill.verify.transactionType'|translate}}">
            {{::"ocb.payments.new_bill.label.header.customer"|translate}}
        </bd-item-property>
        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.bill.verify.sender_account_name'|translate}}">
            <div class="hidden-sm hidden-xs hidden-md">
                <div class="break-force">{{ payment.items.senderAccount.accountNo }}
                </div>
            </div>
            <div class="hidden-lg">
                <rb-account-responsive-line
                        rb-account-name=""
                        rb-account-nrb="payment.items.senderAccount.accountNo"></rb-account-responsive-line>
            </div>
        </bd-item-property>
        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.bill.fill.accountName'|translate}}">
            {{payment.items.senderAccount.accountName}}
        </bd-item-property>
        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.bill.verify.sender_service_name'|translate}}">
            <div class="hidden-sm hidden-xs hidden-md">
                <div class="break-force">{{ payment.items.senderService.serviceName || payment.items.senderService.serviceCode }}</div>
            </div>
            <div class="hidden-lg">
                <rb-account-responsive-line rb-account-name="payment.items.senderService.serviceName " rb-account-nrb="payment.items.senderService.serviceCode"></rb-account-responsive-line>
            </div>
        </bd-item-property>
        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.bill.verify.totalBill'|translate}}">
            <bd-amount amount="payment.formData.amount" currency="{{ payment.formData.currency }}" not-styled></bd-amount>
        </bd-item-property>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.bill.verify.totalBillInWord'|translate}}">
            <div class="hidden-sm hidden-xs hidden-md">
                <div class="break-force">{{ payment.items.totalBillInWord }}</div>
            </div>
            <div class="hidden-lg">
                <rb-account-responsive-line rb-account-name="payment.items.totalBillInWord" rb-account-nrb=""></rb-account-responsive-line>
            </div>
        </bd-item-property>
        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.foreign.fill.transfer_cost.label'|translate}}" ng-if="transferCost.link">
            {{::payment.formData.transferCost}} <a ng-href="{{transferCost.link}}" target="_blank">{{::'ocb.payments.new.verify.transfer_cost.info'|translate}}</a>
        </bd-item-property>
    </div>
     <span class="eb-validation-messages">
        <span class="messages" ng-if="payment.formData.addToBeneficiary && !payment.items.modifyFromBeneficiary">
             <span class="validation-message">
                 {{::'ocb.payments.basket.add.verify'|translate}}
             </span>
         </span>
          <span class="messages" ng-if="payment.items.modifyFromBeneficiary">
              <span class="validation-message">
                 {{::'ocb.payments.basket.modify.verify.'+payment.meta.customerContext|translate}}
             </span>
         </span>
         <span class="messages" ng-if="payment.items.modifyFromBeneficiary && payment.meta.customerContext=='MICRO'">
             <span class="validation-message">
                 {{::'ocb.payments.basket.modify.signRemove.verify'|translate}}
             </span>
         </span>
     </span>
    <section ng-if="payment.operation.code!=='EDIT'">
        <bd-item-property class="bd-item-property--multirow" ng-if="payment.token.params.resourceId"
                          ng-show="payment.token.model.$tokenRequired"
                          label="{{ payment.token.model.currentToken.label }}">
            <rb-token-authorization rb-operation-type="TRANSFER" rb-model="payment.token.model"
                                    rb-params="payment.token.params"></rb-token-authorization>
        </bd-item-property>
    </section>
</div>
<div class="form-row" ng-if="payment.operation.code!=='EDIT'">
    <div class=" bd-table__cell padding-left-cell bd-table__cell--sm-9 bd-table__cell--md-3">
        <button class="left-txt bd-button-OTP mg-left-btn" ng-click="getOTP()">Get OTP</button>
    </div>
    <div class=" bd-table__cell padding-left-cell bd-table__cell--sm-9 bd-table__cell--md-4">
        <input ng-model="smsOTP" type="text" placeholder="Insert OTP" class="mg-left-tb">
    </div>
</div>