.bd-form {
  padding: 30px;
  background: white;
  border-radius: 4px;
  margin-bottom: 25px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.11);
}

.bd-button-OTP {
  border: solid 1px currentColor;
  color: #e6a934;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  background: white;
  height: 45px;
  width: 100%;
  border-radius: 7px;
}

.mg-left-btn {
  margin-left: -15px;
}

.mg-left-tb {
  margin-left: -30px;
}