<rb-content-view class="rb-content-view--solid transactions_list">
    <bd-header>{{::"ocb.payments.pending.label"|translate}}</bd-header>

    <!--rb-search-container table="table" rb-model="searchModel">
        <rb-search-row>
            <bd-item-property label="{{::'account.statement.select.label'|translate}}">
                <ui-select ng-model="table.tableConfig.selectedAccount"
                           theme="bootstrap"
                           reset-search-input="false"
                           ng-disabled="fixedAccountSelection"
                           on-select=""
                           class="iconized"
                           required>
                    <ui-select-match placeholder="{{::'account.statement.select.placeholder'|translate}}">
                        <div class="select-account__row__cell account-icon" ng-if="$select.selected.customerData.icon >= 0 && getIcon($select.selected.accountId)"><img ng-if="$select.selected.customerData.icon >= 0" ng-src="{{getIcon($select.selected.customerData.icon)}}" class="select-account__icon"/></div>
                        <div class="select-account__row__cell account-desc">
                            <rb-account-responsive-line rb-allow-long-nrb="true" rb-account-name="$select.selected.customerData.name || $select.selected.accountName" rb-account-nrb="$select.selected.accountNo"></rb-account-responsive-line>
                        </div>
                    </ui-select-match>
                    <ui-select-choices repeat="item in accountList track by $index">
                        <div class="select-account__row">
                            <div class="select-account__row__cell account-icon" ng-if="item.customerData.icon >= 0 && getIcon(item.accountId)">
                                <img ng-if="item.customerData.icon >= 0" ng-src="{{getIcon(item.customerData.icon)}}" class="select-account__icon" />
                            </div>
                            <div class="select-account__row__cell account-desc">
                                <div class="rb-account-select__account-name-row" ng-bind="(item.customerData.name || item.accountName) | highlight: $select.search"></div>
                                <div class="rb-account-select__account-desc-row">
                                    <span class="rb-account-select__account-desc-row__nrb hidden-xs hidden-sm" ng-bind="item.accountNo | nrbIbanFilter | highlight: $select.search"></span>
                                    <span class="rb-account-select__account-desc-row__nrb hidden-md hidden-lg" ng-bind="item.accountNo | nrbIbanShortFilter | highlight: $select.search"></span>
                                    <span class="rb-account-select__account-desc-row__amount" ng-bind="((item.accessibleAssets | currency:'') + ' ' + item.currency) | highlight: $select.search"></span>
                                </div>
                            </div>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </bd-item-property>
        </rb-search-row>

        <rb-search-row>
            <rb-search-button-row rb-hidden-xs="true" label="{{::'account.transactions.select.filter.button.action'|translate}}" classes="bd-button__primary" on-click="$control.search()">
                <rb-text-search-criterion rb-model="searchModel.textSearch" rb-max-length="140"></rb-text-search-criterion>
            </rb-search-button-row>
        </rb-search-row>

        <rb-advanced-search-row rb-model="searchModel">

            <rb-search-row class="col-lg-6 col-md-6">
                <rb-search-period rb-model="searchModel.period">
                    <rb-search-last-period rb-current-date="currentDate"></rb-search-last-period>
                    <rb-search-specific-period rb-current-date="currentDate"></rb-search-specific-period>
                </rb-search-period>
            </rb-search-row>

            <rb-search-row class="col-lg-6 col-md-6">
                <rb-search-type rb-model="searchModel" rb-type-list="[
                    {value :  'all', key: 'account.transactions.filter.type.all'},
                    {value :  'credit', key: 'account.transactions.filter.type.credit'},
                    {value :  'debit', key: 'account.transactions.filter.type.debit'},
                    {value :  'credit_transfer', key: 'account.transactions.filter.type.credit_transfer'},
                    {value :  'debit_transfer', key: 'account.transactions.filter.type.debit_transfer'},
                    {value :  'card', key: 'account.transactions.filter.type.card'},
                    {value :  'loan', key: 'account.transactions.filter.type.loan'},
                    {value :  'cash_desk', key: 'account.transactions.filter.type.cash_desk'},
                    {value :  'deposit', key: 'account.transactions.filter.type.deposit'},
                    {value :  'direct_debit', key: 'account.transactions.filter.type.direct_debit'},
                    {value :  'interest', key: 'account.transactions.filter.type.interest'},
                    {value :  'commission', key: 'account.transactions.filter.type.commission'}
                ]"></rb-search-type>

                <rb-search-button-row rb-hidden-xs="true" label="{{::'account.transactions.select.filter.button.clear'|translate}}" icon="eb-icon eb-ico-filter-applied" on-click="$control.clearAll()">
                    <rb-search-amount-range rb-model="searchModel.amount" rb-current-date="currentDate"></rb-search-amount-range>
                </rb-search-button-row>

            </rb-search-row>

            <rb-search-row></rb-search-row>

        </rb-advanced-search-row>

        <rb-search-row>
            <rb-search-validation-messages alternative-translation-keys="{}"></rb-search-validation-messages>
        </rb-search-row>

        <rb-search-button-panel-row class=" visible-xs hidden-sm hidden-md hidden-lg">
            <bd-button ng-show="searchModel.advancedSearch.advancedSearchExpanded" class="bd-form-footer__button bd-form-footer__button--negative" ng-click="$control.clearAll()">
                <i class="eb-icon eb-ico-filter-applied eb-ocb-theme"></i>
                {{::'account.transactions.select.filter.button.clear'|translate}}
            </bd-button>
            <bd-button class="bd-form-footer__button bd-form-footer__button--positive bd-button__primary" ng-click="$control.search()">
                {{::'account.transactions.select.filter.button.action'|translate}}
            </bd-button>
        </rb-search-button-panel-row>

    </rb-search-container-->

    <bd-table
            bd-type="typeF1"
            bd-table-params="table.tableConfig"
            bd-table-control="table.tableControl"
            bd-table-data="table.tableData"
            bd-table-promise="accountList.promise"
            bd-table-meta ="{ 'first': {'title': '##ocb.payments.pending.transactionInitiationDate', 'data': 'bookingDate'}, 'second': {'title': '##ocb.payments.pending.creator', 'data': ['beneficiary', 'transactionType']}, 'third': {'title': '##ocb.payments.pending.amount', 'data': ['beneficiary', 'transactionType']}, 'fourth': {'title': '##ocb.payments.pending.status', 'data': 'title'}, 'fifth': {'title': '##ocb.payments.pending.approve', 'data': ['amount', 'currency']}}">


        <!--bd-details-section
                bd-table-row-details>

            <bd-item-property label="{{::'ocb.payments.pending.transactionInitiationDate'|translate}}" class="bd-hide-md">
                <bd-amount amount="$data.balanceAfterOperation" currency="{{$data.currency}}" not-styled></bd-amount>
            </bd-item-property>

            <bd-item-property label="{{::'ocb.payments.pending.creator'|translate}}">
                {{ $data.transactionType }}
            </bd-item-property>

            <bd-item-property label="{{::'ocb.payments.pending.amount'|translate}}">
                {{ $data.accountNo | nrbIbanFilter }}
            </bd-item-property>

            <bd-item-property label="{{::'ocb.payments.pending.status'|translate}}">
                {{ $data.transactionDate | dateFilter }}
            </bd-item-property>

            <bd-item-property label="{{::'ocb.payments.pending.approve'|translate}}">
                {{ $data.bookingDate}}
            </bd-item-property>

            <!--bd-details-action-section>
                <section class="bd-details-action-section--xs">
                    <bd-button ng-show="!!$data.details && canRepeatTransaction($data) && $data.details.oppositeAccountNo"
                               ng-click="repeatTransaction($data)" class="bd-button__primary bd-float-left">{{:: 'account.transactions.list.actions.repeat' | translate }}</bd-button>

                    <a ng-href="{{::prepareDownloadHref($data)}}"><bd-button class="bd-button bd-float-right bd-hmargin-sm">{{:: 'account.transactions.list.actions.download' | translate }}</bd-button></a>
                    <bd-button ng-click="saveRecipient($data)" ng-show="showSaveRecipientButton($data)" class="bd-button bd-float-right bd-hmargin-sm bd-hmargin-right">{{:: 'account.transactions.list.actions.save_recipient' | translate }}</bd-button>
                    <bd-button ng-show="$data.details.transactionType.indexOf('ZUS') < 0 && $data.details.transactionType.indexOf('US') < 0 && $data.details.oppositeAccountNo && canResponseTransaction($data)" ng-click="respondToTransaction($data)" class="bd-button bd-float-right bd-hmargin-sm">{{:: 'account.transactions.list.actions.respond' | translate }}</bd-button>


                </section>
            </bd-details-action-section>

        </bd-details-section-->

<!--
        div bd-table-footer>
            <bd-table-pagination></bd-table-pagination>
        </div
-->
    </bd-table>
    <!--bd-list bd-promise="table.promise" style="padding-top: 20px" ng-show="showSummary">
        <bd-list-item summary>
            <div class="summary-item">
                <div class="summary-item__label">
                    {{::"accounts.transactions.label.summary"|translate}}
                </div>
                <div class="summary-item__content">
                    <div class="row" style="margin: 10px;" >
                        <div class="cols-xs-12 col-sm-12 col-md-1 col-lg-1" style="text-align: right">
                            <div>
                                {{::'acounts.transactions.label.date_range.label'|translate|uppercase}}<br>
                                <span ng-show="queryModel.advancedSearch.advancedSearchExpanded">
                                <span ng-show="queryModel.period.type == 'last'">
                                    {{::'account.transactions.select.filter.last.label'|translate}} {{ queryModel.period.last.count }}&nbsp;<eb-msg-var key="account.transactions.select.filter.last.type" variable="queryModel.period.last.type" />
                                </span>
                                <span ng-show="queryModel.period.type == 'dateRange'">
                                    {{ queryModel.period.current.from |date:'shortDate' }} - {{ queryModel.period.current.to |date:'shortDate' }}
                                </span>
                            </span>
                                <span ng-show="!queryModel.advancedSearch.advancedSearchExpanded">
                                    {{::'account.transactions.select.filter.last.label'|translate}} {{ queryModel.period.last.count }}&nbsp;{{::'account.transactions.select.filter.last.type.days'|translate}}
                            </span>
                            </div>
                        </div>

                        <div class="cols-xs-12 col-sm-12 col-md-3 col-lg-3" style="text-align: right">
                            {{::"accounts.transactions.label.credit.text"|translate}}<br>
                            <bd-amount amount="transactionSummary.totalCreditAmount"
                                       currency="{{ transactionSummary.currency }}" highlight-negative></bd-amount>
                        </div>

                        <div class="cols-xs-12 col-sm-12 col-md-3 col-lg-3" style="text-align: right">
                            {{::"accounts.transactions.label.debit.text"|translate}}<br>
                            <bd-amount amount="transactionSummary.totalDebitAmount"
                                       currency="{{ transactionSummary.currency }}" highlight-negative></bd-amount>
                        </div>

                        <div class="cols-xs-12 col-sm-12 col-md-3 col-lg-3" style="text-align: right">
                            {{::"accounts.transactions.label.sum.text"|translate}}<br>
                            <bd-amount amount="transactionSummary.totalCreditAmount + transactionSummary.totalDebitAmount"
                                       currency="{{ transactionSummary.currency }}" highlight-negative></bd-amount>
                        </div>

                        <div class="cols-xs-12 col-sm-12 col-md-2 col-lg-2" style="text-align: right">
                            <div rb-download-content config-file="downloadConfiguration" ng-model="optionSelect"></div>
                        </div>

                    </div>
                </div>
            </div>
        </bd-list-item>
    </bd-list-->

    <!--rb-note rb-slot-name="ACCOUNT_SUMMARY" rb-target-type="CURRENT_USER">
        <rb-note-info></rb-note-info>
    </rb-note-->

</rb-content-view>
