@screenMediumMin: 768px;
@screenSmallMax: 767px;
.basketSearchPanel{
  &__advanced-section{
    &__right-panel{
      text-align: right;
      @media only screen and  (max-width: @screenSmallMax) {
        text-align: left;
      }
      &__item{
        padding-bottom: 10px;
        &__status {
          display: inline-block;
          width:400px;
          @media only screen and  (max-width: @screenSmallMax) {
            width: 100%;
            margin: 0px 3px;
          }
        }
        &__button {
          display: inline-block;
          vertical-align: top;
          padding-top: 10px;
          padding-left: 10px;
        }
      }
    }
    &__left-panel{
      &__range {
      /*  @media only screen and  (max-width: @screenSmallMax) {
          width: 100%;
        }*/
      }
    }
  }
}

.rb-transaction-filter .dateLabel{
  @media only screen and  (max-width: @screenSmallMax) {
    display: table-cell;
  }
}

.rb-transaction-filter .dateRangeLabel{
  width: 32px;
}

.basket-no-padding .bd-radio-option{
  padding-bottom: 0px !important;
}