<div class="basket-view tableGG">
    <div ng-repeat = "group in basket.payments track by $index">
        <div ng-show="group.showGroup">
            <div class="tableGG__account-section">
                <div class="bd-list-item__identification-cell">
                    <div class="product-name">
                        <div style="word-break: break-word" ng-if="systemParameterDefinedName.value == 'T'">
                            <img ng-if="group.accountDetails.customerData.icon > 0" ng-src="{{getIcon(group.accountDetails.customerData.icon)}}" style="margin-top: -5px;"/>
                            {{group.accountDetails.customerData.name || group.accountDetails.accountName}}
                        </div>
                        <div  style="word-break: break-word; " ng-if="systemParameterDefinedName.value == 'N'">
                            {{group.accountDetails.accountName}}
                        </div>
                    </div>
                    <div class="product-details-primary">
                        {{group.accountDetails.accountNo | nrbIbanFilter}}
                    </div>
                </div>
                <div class="bd-list-item__properties-group-cell">
                    <div class="bd-list-item__properties-group-cell__item">
                        <label>{{::"accounts.label.available_funds"|translate}}</label>
                    </div>
                    <div class="bd-list-item__properties-group-cell__item">
                        <bd-amount class="assets" amount="group.accountDetails.workingAvailableFunds" currency="{{group.accountDetails.currency}}" highlight-negative></bd-amount>
                    </div>
                </div>
            </div>

            <div class="tableGG__table-section">
                <div class="bd-table bd-table__fixed">
                    <div bd-table-header>
                        <div bd-table-heading="first" class="bd-table__cell bd-table__cell--sm-8 bd-table__cell--md-4">{{::"ocb.payments.basket.list.header.operation_date"|translate}}</div>
                        <div bd-table-heading="second" class="bd-table__cell bd-hide-sm bd-table__cell--md-2" ng-show="userContext=='MICRO'">{{::'ocb.payments.basket.list.header.status'|translate}}</div>
                        <div bd-table-heading="third" class="bd-table__cell bd-hide-sm bd-table__cell--md-4">{{::"ocb.payments.basket.list.header.operation_type"|translate}}</div>
                        <div bd-table-heading="fourth" ng-class="userContext=='MICRO'?'bd-table__cell bd-hide-sm bd-table__cell--md-3':'bd-table__cell bd-hide-sm bd-table__cell--md-5'">{{::"ocb.payments.basket.list.header.operation_title"|translate}}</div>
                        <div bd-table-heading="fifth" class="bd-table__cell bd-table__cell--sm-8 bd-table__cell--md-3 text-right">{{::"ocb.payments.basket.list.header.operation_amount"|translate}}</div>
                    </div>

                    <div bd-table-row
                         ng-repeat="item in group.basketTransfers track by $index">
                        <div class="bd-table__row-entry" ng-hide="!item.payment.checked">
                            <div class="bd-table__row-line bd-table__row-line--sm-tight">
                                <div bd-table-cell="first" class="bd-table__cell-index bd-table__cell--sm-8 bd-table__cell--md-4">
                                    {{ item.payment.realizationDate | date:'shortDate'}}
                                </div>
                                <div bd-table-cell="second" class="bd-hide-sm bd-table__cell--md-2" ng-show="userContext=='MICRO'">
                                    {{'ocb.payments.basket.transaction.status.'+item.signedStatus | translate}}
                                </div>
                                <div bd-table-cell="third" class="bd-hide-sm bd-table__cell--md-4"> 
                                    {{ ::'ocb.payments.new.types.'+item.payment.transferType | translate}}
                                </div>
                                <div bd-table-cell="fourth" ng-class="userContext=='MICRO'?'bd-table__cell bd-hide-sm bd-table__cell--md-3':'bd-table__cell bd-hide-sm bd-table__cell--md-5'" style="word-break: break-word;">
                                    {{item.payment.title.join(' ') }}
                                </div>
                                <div bd-table-cell="fifth" class="bd-table__cell--sm-8 bd-table__cell--md-3 text-right">
                                    {{ item.payment.amount | number: 2}} {{ item.payment.currency }}
                                </div>
                            </div>
                            <div class="bd-table__row-line bd-table__row-line--sm-tight">
                                <div bd-table-cell="first" class="bd-table__cell-index bd-table__cell--sm-8 bd-table__cell--md-9 text-right" style="font-weight: bold;">
                                    {{::"ocb.payments.basket.list.sourceAccount"|translate|uppercase}}
                                </div>
                                <div bd-table-cell="second" class="bd-table__cell--sm-8 bd-table__cell--md-7">
                                  <div>
                                      <span class="hidden-xs hidden-sm">{{item.payment.accountNo | nrbIbanFilter}}</span>
                                      <span class="hidden-md hidden-lg">{{item.payment.accountNo | nrbIbanShortFilter}}</span>
                                  </div>
                                  <div><bd-multiline-text bd-text="item.payment.senderAddress"> </bd-multiline-text></div>
                                </div>
                            </div>
                            <div class="bd-table__row-line bd-table__row-line--sm-tight">
                                <div bd-table-cell="first" class="bd-table__cell-index bd-table__cell--sm-8 bd-table__cell--md-9 text-right" style="font-weight: bold;">
                                    {{::"ocb.payments.basket.list.targetAccount"|translate|uppercase}}
                                </div>
                                <div bd-table-cell="second" class="bd-table__cell--sm-8 bd-table__cell--md-7">
                                    <div>
                                         <span ng-if="item.payment.recipientAccountNo=='ZUS_ACCOUNTS'">
                                             {{'ocb.payments.basket.list.account.zus.ZUS_ACCOUNTS' | translate}}
                                        </span>
                                        <span ng-if="item.payment.recipientAccountNo!='ZUS_ACCOUNTS'">
                                            <span class="hidden-xs hidden-sm">{{item.payment.recipientAccountNo | nrbIbanFilter}}</span>
                                            <span class="hidden-md hidden-lg">{{item.payment.recipientAccountNo | nrbIbanShortFilter}}</span>
                                        </span>
                                    </div>
                                    <div ng-if="item.payment.transferType == 'INSURANCE'">
                                        <span eb-msg="ocb.payments.new.zus.verify.tmp.zus_name"></span>
                                    </div>
                                    <div ng-if="item.payment.transferType != 'INSURANCE'">
                                        <div class="bd-table__breakword">{{item.payment.recipientName.join(' ') }}</div>
                                        <div class="bd-table__breakword">{{item.payment.recipientAddress.join(' ') }}</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div  class="basket-vew__summary">
        <bd-list-item summary>
            <div class="summary-item" style="border-bottom: 1px solid #F1F1F1;padding-bottom: 10px;">
                <div class="bd-table bd-table__fixed verify-step">
                    <div class="bd-table__row-line bd-table__row-line--sm-tight" style="border-bottom: 1px solid #F1F1F1;padding-bottom: 40px;">
                    <div bd-table-cell="first" class="bd-table__cell--sm-16 bd-table__cell--md-16">

                        <div class="summary-item__label" style="border-bottom: 0px;">
                        {{::"ocb.payments.basket.list.verify.summary"|translate}}
                        </div>
                    </div>
                    </div>
                    <div style="padding-top: 10px;">
                        <div ng-repeat="currencySummary in summaryItem">
                            <div class="bd-table__row-line bd-table__row-line--sm-tight">
                                <div bd-table-cell="first" class="basket-vew__summary__currency_quantity bd-table__cell--sm-16 bd-table__cell--md-5">
                                    <div>
                                        {{::"ocb.payments.basket.list.verify.summary.currency"|translate}} &nbsp;{{currencySummary.currency}}:
                                    </div>
                                </div>
                                <div bd-table-cell="second" class="bd-table__cell--sm-8 bd-table__cell--md-5 text-right">
                                    <div>
                                        {{::"ocb.payments.basket.list.verify.summary.currency.transactions"|translate}} &nbsp;{{currencySummary.currency}}
                                    </div>
                                    <div class="transaction-count">
                                        &nbsp;{{currencySummary.amount}}
                                    </div>
                                </div>
                                <div bd-table-cell="third"
                                     class="bd-table__cell--sm-8 bd-table__cell--md-6 text-right">
                                    <div>{{::"ocb.payments.basket.list.verify.summary.currency.transactions.amount"|translate}}</div>
                                    <bd-amount amount="currencySummary.sum"
                                               currency="{{currencySummary.currency}}"></bd-amount>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </bd-list-item>
    </div>
     <span class="eb-validation-messages">
             <span class="messages"  ng-if="basket.validator.realizationDateExceed">
                 <span class="validation-message">
                   {{::"ocb.payments.basket.status.REALIZATION_DATE_EXCEEDED"|translate}}
                 </span>
             </span>
            <span class="messages"  ng-if="basket.validator.cutOffTimePresent">
                 <span class="validation-message">
                   {{::"ocb.payments.basket.status.CUT_OFF_TIME.DETAL"|translate}}
                 </span>
             </span>
        </span>
    <bd-item-property class="bd-item-property--multirow" ng-if="basket.token.params.resourceId" ng-show="basket.token.model.$tokenRequired" label="{{ basket.token.model.currentToken.label }}">
        <rb-token-authorization rb-operation-type="{{basket.token.params.rbOperationType}}" rb-model="basket.token.model" rb-params="basket.token.params"></rb-token-authorization>
    </bd-item-property>

</div>
