<form name="paymentForm" novalidate>
    <div>
        <div  class="groupTitle" >{{::'ocb.payments.new.saving.fill.customer_group_name.label'|translate}}

        </div>
        <bd-item-property label="{{ ::'ocb.payments.new.saving.fill.sender_account' | translate }}">
            <input name="remitterAccountId" hidden ng-model="recipient.formData.remitterAccountId" required/>

            <rb-account-select-v2 rb-account-id="recipient.formData.remitterAccountId"
                                  rb-account="recipient.items.senderAccount"
                                  rb-account-list="recipient.items.accountList"
                                  rb-on-account-select="onSenderAccountSelect()"
                                  rb-init-select-fn="getAccountByNrb($accountList, $select)"
                                  rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                                  rb-product-list-name="TRANSFER_FROM_LIST"
                                  rb-account-select-params="recipientSelectParams"
                                  rb-init-select-value = "{{payment.formData.accountNo || selectNrb}}"></rb-account-select-v2>
         <!--   <input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>-->
         <!--   <rb-account-select rb-account="payment.items.senderAccount"
                               rb-account-id="payment.formData.remitterAccountId"
                               rb-account-list="payment.list"
                               rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                               rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                               rb-account-select-params="senderSelectParams"
                               rb-init-select-fn="getAccountByNrb($accountList, $select)"
                               rb-on-account-select="onSenderAccountSelect($accountId)"
                               rb-remote="remote.model_from"
                               rb-init-select-value = "{{payment.formData.accountNo || selectNrb}}"></rb-account-select>-->

          <!--  <ui-select ng-model="selAcc"
                       theme="bootstrap"
                       on-select="accChange(cardContext.item.card)"
                       reset-search-input="false"

                       required>
                <ui-select-match placeholder="{{::'ocb.payments.new.sawing.account.select.placeholder'|translate}}">
                    {{$select.selected.account || $select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="accItem in accList | filter: $select.search track by $index">
                    <div ng-bind="accItem.account"></div>
                    <br class="bd-hide-md" />
                    <div ng-bind-html="(accItem.name) | highlight: $select.search" > </div>
                </ui-select-choices>
            </ui-select>-->



  <!--              <ui-select ng-model="selAcc"
                           theme="bootstrap"
                          on-select="accChange($select.selected)"

                           reset-search-input="false"
                           required>
                    <ui-select-match placeholder="{{::'ocb.payments.new.sawing.account.select.placeholder'|translate}}">
                        <div class="select-account__row__cell account-desc">
                            <rb-account-responsive-line rb-allow-long-nrb="false" rb-account-name="$select.selected.name || $select.selected.account" rb-account-nrb="$select.selected.account"></rb-account-responsive-line>
                        </div>
                    </ui-select-match>
                    <ui-select-choices repeat="accItem in accList | filter: $select.search track by $index">
                        <div class="rb-account-select__account-name-row" ng-bind="(accItem.name)"></div>
                        <div class="rb-account-select__account-desc-row">
                            <span class="rb-account-select__account-desc-row__nrb hidden-xs hidden-sm" ng-bind-html="accItem.account | highlight: $select.search"></span>
                            <span class="rb-account-select__account-desc-row__nrb hidden-md hidden-lg" ng-bind-html="accItem.name | highlight: $select.search"></span>

                        </div>
                    </ui-select-choices>
                </ui-select>-->


        </bd-item-property>

        <bd-item-property ng-if="payment.formData.remitterAccountId && remote.model_from.loaded"
                          label="{{ ::'ocb.payments.new.saving.fill.sender_account.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                       currency="{{ payment.items.senderAccount.currency }}" show-dash></bd-amount>
        </bd-item-property>

        <input name="recipientAcc" hidden ng-model="payment.formData.beneficiaryAccountId" required/>
        <bd-item-property label="rrrr{{ ::'ocb.payments.new.internal.fill.recipient_account' | translate }}" ng-if="payment.formData.remitterAccountId">
           <!-- <rb-account-select
                    rb-account="payment.items.recipientAccount"
                    rb-account-id="payment.formData.beneficiaryAccountId"
                    rb-account-select-params="recipientSelectParams"
                    rb-account-restrictions="ACCOUNT_RESTRICTION_CREDIT"
                    rb-product-list-name="TRANSFER_OWN_TO_LIST"
                    rb-remote="remote.model_to"
                    rb-init-select-value = "{{payment.formData.recipientAccountNo}}"
                    placeholder-value="{{ ::'ocb.payments.new.internal.fill.choose' | translate }}"></rb-account-select>-->

            <rb-account-select-v2 rb-account-id="recipient.formData.remitterAccountId"
                                  rb-account="recipient.items.senderAccount"
                                  rb-account-list="recipient.items.accountList"
                                  rb-on-account-select="onSenderAccountSelect()"
                                  rb-init-select-fn="getAccountByNrb($accountList, $select)"
                                  rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                                  rb-product-list-name="TRANSFER_FROM_LIST"
                                  rb-account-select-params="recipientSelectParams"
                                  rb-init-select-value = "{{selectNrb}}"></rb-account-select-v2>

            <eb-validation-messages eb-name="recipientAcc">
                <div eb-message-key="sameAccounts" class="validation-message animate-on">
                    {{::'ocb.payments.recipients.new.domestic.fill.recipient_account.SAME_ACCOUNT'|translate}}
                </div>
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.new.saving.fill.recipient_account.required'|translate}}
                </div>
            </eb-validation-messages>

        </bd-item-property>

        <bd-item-property ng-if="payment.formData.recipientAccountId && remote.model_from.loaded &&  payment.operation.code !='EDIT'"
                          label="{{ ::'ocb.payments.new.saving.fill.recipient_account.accessible_assets' | translate }}">
            <bd-amount amount="payment.items.recipientAccount.accessibleAssets"
                       currency="{{ payment.items.recipientAccount.currency }}"></bd-amount>
        </bd-item-property>
        <!--nams branch balance-->

        <bd-item-property label="{{::'ocb.payments.new.saving.fill.name.label'|translate}}">
            {{account.accountName}}
            <div id="editableDivName" class="productName" eb-editable-name eb-editable-model="account"
                 placeholder-text="Jozko Ferko"
                 bd-product-id="account.accountId" bd-product-type="ACCOUNT"></div>
        </bd-item-property>

        <bd-item-property label="{{::'ocb.payments.new.saving.fill.branch.label'|translate}}">
            {{account.accountName}}
            <div id="editableDivBranch" class="productName" eb-editable-name eb-editable-model="account"
                 placeholder-text="Branch"
                 bd-product-id="account.accountId" bd-product-type="ACCOUNT"></div>
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.saving.fill.balance.label'|translate}}">
            {{account.accountName}}
            <div id="editableDivBalance" class="productName" eb-editable-name eb-editable-model="account"
                 placeholder-text="1000 VND"
                 bd-product-id="account.accountId" bd-product-type="ACCOUNT"></div>
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.saving.fill.daily_limit.label'|translate}}">
            {{account.accountName}}
            <div id="editableDivLimit" class="productName" eb-editable-name eb-editable-model="account"
                 placeholder-text="10000 VND"
                 bd-product-id="account.accountId" bd-product-type="ACCOUNT"></div>
        </bd-item-property>
<!--group deposit info-->
        <div  class="groupTitle" >{{::'ocb.payments.new.saving.fill.deposit_info_group_name.label'|translate}}

        </div>

        <bd-item-property label="{{ ::'ocb.payments.new.saving.fill.account_type' | translate }}">
          <!--  <input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>
            <rb-account-select rb-account="payment.items.senderAccount"
                               rb-account-id="payment.formData.remitterAccountId"
                               rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                               rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                               rb-account-select-params="senderSelectParams"
                               rb-init-select-fn="getAccountByNrb($accountList, $select)"
                               rb-on-account-select="onSenderAccountSelect($accountId)"
                               rb-remote="remote.model_from"
                               rb-init-select-value = "{{payment.formData.accountNo || selectNrb}}"></rb-account-select>-->

            <ui-select ng-model="selAcc"
                       theme="bootstrap"
                       on-select="accChange($select.selected)"

                       reset-search-input="false"
                       required>
                <ui-select-match placeholder="{{::'ocb.payments.new.sawing.account.select.type.placeholder'|translate}}">
                    <div class="select-account__row__cell account-desc">
                        <rb-account-responsive-line rb-allow-long-nrb="false"
                                                    rb-account-name="$select.selected.name || $select.selected.account"
                                                    rb-account-nrb="$select.selected.account"></rb-account-responsive-line>
                    </div>
                </ui-select-match>
                <ui-select-choices repeat="accItem in accList | filter: $select.search track by $index">
                    <div class="rb-account-select__account-name-row" ng-bind="(accItem.name)"></div>
                    <div class="rb-account-select__account-desc-row">
                        <span class="rb-account-select__account-desc-row__nrb hidden-xs hidden-sm"
                              ng-bind-html="accItem.account | highlight: $select.search"></span>
                        <span class="rb-account-select__account-desc-row__nrb hidden-md hidden-lg"
                              ng-bind-html="accItem.name | highlight: $select.search"></span>

                    </div>
                </ui-select-choices>
            </ui-select>
        </bd-item-property>

        <bd-item-property label="{{ ::'ocb.payments.new.saving.fill.deposit_account_number' | translate }}">
            <input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>
            <rb-account-select rb-account="payment.items.senderAccount"
                               rb-account-id="payment.formData.remitterAccountId"
                               rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                               rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                               rb-account-select-params="senderSelectParams"
                               rb-init-select-fn="getAccountByNrb($accountList, $select)"
                               rb-on-account-select="onSenderAccountSelect($accountId)"
                               rb-remote="remote.model_from"
                               rb-init-select-value = "{{payment.formData.accountNo || selectNrb}}"></rb-account-select>
        </bd-item-property>

        <bd-item-property label="{{::'ocb.payments.new.saving.fill.beneficiaries.label'|translate}}">
            <bd-checkbox  ng-model="benen" ></bd-checkbox>
        </bd-item-property>
<!--group remittance info-->
        <div  class="groupTitle" >{{::'ocb.payments.new.saving.fill.remittance_info_group_name.label'|translate}}
        </div>

        <bd-item-property class="bd-item-property--multi"
                          label="{{ ::'ocb.payments.new.saving.fill.amount_figures.label' | translate }}">

            <div class="bd-item-property--multi__values">
                <div class="bd-item-property__value--primary">
                    <input type="text"
                           name="amount"
                           class="input-field"
                           ng-min="0.01"
                           ng-pattern="AMOUNT_PATTERN"
                           rb-number-type-input
                           ng-model="payment.formData.amount"
                           required
                           placeholder=""
                           rb-foreign-amount-validator
                           rb-source-account-currency="payment.items.senderAccount.currency"
                           rb-transaction-currency="payment.formData.currency"

                       />
                </div>
                <div class="bd-item-property__value--secondary">
                    <ui-select ng-model="payment.formData.currency"
                               theme="bootstrap"
                               ng-disabled="payment.options.currencyLocked"
                               required>
                        <ui-select-match placeholder="{{::'ocb.payments.currency.placeholder' | translate }}">
                            {{$select.selected}}
                        </ui-select-match>
                        <ui-select-choices repeat="currency in currencyList track by $index">
                            <div ng-bind-html="currency | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <eb-validation-messages eb-name="amount">
                <div eb-message-key="convertedBalance" class="validation-message animate-on">
                    {{ 'ocb.payments.new.internal.fill.amount.AMOUNT_EXCEEDED_FUNDS' | translate }}
                </div>

                <div eb-message-key="number" class="validation-message animate-on">
                    {{::'ocb.payments.new.internal.fill.amount.INCORRECT_AMOUNT'|translate}}
                </div>
                <div eb-message-key="pattern" class="validation-message animate-on">
                    {{::'ocb.payments.new.internal.fill.amount.INCORRECT_AMOUNT'|translate}}
                </div>
                <div eb-message-key="ngMin" class="validation-message animate-on">
                    {{::'ocb.payments.new.internal.fill.amount.INCORRECT_AMOUNT'|translate}}
                </div>
                <div eb-message-key="amount" class="validation-message animate-on">
                    {{::'ocb.payments.new.internal.fill.amount.INCORRECT_AMOUNT'|translate}}
                </div>
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.new.internal.fill.amount.EMPTY_AMOUNT'|translate}}
                </div>
            </eb-validation-messages>
            <div style="color: #F4390B;font-size: 14px;font-weight: 300;"
                 ng-if="limitExeeded !== undefined && limitExeeded.show">
                {{limitExeeded.messages}}
            </div>
        </bd-item-property>

        <bd-item-property label="{{::'ocb.payments.new.saving.amount_in_word.label'|translate}}">
            <div id="editableDivAmountInWord" class="productName" eb-editable-name eb-editable-model="account"
                 placeholder-text="amount in word 10000 VND"
                 bd-product-id="account.accountId" bd-product-type="ACCOUNT"></div>
        </bd-item-property>


        <bd-item-property class="bd-item-property--multirow"
                          label="{{ ::'ocb.payments.new.saving.fill.description' | translate }}">
         <textarea name="description"
              ng-model="payment.formData.description"
              ng-pattern="PAYMENT_DESCRIPTION_REGEX"
              split-text-max-length-validators="140"
              required
              class="input-area input-area--party-data"
              placeholder="{{ ::'ocb.payments.new.saving.fill.description.placeholder' | translate }}"></textarea>

            <eb-validation-messages eb-name="description">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.new.saving.fill.description.EMPTY_TITLE'|translate}}
                </div>
                <div eb-message-key="pattern" class="validation-message animate-on">
                    {{::'ocb.payments.new.saving.fill.description.TOO_LONG_TITLE'|translate}}
                </div>
                <div eb-message-key="splitTextMaxLength" class="validation-message animate-on">
                    {{::'ocb.payments.new.saving.fill.description.TOO_LONG_TITLE'|translate}}
                </div>
            </eb-validation-messages>

        </bd-item-property>



    </div>
</form>