<eb-preloader eb-promise="loadData" class="eb-list-preloader"></eb-preloader>
<form name="paymentForm" novalidate>
    <div class="bd-form">
        <div class="groupTitle">{{::'ocb.payments.new.saving.fill.customer_group_name.label'|translate}}

        </div>

        <bd-item-property label="{{ ::'ocb.payments.new.saving.fill.sender_account' | translate }}">
            <!-- <input name="remitterAccountId" hidden ng-model="recipient.formData.remitterAccountId" required/>-->
            <rb-account-select-v2 rb-account-id="payment.formData.remitterAccountId"
                                  rb-account="payment.items.senderAccount"
                                  rb-account-list="payment.items.accountList"
                                  rb-init-select-fn="getAccountByNrb($accountList, $select)"
                                  rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                                  rb-product-list-name="TRANSFER_OTHER_FROM_LIST"
                                  rb-account-select-params="senderSelectParams"
                                  rb-on-account-select="onSenderAccountSelect($account)"
                                  rb-init-select-value="{{payment.formData.accountNo || selectNrb}}">
            </rb-account-select-v2>
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.saving.fill.name.label'|translate}}">
            {{account.accountName}}
            <div id="editableDivName" class="productName" eb-editable-name eb-editable-model="account"
                 placeholder-text="{{payment.meta.customerDetails.fullName}}"
                 bd-product-id="account.accountId" bd-product-type="ACCOUNT"></div>
        </bd-item-property>

        <bd-item-property label="{{::'ocb.payments.new.saving.fill.branch.label' | translate}}" class="bd-item-property--text bd-item-property--disabled" >
            {{payment.items.senderAccount.openBranch}}
        </bd-item-property>


        <bd-item-property label="{{::'ocb.payments.new.saving.fill.balance.label' | translate}}"
                          class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount ng-if="payment.meta.availableFunds !== null" amount="payment.meta.availableFunds" currency="{{payment.items.senderAccount.currency}}"></bd-amount>
        </bd-item-property>

        <bd-item-property label="{{::'ocb.payments.new.saving.fill.daily_limit.label'|translate}}" class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount ng-if="payment.meta.remainingDailyLimit !== null"
                       amount="payment.meta.remainingDailyLimit"
                       currency="{{payment.items.senderAccount.currency}}">
            </bd-amount>
        </bd-item-property>
    </div>
    <div class="bd-form">
        <!--group deposit info-->
        <div class="groupTitle">{{::'ocb.payments.new.saving.fill.deposit_info_group_name.label'|translate}}

        </div>

        <bd-item-property label="{{::'ocb.payments.new.saving.fill.account_type'|translate}}">
            <ui-select ng-model="payment.formData.acctype"
                       theme="bootstrap"
                       name="accountType"
                       on-select="depositAccounts.onDepositAccountTypeSelected($select.selected)"
                       class="deposit_type_select"
                       required>
                <ui-select-match
                        placeholder="{{ ::'ocb.payments.new.saving.account.select.type.placeholder' | translate }}">
                    <div class="deposit_type_truncate">
                        {{$select.selected.name}}
                    </div>
                </ui-select-match>
                <ui-select-choices repeat="accType in accTypeList | filter: $select.search track by $index">
                    <div ng-bind-html=" accType.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <eb-validation-messages eb-name="accountType">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.new.saving.fill.acctype.EMPTY_TITLE'|translate}}
                </div>
            </eb-validation-messages>

        </bd-item-property>

        <bd-item-property label="{{ ::'ocb.payments.new.saving.fill.deposit_account_number' | translate }}">
            <ui-select ng-if="!depositAccounts.accountsList || depositAccounts.accountsList.length > 0"
                       class="rb-account-select__select"
                       theme="bootstrap"
                       ng-disabled="depositAccounts.accountsList.length === 0"
                       name="recipientAccount"
                       ng-model="payment.formData.recipientAccount"
                       on-select="depositAccounts.onAccountSelected($item)"
                       required>

                <ui-select-match placeholder="{{placeholderValue || ('account.statement.select.placeholder'|translate)}}">
                    <div class="rb-account-select__match-text" style="max-width:none;">
                        <div class="select-account__row__cell account-desc" ng-bind="$select.selected.depositContractNumber"></div>
                    </div>
                </ui-select-match>
                <ui-select-choices repeat="accountItem in depositAccounts.accountsList track by $index">
                    <div class="rb-account-select__account-name-row" ng-bind="accountItem.depositContractNumber | highlight: $select.search"></div>
                    <div class="rb-account-select__account-desc-row">
                        <span class="rb-account-select__account-desc-row__nrb hidden-xs hidden-sm" ng-bind="accountItem.accountNo | nrbIbanFilter | highlight: $select.search"></span>
                        <span class="rb-account-select__account-desc-row__nrb hidden-md hidden-lg" ng-bind="accountItem.accountNo | nrbAccountSelectIbanShortFilter | highlight: $select.search"></span>
                        <span class="rb-account-select__account-desc-row__amount"><bd-amount amount="accountItem.depositBalance" currency="{{accountItem.currency}}"></bd-amount></span>
                    </div>
                </ui-select-choices>
            </ui-select>
            <span ng-if="depositAccounts.accountsList.length === 0">{{::'ocb.payments.recipients.new.domestic.fill.recipient_account.NO_ACCOUNT'|translate}}</span>

            <eb-validation-messages eb-name="recipientAccount">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.new.saving.fill.recipient_account.required'|translate}}
                </div>
            </eb-validation-messages>
        </bd-item-property>

        <rb-add-to-beneficiary-select
                rb-model="payment.formData"
                rb-modify-from-beneficiary="payment.items.modifyFromBeneficiary">
        </rb-add-to-beneficiary-select>
    </div>
    <div class="bd-form">
        <!--group remittance info-->
        <div class="groupTitle">{{::'ocb.payments.new.saving.fill.remittance_info_group_name.label'|translate}}
        </div>

        <bd-item-property label="{{::'ocb.payments.new.saving.fill.amount_figures.label' | translate}}">
            <div class="control-has-indicator">
                <input
                        type="text"
                        name="amount"
                        rb-number-type-input
                        ng-min="0.01"
                        class="input-field"
                        ng-model="payment.formData.amount"
                        ng-pattern="AMOUNT_PATTERN"
                        required
                        amount-input
                        currency="{{payment.items.senderAccount.currency}}"
                        placeholder="{{::'ocb.payments.domestic.amount.placeholder' | translate }}"
                />
                <div class="indicator">{{payment.items.senderAccount.currency}}</div>
            </div>
            <eb-validation-messages eb-name="amount">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.domestic.amount.error.empty' | translate}}
                </div>
                <div eb-message-key="pattern" class="validation-message animate-on">
                    {{::'ocb.payments.domestic.amount.error.invalid' | translate}}
                </div>
                <div eb-message-key="ngMin" class="validation-message animate-on">
                    {{::'ocb.payments.domestic.amount.error.invalid' | translate}}
                </div>
                <div eb-message-key="funds" class="validation-message animate-on">
                    {{::'ocb.payments.domestic.amount.error.funds' | translate }}
                </div>
                <div eb-message-key="limits" class="validation-message animate-on">
                    {{::'ocb.payments.domestic.amount.error.limits' | translate}}
                </div>
            </eb-validation-messages>

            <div style="color: #F4390B;font-size: 14px;font-weight: 300;"
                 ng-if="limitExeeded !== undefined && limitExeeded.show">
                {{limitExeeded.messages}}
            </div>
        </bd-item-property>

        <bd-item-property class="amount-wrapper italic-control" label="{{ ::'ocb.payments.new.saving.amount_in_word.label' | translate }}">
            {{payment.formData.amount | numberToText}}
        </bd-item-property>

        <bd-item-property class="bd-item-property--multirow"
                          label="{{ ::'ocb.payments.new.saving.fill.description' | translate }}">
         <textarea name="description"
                   ng-model="payment.formData.description"
                   ng-pattern="PAYMENT_DESCRIPTION_REGEX"
                   split-text-max-length-validators="140"
                   required
                   class="input-area input-area--party-data"
                   placeholder="{{ ::'ocb.payments.new.saving.fill.description.placeholder' | translate }}"></textarea>

            <eb-validation-messages eb-name="description">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.new.saving.fill.description.EMPTY_TITLE'|translate}}
                </div>
                <div eb-message-key="pattern" class="validation-message animate-on">
                    {{::'ocb.payments.new.saving.fill.description.TOO_LONG_TITLE'|translate}}
                </div>
                <div eb-message-key="splitTextMaxLength" class="validation-message animate-on">
                    {{::'ocb.payments.new.saving.fill.description.TOO_LONG_TITLE'|translate}}
                </div>
            </eb-validation-messages>

        </bd-item-property>


    </div>
</form>
