<form name="changeMobilePasswordForm">
    <bd-form-content>

        <ng-include src="detailsTemplatePath"></ng-include>

        <bd-item-property  label="{{ token.model.currentToken.label }}">
            <rb-token-authorization rb-operation-type="TRANSFER" rb-model="token.model" rb-params="tokenParams"></rb-token-authorization>
        </bd-item-property>

    </bd-form-content>
</form>

<bd-form-footer>
    <bd-button class="bd-form-footer__button--positive bd-button__primary"
               ng-click="onProceedButtonClick()">
        <span ng-hide="token.model.view.name === RB_TOKEN_AUTHORIZATION_CONSTANTS.VIEW_NAME.ACTION_SELECTION">
            {{::'raiff.payments.future.delete.buttons.proceed' | translate}}
        </span>
        <span ng-show="token.model.view.name===RB_TOKEN_AUTHORIZATION_CONSTANTS.VIEW_NAME.ACTION_SELECTION">
            {{::'raiff.payments.future.bad_token.buttons.proceed' | translate}}
            <i class="eb-icon eb-raiffeisen-theme eb-ico-next"></i>
        </span>
    </bd-button>

    <bd-button class="bd-form-footer__button--negative"
               ng-click="onCancelButtonClick()">{{::'raiff.payments.future.delete.buttons.cancel' | translate}}
    </bd-button>

</bd-form-footer>