
<form name="payUBKUForm">
        <div class="accounts-transaction-list-filter">
            <div class="row-line">
                <div class="row-line__cell">
                    <bd-item-property label="{{::'ocb.payments.payu_bku.std_code.label' | translate}}">

                        <input bd-type="text" ng-model="stdCode" class="input-field" name="contentText"/>
                        &nbsp;
                        <bd-button class="bd-button bd-button__primary" ng-click="searchStudent()" type="submit">{{::'ocb.payments.recipients.select.filter.button.action'|translate}}</bd-button>

                    </bd-item-property>
                </div>

            </div>
        </div>
        <div class="account-collapse-item form-horizontal">
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_bku.std.label' | translate}}</p></div></div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_name.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_gen.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdGen}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_code.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdCode}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_birth.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdBirth}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_depart.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdDepart}}</div>
            </div>
        </div>
        <div class="account-collapse-item form-horizontal">
        <bd-table
            bd-type="typePU"
            bd-table-params="table.tableConfig"
            bd-table-control="table.tableControl"
            bd-table-data="table.tableData"
            bd-table-promise="testDataPromise"
            bd-table-meta="{
            'first':{
            'title': '##ocb.payments.payu_bku.table.paymentCode.label',
            'data': 'paymentCode'
            },
            'second':{
            'title': '##ocb.payments.payu_bku.table.amount.label',
            'data': 'amount'
            },
            'third':{
            'title': '##ocb.payments.payu_bku.table.desc.label',
            'data': 'desc'
            },
            'fourth':{
            'title': '##ocb.payments.payu_bku.table.dueDate.label',
            'data': 'dueDate'
            }
            }"
            >
        </bd-table>
            <br>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.amount_in_fg.label' | translate}}</div>
                <div class="col-md-3">{{amountInfo.figure}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.amount_in_word.label' | translate}}</div>
                <div class="col-md-3">{{amountInfo.words}}</div>
            </div>
        </div>


        <div class="account-collapse-item form-horizontal">
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_bku.remitter.label' | translate}}</p></div></div>
            <div class="row" style="display: flex;align-items: center;">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_number.label' | translate}}</div>
                <div class="col-md-5">        <rb-account-select rb-account="payment.items.senderAccount"
                                                                 rb-account-no="remitterAccountId"
                                                                 rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                                                                 rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                                                                 rb-account-select-params="senderSelectParams"
                                                                 rb-init-select-fn="getAccountByNrb($accountList, $select)"
                                                                 rb-on-account-select="onAccountChange($accountNo)"
                                                                 rb-remote="remote.model_from"
                                                                 rb-init-select-value = "{{account || selectNrb}}"
                                                                 rb-only-pending-transaction="pendingTransaction"
                                                                 rb-update-disabled-state="billInfoSearch"></rb-account-select>
                </div>

            </div>
            <br>
            <div class="row" >
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_name.label' | translate}}</div>
                <div class="col-md-5">{{remitterInfo.accName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_branch.label' | translate}}</div>
                <div class="col-md-5">{{remitterInfo.ocbBranch}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_avail.label' | translate}}</div>
                <div class="col-md-5">{{remitterInfo.availFund}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_remain.label' | translate}}</div>
                <div class="col-md-5">{{remitterInfo.remainDaily}}</div>
            </div>
        </div>
    </form>





