
<form name="payUBKUForm">
        <div class="accounts-transaction-list-filter">
            <div class="row-line">
                <div class="row-line__cell">
                    <bd-item-property label="{{::'ocb.payments.payu_bku.std_code.label' | translate}}">

                        <input bd-type="text" ng-model="payuBku.data.stdCode" class="input-field" name="contentText" required/>
                        &nbsp;
                        <bd-button class="bd-button bd-button__primary" ng-click="searchStudent()" type="submit">{{::'ocb.payments.recipients.select.filter.button.action'|translate}}</bd-button>

                    </bd-item-property>
                </div>

            </div>
        </div>
        <div class="account-collapse-item form-horizontal" ng-if="payuBku.data.stdInfo">
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_bku.std.label' | translate}}</p></div></div>

            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_name.label' | translate}}</div>
                <div class="col-md-3">{{payuBku.data.stdInfo.studentName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_gen.label' | translate}}</div>
                <div class="col-md-3">{{payuBku.data.stdInfo.gender}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_code.label' | translate}}</div>
                <div class="col-md-3">{{payuBku.data.stdInfo.studentCode}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_birth.label' | translate}}</div>
                <div class="col-md-3">{{payuBku.data.stdInfo.birthday}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_depart.label' | translate}}</div>
                <div class="col-md-3">{{payuBku.data.stdInfo.department}}</div>
            </div>
        </div>
        <div class="account-collapse-item form-horizontal" ng-if="payuBku.data.subjectInfo">
        <bd-table
            bd-type="typePU"
            bd-table-params="table.tableConfig"
            bd-table-control="table.tableControl"
            bd-table-data="table.tableData"
            bd-table-promise="testDataPromise"
            bd-table-meta="{
            'first':{
            'title': '##ocb.payments.payu_bku.table.paymentCode.label',
            'data': 'itemCode'
            },
            'second':{
            'title': '##ocb.payments.payu_bku.table.amount.label',
            'data': 'amount'
            },
            'third':{
            'title': '##ocb.payments.payu_bku.table.desc.label',
            'data': 'description'
            },
            'fourth':{
            'title': '##ocb.payments.payu_bku.table.dueDate.label',
            'data': 'dueDate'
            }
            }"
            >
        </bd-table>
            <br>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.amount_in_fg.label' | translate}}</div>
                <div class="col-md-3">
                    <bd-amount amount="payuBku.data.amountInfo.tuitionAmount" currency="{{payuBku.data.amountInfo.currency}}"></bd-amount>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.amount_in_word.label' | translate}}</div>
                <div class="col-md-3">{{payuBku.data.amountInfo.words}}</div>
            </div>
        </div>


        <div class="account-collapse-item form-horizontal" ng-if="payuBku.data.stdInfo !== null">
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_bku.remitter.label' | translate}}</p></div></div>
            <div class="row" style="display: flex;align-items: center;">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_number.label' | translate}}</div>
                <div class="col-md-5">        <rb-account-select rb-account="payuBku.data.senderAccount"
                                                                 rb-account-no="remitterAccountId"
                                                                 rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                                                                 rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                                                                 rb-account-select-params="senderSelectParams"
                                                                 rb-init-select-fn="getAccountByNrb($item, $select)"
                                                                 rb-on-account-select="onAccountChange($accountList,$item)"
                                                                 rb-remote="remote.model_from"
                                                                 rb-init-select-value = "{{account || selectNrb}}"
                                                                ></rb-account-select>
                </div>

            </div>
            <br>
            <div ng-if="payuBku.data.senderAccount !== null">
                <div class="row" >
                    <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_name.label' | translate}}</div>
                    <div class="col-md-5">{{payuBku.data.senderAccount.accountName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_branch.label' | translate}}</div>
                    <div class="col-md-5">{{payuBku.data.senderAccount.branch}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_avail.label' | translate}}</div>
                    <div class="col-md-5">{{payuBku.data.senderAccount.currentBalance + ' ' +payuBku.data.senderAccount.currency}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_remain.label' | translate}}</div>
                    <div class="col-md-5">{{payuBku.data.senderAccount.limit}}</div>
                </div>
            </div>
        </div>
        <span class="eb-validation-messages">
             <span class="messages"  ng-if="errMsg">
                 <span class="validation-message">
                    {{errMsg}}
                 </span>
             </span>
        </span>
    </form>





