
<form name="payUBKUForm">
        <div class="accounts-transaction-list-filter">
            <div class="row-line">
                <div class="row-line__cell">
                    <bd-item-property label="{{::'ocb.payments.payu_bku.std_code.label' | translate}}">

                        <input bd-type="text" ng-model="stdCode" class="input-field" name="contentText"/>
                        &nbsp;
                        <bd-button class="bd-button bd-button__primary" ng-click="searchStudent()" type="submit">{{::'ocb.payments.recipients.select.filter.button.action'|translate}}</bd-button>

                    </bd-item-property>
                </div>

            </div>
        </div>
        <div class="account-collapse-item form-horizontal">
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_bku.std.label' | translate}}</p></div></div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_name.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_gen.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdGen}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_code.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdCode}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_birth.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdBirth}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.std_depart.label' | translate}}</div>
                <div class="col-md-3">{{stdInfo.stdDepart}}</div>
            </div>
        </div>
        <div class="account-collapse-item form-horizontal">
        <bd-table
            bd-type="typePU"
            bd-table-params="table.tableConfig"
            bd-table-control="table.tableControl"
            bd-table-data="table.tableData"
            bd-table-promise="testDataPromise"
            bd-table-meta="{
            'first':{
            'title': '##ocb.payments.payu_bku.table.paymentCode.label',
            'data': 'paymentCode'
            },
            'second':{
            'title': '##ocb.payments.payu_bku.table.amount.label',
            'data': 'amount'
            },
            'third':{
            'title': '##ocb.payments.payu_bku.table.desc.label',
            'data': 'desc'
            },
            'fourth':{
            'title': '##ocb.payments.payu_bku.table.dueDate.label',
            'data': 'dueDate'
            }
            }"
            >
        </bd-table>
        </div>


        <div class="account-collapse-item form-horizontal">
            <div class="row strong"><div class="col-md-3 "><p class="font-weight-bold text-uppercase">{{::'ocb.payments.payu_bku.remitter.label' | translate}}</p></div></div>
            <div class="row" style="display: flex;align-items: center;">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_number.label' | translate}}</div>
                <div class="col-md-5">        <rb-account-select rb-account="payment.items.senderAccount"
                                                                 rb-account-no="remitterAccountId"
                                                                 rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                                                                 rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                                                                 rb-account-select-params="senderSelectParams"
                                                                 rb-init-select-fn="getAccountByNrb($accountList, $select)"
                                                                 rb-on-account-select="onAccountChange($accountNo)"
                                                                 rb-remote="remote.model_from"
                                                                 rb-init-select-value = "{{account || selectNrb}}"
                                                                 rb-only-pending-transaction="pendingTransaction"
                                                                 rb-update-disabled-state="billInfoSearch"></rb-account-select>
                </div>

            </div>
            <br>
            <div class="row" >
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_name.label' | translate}}</div>
                <div class="col-md-5">{{remitterInfo.accName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_branch.label' | translate}}</div>
                <div class="col-md-5">{{remitterInfo.ocbBranch}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_avail.label' | translate}}</div>
                <div class="col-md-5">{{remitterInfo.availFund}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 lb">{{::'ocb.payments.payu_bku.remitter_remain.label' | translate}}</div>
                <div class="col-md-5">{{remitterInfo.remainDaily}}</div>
            </div>
        </div>
    </form>

    <!--<form name="paymentsBatchProcessingFormForm">-->
        <!--<div class="account-collapse-item form-horizontal">-->
            <!--<bd-header>{{ ::'ocb.payments.payu.bku.header.label' | translate }}</bd-header>-->

            <!--<bd-item-property-form ng-if="paymentsBatchProcessingForm.formData.selectedAccount" ng-disabled="paymentsBatchProcessingForm.batchInfoSearch"-->
                              <!--label="{{ ::'ocb.payments.batch_processing.name' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">-->
                <!--<div class="bd-amount" ng-class="{'not-styled': notStyled, 'amount-negative': highlightNegative &&  amount < 0}">-->
                    <!--<span class="bd-amount__value">{{paymentsBatchProcessingForm.formData.selectedAccount.accountName| uppercase}}</span>-->
                    <!--<span class="bd-amount__currency" ng-show="!showDash"></span>-->
                    <!--<span class="dash" ng-show="showDash">-</span>-->
                <!--</div>-->
            <!--</bd-item-property-form>-->
            <!--<bd-item-property-form ng-if="paym0entsBatchProcessingForm.formData.selectedAccount" ng-disabled="paymentsBatchProcessingForm.batchInfoSearch"-->
                              <!--label="{{ ::'ocb.payments.batch_processing.ocbbranch' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">-->
                <!--<div class="bd-amount" ng-class="{'not-styled': notStyled, 'amount-negative': highlightNegative &&  amount < 0}">-->
                    <!--<span class="bd-amount__value">Tan Binh???</span><span class="bd-amount__currency" ng-show="!showDash"></span>-->
                    <!--<span class="dash" ng-show="showDash">-</span>-->
                <!--</div>-->
            <!--</bd-item-property-form>-->

            <!--<bd-item-property-form ng-if="paymentsBatchProcessingForm.formData.selectedAccount" ng-disabled="paymentsBatchProcessingForm.batchInfoSearch"-->
                              <!--label="{{ ::'ocb.payments.new.domestic.fill.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">-->
                <!--<bd-amount amount="paymentsBatchProcessingForm.formData.selectedAccount.accessibleAssets"-->
                           <!--currency="{{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}"></bd-amount>-->
            <!--</bd-item-property-form>-->

            <!--<bd-item-property-form ng-if="paymentsBatchProcessingForm.formData.selectedAccount" ng-disabled="paymentsBatchProcessingForm.batchInfoSearch"-->
                              <!--label="{{ ::'ocb.payments.batch_processing.remainingdailylimit' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">-->
                <!--<bd-amount amount="paymentsBatchProcessingForm.formData.selectedAccount.accessibleAssets"-->
                           <!--currency="{{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}???"></bd-amount>-->
            <!--</bd-item-property-form>-->

            <!--<bd-item-property-form label="{{ ::'ocb.payments.batch_processing.transactiontype' | translate }}" ng-disabled="paymentsBatchProcessingForm.batchInfoSearch">-->
                <!--<ui-select ng-disabled="paymentsBatchProcessingForm.batchInfoSearch"-->
                        <!--ng-model="paymentsBatchProcessingForm.formData.selectedTransactionType"-->
                           <!--theme="bootstrap"-->
                           <!--on-select="onTransactionTypeChanged($select.selected)"-->
                           <!--required>-->
                    <!--<ui-select-match placeholder="{{ ::'ocb.payments.batch_processing.transactiontype' | translate }}">-->
                        <!--{{$select.selected.typeName}}-->
                    <!--</ui-select-match>-->
                    <!--<ui-select-choices repeat="transactionType in transaction_types | filter: $select.search track by $index">-->
                        <!--<div ng-bind-html="transactionType.typeName | highlight: $select.search"></div>-->
                    <!--</ui-select-choices>-->
                <!--</ui-select>-->
            <!--</bd-item-property-form>-->

            <!--<bd-item-property-form label="{{ ::'ocb.payments.batch_processing.subaccount' | translate  }}" ng-disabled="paymentsBatchProcessingForm.batchInfoSearch">-->
                <!--<ui-select ng-disabled="paymentsBatchProcessingForm.batchInfoSearch"-->
                        <!--ng-model="paymentsBatchProcessingForm.formData.selectedSubAccount"-->
                           <!--theme="bootstrap"-->
                           <!--on-select="onSubAccountChanged($select.selected)"-->
                           <!--required>-->
                    <!--<ui-select-match placeholder="Sub Account">-->
                        <!--{{$select.selected.accountName}} {{$select.selected.accountNo}}-->
                    <!--</ui-select-match>-->
                    <!--<ui-select-choices repeat="subAccount in subAccountList | filter: $select.search track by $index">-->
                        <!--&lt;!&ndash;<div ng-bind="subAccount.accountNo | highlight: $select.search"></div>&ndash;&gt;-->
                        <!--<div class="rb-account-select__account-name-row" ng-bind="subAccount.accountName"></div>-->
                        <!--<div class="rb-account-select__account-desc-row" ng-show="noSubAccount">-->
                            <!--<span class="rb-account-select__account-desc-row__nrb hidden-xs hidden-sm" ng-bind="subAccount.accountNo | nrbIbanFilter | highlight: $select.search"></span>-->
                            <!--<span class="rb-account-select__account-desc-row__nrb hidden-md hidden-lg" ng-bind="subAccount.accountNo | nrbAccountSelectIbanShortFilter | highlight: $select.search"></span>-->
                            <!--<span class="rb-account-select__account-desc-row__amount" ng-bind="((subAccount.accessibleAssets | currency:'') + ' ' + subAccount.currency) | highlight: $select.search"></span>-->
                        <!--</div>-->
                    <!--</ui-select-choices>-->
                <!--</ui-select>-->
            <!--</bd-item-property-form>-->
        <!--</div>-->
        <!--<div class="account-collapse-item form-horizontal" ng-show="paymentsBatchProcessingForm.batchInfoSearch">-->
            <!--<bd-header>{{ ::'ocb.payments.batch_processing.beneficiarylist' | translate }}</bd-header>-->
            <!--<bd-item-property-form label="{{ ::'ocb.payments.batch_processing.uploadfile' | translate }}">-->
                <!--<div class="input-group form-btn">-->
                    <!--&lt;!&ndash;<div class="addfile-block" style="">-->
                        <!--<div class="form-control file-name"></div>-->
                        <!--<label class="filelb">-->
                            <!--<input type="file">-->
                            <!--<img ng-src="{{svgPath}}" width="37" height="37"/>-->
                        <!--</label>-->
                    <!--</div>&ndash;&gt;-->
                    <!--<input style="cursor: pointer" type="file" id="uploadFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>-->
                    <!--<span class="display-group">-->
                        <!--<bd-button class="bd-button__primary bd-button" ng-click="tienTest()">{{::'ocb.payments.batch_processing.upload'|translate}}</bd-button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</bd-item-property-form>-->
            <!--<bd-item-property-form>-->
                <!--<div class="input-group">-->
                    <!--<a class="bd-button" ng-show="isInternal" ng-click="downloadTemplateInternal()">{{ ::'ocb.payments.batch_processing.download.template' | translate }}</a>-->
                    <!--<a class="bd-button" ng-show="isExternal" ng-click="downloadTemplateExternal()">{{ ::'ocb.payments.batch_processing.download.template' | translate }}</a>-->
                <!--</div>-->
            <!--</bd-item-property-form>-->
        <!--</div>-->

        <!--&lt;!&ndash;Table section&ndash;&gt;-->
        <!--<div class="account-collapse-item form-btn" ng-show="paymentsBatchProcessingForm.validTableShow">-->
            <!--<span class="display-group padding-bottom-5">-->
                <!--<bd-button class="bd-button__primary bd-button" ng-click="downloadTable()">{{::'ocb.payments.batch_processing.download.excelTable'|translate}}</bd-button>-->
            <!--</span>-->
            <!--<bd-table-->
                    <!--bd-display-bank-code="displayBankCode"-->
                    <!--bd-type="typeBP"-->
                    <!--bd-table-params="tableValid.tableConfig"-->
                    <!--bd-table-control="tableValid.tableControl"-->
                    <!--bd-table-data="tableValid.tableData"-->
                    <!--bd-table-promise="testDataPromise"-->
                    <!--bd-table-meta="{-->
                        <!--'first':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.fullname',-->
                            <!--'data': 'fullName'-->
                        <!--},-->
                        <!--'second':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.accountno',-->
                            <!--'data': 'accountNo'-->
                        <!--},-->
                        <!--'third':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.bankcode',-->
                            <!--'data': 'bankCode'-->
                        <!--},-->
                        <!--'fourth':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.amount',-->
                            <!--'data': 'amount'-->
                        <!--},-->
                        <!--'fifth':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.remarks',-->
                            <!--'data': 'description'-->
                        <!--}-->
                    <!--}"-->
            <!--&gt;-->
            <!--</bd-table>-->
            <!--<div class="form-horizontal margin-top-10">-->
                <!--<bd-item-property-form class="no-margin-bottom no-padding-top form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalamountinfigures' | translate }}"><span class="yellow-label">{{totalamountinfigures}} {{ selectedAccount.currency }}</span></bd-item-property-form>-->
                <!--<bd-item-property-form class="no-margin-bottom no-padding-top form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalamountinwords' | translate }}">{{totalamountinwords}} {{ selectedAccount.currency }}</bd-item-property-form>-->
                <!--<bd-item-property-form class="no-margin-bottom no-padding-top form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalamountinwords' | translate }}">{{totalamountinwordsen}} {{ selectedAccount.currency }}</bd-item-property-form>-->
                <!--<bd-item-property-form class="no-margin-bottom no-padding-top form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalnumberoflines' | translate }}">{{totalnumberoflines}}</bd-item-property-form>-->
            <!--</div>-->

            <!--<span class="display-group padding-bottom-5" ng-show="paymentsBatchProcessingForm.invalidTableShow">-->
                <!--<bd-button class="bd-button__primary bd-button" ng-click="downloadTableInvalid()">{{::'ocb.payments.batch_processing.download.excelTable'|translate}}</bd-button>-->
            <!--</span>-->
            <!--<bd-table-->
                    <!--ng-show="paymentsBatchProcessingForm.invalidTableShow"-->
                    <!--bd-display-bank-code="displayBankCode"-->
                    <!--bd-type="typeBP"-->
                    <!--bd-table-params="tableInvalid.tableConfig"-->
                    <!--bd-table-control="tableInvalid.tableControl"-->
                    <!--bd-table-data="tableInvalid.tableData"-->
                    <!--bd-table-promise="testDataPromise"-->
                    <!--bd-table-meta="{-->
                        <!--'first':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.fullname',-->
                            <!--'data': 'fullName'-->
                        <!--},-->
                        <!--'second':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.accountno',-->
                            <!--'data': 'accountNo'-->
                        <!--},-->
                        <!--'third':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.bankcode',-->
                            <!--'data': 'bankCode'-->
                        <!--},-->
                        <!--'fourth':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.amount',-->
                            <!--'data': 'amount'-->
                        <!--},-->
                        <!--'fifth':{-->
                            <!--'title': '##ocb.payments.batch_processing.table.remarks',-->
                            <!--'data': 'description'-->
                        <!--}-->
                    <!--}"-->
            <!--&gt;-->
            <!--</bd-table>-->
        <!--</div>-->
    <!--</form>-->



