<div class="form-body" ng-controller="NewUsPaymentVerifyController">
    <span ng-show="meta.cutOffTimePromise.$$state.status  !== 0">
    <rb-cut-off-time
            response-value="meta.responseCutOffTime"
            transfer-kind="payment.type.code"
            realization-date="payment.formData.realizationDate"
            cut-off-time-promise="meta.cutOffTimePromise"
            end-of-day-warning="payment.endOfDayWarning"
            is-holiday="payment.holiday">
        <bd-msg-panel ng-if="meta.responseCutOffTime" bd-msg-type="warning" class="message-inline">{{::'raiff.payments.cut.off.time.'+meta.responseCutOffTime | translate}}</bd-msg-panel>
    </rb-cut-off-time>
    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.sender_account_name'|translate}}">
        <div style="word-break: break-word">{{ payment.items.senderAccount.customName || payment.items.senderAccount.accountName }}</div><!-- | nazwa -->

        {{ payment.items.senderAccount.accountNo | nrbIbanFilter }} <!-- | numer -->

        <p ng-bind-html="payment.items.senderAccount | accountOwners"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.recipient_account_no'|translate}}">
        {{payment.items.recipientAccount.accountNo | nrbIbanFilter }} | {{payment.items.recipientAccount.officeName}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.taxpayer_data'|translate}}">
        <p style="word-break: break-all">{{payment.formData.taxpayerDataTable.join('')}}></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.supplementary_id_type'|translate}}">
        {{ ::'raiff.payments.new.us.fill.taxpayer_supplementary_id_type.' + payment.formData.idType | translate }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.supplementary_id'|translate}}">
        {{payment.formData.idNumber}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.form_symbol'|translate}}">
        {{ ::payment.formData.formCode }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.periodType" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.period_type'|translate}}">
        {{ ::'raiff.payments.new.us.fill.period_type.' + payment.formData.periodType | translate }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.periodNo" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.period_no'|translate}}">
        {{ payment.formData.periodNo }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.periodYear" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.period_year'|translate}}">
        {{ payment.formData.periodYear }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.obligationId" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.commitment_id'|translate}}">
        {{ payment.formData.obligationId }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.amount'|translate}}">
        <bd-amount amount="payment.formData.amount" currency="{{ payment.formData.currency }}" not-styled show-dash></bd-amount>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.us.verify.execution_date'|translate}}">
        {{payment.formData.realizationDate | date:'shortDate' }}
    </bd-item-property>
    <bd-item-property ng-show="transferCost.link != null" class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.verify.transfer_cost'|translate}}">
        <a ng-show="transferCost.link != null" href="{{transferCost.link}}" target="_blank">{{::'raiff.payments.new.verify.transfer_cost.info'|translate}}</a>
    </bd-item-property>
     <span class="eb-validation-messages" ng-if="payment.holiday">
         <span class="messages">
             <span class="validation-message">
                 {{::'raiff.payments.new.domestic.fill.execution_date.holiday'|translate}}
             </span>
         </span>
    </span>
    </span>
    <eb-preloader class="eb-list-preloader" eb-promise="meta.cutOffTimePromise"></eb-preloader>

</div>