<div class="form-body" ng-controller="NewUsPaymentVerifyController">
    <span ng-show="meta.cutOffTimePromise.$$state.status  !== 0">
    <rb-cut-off-time
            response-value="meta.responseCutOffTime"
            transfer-kind="payment.type.code"
            realization-date="payment.formData.realizationDate"
            cut-off-time-promise="meta.cutOffTimePromise"
            end-of-day-warning=""
            is-holiday="payment.holiday"
            add-to-basket="payment.formData.addToBasket">
        <bd-msg-panel ng-if="meta.responseCutOffTime" bd-msg-type="warning" class="message-inline">{{::'ocb.payments.cut.off.time.'+meta.responseCutOffTime | translate}}</bd-msg-panel>
    </rb-cut-off-time>
    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.sender_account_name'|translate}}">
        <div class="hidden-sm hidden-xs hidden-md">
            <div class="break-force">{{ payment.items.senderAccount.customName || payment.items.senderAccount.accountName }}</div>
            <div>
                {{payment.items.senderAccount.accountNo | nrbIbanFilter }}
            </div>
        </div>
        <div class="hidden-lg">
            <rb-account-responsive-line rb-account-name="payment.items.senderAccount.customName || payment.items.senderAccount.accountName" rb-account-nrb="payment.items.senderAccount.accountNo"></rb-account-responsive-line>
        </div>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.domestic.verify.sender_data'|translate}}">
        <p ng-bind-html="payment.items.senderAccount | accountOwners"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.recipient_account_no'|translate}}">
        {{payment.items.recipientAccount.accountNo | nrbIbanFilter }}<br/>{{payment.items.recipientAccount.officeName}}<span ng-if="payment.items.recipientAccount.officeAddress.length > 0">, {{payment.items.recipientAccount.officeAddress}}</span>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.taxpayer_data'|translate}}">
        <p>{{payment.formData.taxpayerDataTable | arrayFilter}}</p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.supplementary_id_type'|translate}}">
        {{ ::'ocb.payments.new.us.fill.taxpayer_supplementary_id_type.' + payment.formData.idType | translate }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.supplementary_id'|translate}}">
        {{payment.formData.idNumber}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.form_symbol'|translate}}">
        {{ ::payment.formData.formCode }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.periodType" class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.period_type'|translate}}">
        {{ ::'ocb.payments.new.us.fill.period_type.' + payment.formData.periodType | translate }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.periodNo" class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.period_no'|translate}}">
        {{ payment.formData.periodNo }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.periodYear" class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.period_year'|translate}}">
        {{ payment.formData.periodYear }}
    </bd-item-property>

    <bd-item-property ng-if="payment.formData.obligationId" class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.commitment_id'|translate}}">
        {{ payment.formData.obligationId }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.amount'|translate}}">
        <bd-amount amount="payment.formData.amount" currency="{{ payment.formData.currency }}" not-styled show-dash></bd-amount>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.us.verify.execution_date'|translate}}">
        {{payment.formData.realizationDate | date:'shortDate' }}
    </bd-item-property>
    <bd-item-property ng-show="transferCost.link != null" class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.verify.transfer_cost'|translate}}">
        <a ng-show="transferCost.link != null" href="{{transferCost.link}}" target="_blank">{{::'ocb.payments.new.verify.transfer_cost.info'|translate}}</a>
    </bd-item-property>
     <span class="eb-validation-messages">
         <span class="messages" ng-if="payment.holiday">
             <span class="validation-message">
                 {{::'ocb.payments.new.domestic.fill.execution_date.holiday'|translate}}
             </span>
         </span>
         <span class="messages" ng-if="payment.formData.addToBasket && !payment.items.modifyFromBasket">
             <span class="validation-message">
                 {{::'ocb.payments.basket.add.verify'|translate}}
             </span>
         </span>
          <span class="messages" ng-if="payment.items.modifyFromBasket">
             <span class="validation-message">
                 {{::'ocb.payments.basket.modify.verify.'+payment.meta.customerContext|translate}}
             </span>
         </span>
         <span class="messages" ng-if="payment.items.modifyFromBasket && payment.meta.customerContext=='MICRO'">
             <span class="validation-message">
                 {{::'ocb.payments.basket.modify.signRemove.verify'|translate}}
             </span>
         </span>
    </span>
    </span>
    <eb-preloader class="eb-list-preloader" eb-promise="meta.cutOffTimePromise"></eb-preloader>

</div>