<!-- Created by Tien Bui on 10/30/2017 -->
<div class="batch">
    <div class="detail-item form-horizontal">
        <bd-header>{{ ::'ocb.payments.batch_processing.dataverify.label' | translate }}</bd-header>
        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.accountnumber' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <div class="bd-amount form-group-label-value" ng-class="{'not-styled': notStyled, 'amount-negative': highlightNegative &&  amount < 0}">
                <span class="bd-amount__value">{{paymentsBatchProcessingForm.formData.selectedAccount.accountNo}}</span>
                <span class="bd-amount__currency" ng-show="!showDash"></span>
                <span class="dash" ng-show="showDash">-</span>
            </div>
        </bd-item-property-form>
        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.name' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <div class="bd-amount form-group-label-value" ng-class="{'not-styled': notStyled, 'amount-negative': highlightNegative &&  amount < 0}">
                <span class="bd-amount__value">{{paymentsBatchProcessingForm.fullName}}</span>
                <span class="bd-amount__currency" ng-show="!showDash"></span>
                <span class="dash" ng-show="showDash">-</span>
            </div>
        </bd-item-property-form>
        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.ocbbranch' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <div class="bd-amount form-group-label-value" ng-class="{'not-styled': notStyled, 'amount-negative': highlightNegative &&  amount < 0}">
                <span class="bd-amount__value"> {{paymentsBatchProcessingForm.formData.selectedAccount.openBranch}}</span><span class="bd-amount__currency" ng-show="!showDash"></span>
                <span class="dash" ng-show="showDash">-</span>
            </div>
        </bd-item-property-form>
        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.new.domestic.fill.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount class="form-group-label-value" amount="paymentsBatchProcessingForm.formData.selectedAccount.accessibleAssets"
                       currency="{{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}"></bd-amount>
        </bd-item-property-form>

        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.remainingdailylimit' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount class="form-group-label-value" amount="paymentsBatchProcessingForm.formData.limit.remainingDailyLimit"
                       currency="{{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}"></bd-amount>
        </bd-item-property-form>
        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.transactiontype' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <div class="bd-amount form-group-label-value" ng-class="{'not-styled': notStyled, 'amount-negative': highlightNegative &&  amount < 0}">
                <span class="bd-amount__value">{{paymentsBatchProcessingForm.formData.selectedTransactionType.typeName}}</span>
            </div>
        </bd-item-property-form>
        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.dataverify.date' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <div class="bd-amount form-group-label-value" ng-class="{'not-styled': notStyled, 'amount-negative': highlightNegative &&  amount < 0}">
                <span class="bd-amount__value">{{paymentsBatchProcessingForm.formData.createDate}}</span>
            </div>
        </bd-item-property-form>

        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalamountinfigures' | translate }}">
            <div class="bd-amount form-group-label-value">
                <span class="bd-amount__value">{{paymentsBatchProcessingForm.formData.totalamountinfigures}} {{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}</span>
            </div>
        </bd-item-property-form>
        <bd-item-property-form class="form-group-detail" ng-if="transactionFee > 0" label="{{ ::'ocb.payments.batch_processing.table.transactionFee' | translate }}">
            <div class="bd-amount form-group-label-value">
                <span class="bd-amount__value">{{paymentsBatchProcessingForm.formData.transactionFee}} {{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}</span>
            </div>
        </bd-item-property-form>
        <bd-item-property-form class="form-group-detail" ng-if="transactionFee > 0" label="{{ ::'ocb.payments.batch_processing.table.totalamountFee' | translate }}">
            <div class="bd-amount form-group-label-value">
                <span class="bd-amount__value">{{paymentsBatchProcessingForm.formData.totalAmountWithFee}} {{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}</span>
            </div>
        </bd-item-property-form>
        <!--<bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalamountinwords' | translate }}">
            {{totalamountinwords}} {{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}
        </bd-item-property-form>-->
        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalamountinwords' | translate }}">
            <div class="bd-amount form-group-label-value">
                <span class="bd-amount__value">{{paymentsBatchProcessingForm.formData.totalamountinwordsFee}} {{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}</span>
            </div>
        </bd-item-property-form>
        <bd-item-property-form class="form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalnumberoflines' | translate }}">
            <div class="bd-amount form-group-label-value">
                <span class="bd-amount__value">{{paymentsBatchProcessingForm.formData.totalnumberoflines}}</span>
            </div>
        </bd-item-property-form>


    </div>

    <div class="col-sm-12 no-padding-left-right form-btn table-clear">
        <bd-table
                bd-type="typeBP"
                bd-display-bank-code="displayBankCode"
                bd-table-params="tableValid.tableConfig"
                bd-table-control="tableValid.tableControl"
                bd-table-data="tableValid.tableData"
                bd-table-promise="testDataPromise"
                bd-table-meta="{
                        'first':{
                            'title': '##ocb.payments.batch_processing.table.fullname',
                            'data': 'fullName'
                        },
                        'second':{
                            'title': '##ocb.payments.batch_processing.table.accountno',
                            'data': 'accountNo'
                        },
                        'third':{
                            'title': '##ocb.payments.batch_processing.table.bankname',
                            'data': 'bankName'
                        },
                        'fourth':{
                            'title': '##ocb.payments.batch_processing.table.amount',
                            'data': 'amount'
                        },
                        'fifth':{
                            'title': '##ocb.payments.batch_processing.table.remarks',
                            'data': 'description'
                        }
                    }"
        >
        </bd-table>
    </div>
</div>
