.rb-tax-account-select {

  &__select {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  &__name {

  }

  &__account, &__control {
    display: table-cell;
  }

  &__account {
    width: auto;
  }

  &__control {
    width: 134px;
    vertical-align: middle;
    line-height: 14px;
  }

  .ui-select-choices-row  span{
    white-space: normal;
  }

  .search { position: relative; }
  .search .eb-ico-search {
    position: absolute;
    top: 2px;
    font-size: 18px;
    right: 10px;
    color: #A9A9A9;
  }

  .ui-select-bootstrap .ui-select-toggle > .caret {
    display: none;
  }
  .focused{
    display: none;
  }
}
