.rb-tax-account-select {

  &__select {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  &__name {

  }

  &__account, &__control {
    display: table-cell;
  }

  &__account {
    width: auto;
  }

  &__control {
    width: 134px;
    vertical-align: middle;
  }
  .ui-select-dropdown.dropdown-menu{
    width: 216%;
    @media (min-width: 768px) {
      width: 100%;
    }
  }
}
