<div class="form-pane">
    <div class="pane-above"></div>
        <div class="success-center clear">
            <div class="rb-multistep-form-icon-{{::payment.result.type}} {{::payment.result.type}}-img"></div>
            <p class="title" ng-if="!removeFromBasket">{{::'ocb.payments.new.status.' + (payment.result.code || payment.result.type) | translate}}</p>
            <p class="title"  ng-if="removeFromBasket">{{::'ocb.payments.basket.delete.status.messages.' + payment.result.message | translate}}</p>
        </div>
</div>