<div class="form-body" ng-controller="NewSwiftPaymentVerifyController">
    <span ng-show="meta.cutOffTimePromise !== 0">
        <rb-cut-off-time
                response-value="meta.responseCutOffTime"
                account-no="payment.formData.recipientAccountNo"
                transfer-kind="payment.type.code"
                transfer-type="SWIFT"
                realization-date="payment.formData.realizationDate"
                cut-off-time-promise="meta.cutOffTimePromise"
                is-holiday="payment.holiday">
            <bd-msg-panel ng-if="meta.responseCutOffTime" bd-msg-type="warning">{{::'raiff.payments.cut.off.time.'+meta.responseCutOffTime | translate}}</bd-msg-panel>
        </rb-cut-off-time>
    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.domestic.verify.sender_account_name'|translate}}">
        <span style="display: inline-block; word-break: break-all;">{{ payment.items.senderAccount.customName || payment.items.senderAccount.accountName }}</span>
        <span style="display: inline-block;">
            <span class="hidden-md hidden-lg">{{ payment.items.senderAccount.accountNo | nrbAccountSelectIbanShortFilter }}</span>
        </span>
        <span style="display:block;" class="hidden-xs hidden-sm"> {{ payment.items.senderAccount.accountNo | nrbIbanFilter }}</span>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.domestic.verify.sender_data'|translate}}">
        <p ng-bind-html="payment.items.senderAccount | accountOwners"></p>
    </bd-item-property>

    <!-- swift -->
    <bd-item-property ng-show="payment.formData.recipientSwiftOrBic" class="bd-item-property--text bd-item-property--disabled"  label="{{ ::'raiff.payments.recipients.new.currency.fill.swift_or_bic.select.label' | translate }}">
        {{:: payment.formData.recipientSwiftOrBic}}
    </bd-item-property>

    <!-- bank country -->
    <bd-item-property class="bd-item-property--text bd-item-property--disabled"  label="{{ ::'raiff.payments.recipients.new.currency.fill.bankCountry' | translate }}">
        {{:: payment.formData.recipientBankCountry.countryName }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.recipients.new.currency.fill.bankName' | translate }}" ng-show="payment.formData.recipientBankName">
        {{:: payment.formData.recipientBankName }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.recipients.new.currency.fill.recipient_account.label' | translate }}">
        {{::payment.formData.recipientAccountNo}}
    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.foreign.fill.recipient_data.label'|translate}}">
        <p style="word-break: break-all" ng-bind-html="payment.formData.recipientName | arrayToHtml"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled"  label="{{ ::'raiff.payments.recipients.new.currency.fill.recipientCountry' | translate }}">
        {{:: payment.formData.recipientCountry.countryName }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.domestic.fill.description'|translate}}">
        <p style="word-break: break-all" ng-bind-html="payment.formData.description | arrayToHtml"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.domestic.verify.amount'|translate}}">
        <bd-amount amount="payment.formData.amount" currency="{{ payment.formData.currency.currency }}" not-styled></bd-amount>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.foreign.fill.transfer_cost.label'|translate}}">
        {{::payment.formData.transferCost}} <a ng-show="transferCost.link != null" href="{{transferCost.link}}" target="_blank">{{::'raiff.payments.new.verify.transfer_cost.info'|translate}}</a>

    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.foreign.fill.payment_type.label'|translate}}">
        {{::payment.formData.paymentType}}
    </bd-item-property>
     <span class="eb-validation-messages" ng-if="payment.holiday">
         <span class="messages">
             <span class="validation-message">
                 {{::'raiff.payments.new.domestic.fill.execution_date.holiday'|translate}}
             </span>
         </span>
    </span>
    </span>
    <eb-preloader class="eb-list-preloader" eb-promise="meta.cutOffTimePromise"></eb-preloader>
</div>