<div class="form-pane" id="pn-1" style="" ng-controller="NewBillPaymentFillController">
    <eb-preloader class="eb-list-preloader" eb-promise="productListPromise"></eb-preloader>

    <div class ="pane-above">
        <h3 class="pn-tt">{{::"ocb.payments.new_bill.label.header.customer"|translate}}</h3>
    </div>
    <div class="pane-bd deposit-form">
        <bd-item-property-test label="{{ ::'ocb.payments.new.bill.fill.sender_account' | translate }}">
            <input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>
            <rb-account-select rb-account="payment.items.senderAccount"
                               rb-account-id="payment.formData.remitterAccountId"
                               rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                               rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                               rb-account-select-params="senderSelectParams"
                               rb-init-select-fn="getAccountByNrb($accountList, $select)"
                               rb-on-account-select="onSenderAccountSelect($accountId)"
                               rb-remote="remote.model_from"
                               rb-init-select-value = "{{payment.formData.accountNo || selectNrb}}"></rb-account-select>
        </bd-item-property-test>
        <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.accountName'|translate}}">
            {{ payment.items.senderAccount.accountName }}
        </bd-item-property-test>
        <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.ocbBranch'|translate}}">
            {{ payment.items.senderService.serviceId }}
        </bd-item-property-test>
        <bd-item-property-test ng-if="payment.formData.remitterAccountId && remote.model_from.loaded"
                          label="{{ ::'ocb.payments.new.bill.fill.sender_account.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                       currency="{{ payment.items.senderAccount.currency }}" show-dash></bd-amount>
        </bd-item-property-test>
        <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.dailyLimit'|translate}}">
            5 000 000 VND
        </bd-item-property-test>
    </div>

    <div class ="pane-above">
        <h3 class="pn-tt">{{::"ocb.payments.new_bill.label.header.billInfo" |translate}}</h3>
        <h3 class="pn-tt">{{updateServiceId}}</h3>
    </div>
    <div class="pane-bd deposit-form">
        <rb-service-select-test></rb-service-select-test>
        <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.billCode'|translate}}">
            032023007753
        </bd-item-property-test>
        <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.billInfoAddress'|translate}}">
            {{ payment.items.senderAccount.accountName }}
        </bd-item-property-test>
        <div ng-if="updateServiceId=='DTCDCD'">
        <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.billPaymentAmount'|translate}}">
            {{ payment.items.senderAccount.accessibleAssets }}
        </bd-item-property-test>
        </div>
        <rb-add-to-beneficiary-select-test ng-if="!payment.meta.editFuturePayment" rb-model="payment.formData" rb-modify-from-beneficiary="payment.items.modifyFromBeneficiary"></rb-add-to-beneficiary-select-test>

    </div>
    <div class ="pane-bd pane-above" ng-show="billInfoSearch">
        <h3 class="pn-tt">{{::"ocb.payments.new_bill.label.header.showBillInfo" |translate}}</h3>
    </div>
    <div class="pane-bd deposit-form" ng-if="billInfoSearch && updateServiceId !=='CAP'">
            <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.billInfoName'|translate}}">
                {{ payment.items.senderAccount.accountName }}
            </bd-item-property-test>
            <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.billInfoAddress'|translate}}">
                {{ payment.items.senderAccount.accountName }}
            </bd-item-property-test>
            <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.billCode'|translate}}">
                032023007753
            </bd-item-property-test>
            <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.billMeterNumber'|translate}}">
                {{ "1027"}}
            </bd-item-property-test>
            <bd-item-property-test label="{{::'ocb.payments.new.bill.fill.billPhoneNumber'|translate}}">
                {{"0983323567"}}
            </bd-item-property-test>
    </div>
    <div class="pane-bd deposit-form" ng-if="billInfoSearch && updateServiceId !=='DTCDCD'">
        <bd-table
                bd-type="typeI2"
                bd-table-params="table.tableConfig"
                bd-table-control="table.tableControl"
                bd-table-data="table.tableData"
                bd-table-promise="billsPromise"
                bd-table-meta="{ 'first' : { 'title': '##payments.new.bill.fill.info.header.stt', 'data' : 'dateFrom|dateFilter' },
                'second' : { 'title': '##payments.new.bill.fill.info.header.order_id', 'data' : 'orderId' },
                'third' : { 'title': '##payments.new.bill.fill.info.header.description', 'data' : 'description'},
                'fourth' : { 'title': '##payments.new.bill.fill.info.header.amount', 'data' : ['amount', 'currency'] },
                'fifth' : { 'title': '##payments.new.bill.fill.info.header.from_date', 'data' : 'fromDate' },
                'sixth' : { 'title': '##payments.new.bill.fill.info.header.to_date', 'data' : 'toDate' },
                'seventh' : { 'title': '##payments.new.bill.fill.info.header.formula_rates', 'data' : 'formulaRates' } ,
                'eighth': {'title': '##account.invoices.button.download'} }">

        </bd-table>
    </div>

</div>