<form name="paymentForm" novalidate class="form-pane" id="pn-1">
    <eb-preloader class="eb-list-preloader" eb-promise="productListPromise"></eb-preloader>

    <div class="bd-form-header">{{::"ocb.payments.new_bill.label.header.customer"|translate}}</div>
    <div class="pane-bd deposit-form">
        <bd-item-property label="{{ ::'ocb.payments.new.bill.fill.sender_account' | translate }}">
            <input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>
            <rb-account-select rb-account="payment.items.senderAccount"
                               rb-account-no="payment.formData.remitterAccountId"
                               rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                               rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                               rb-account-select-params="senderSelectParams"
                               rb-init-select-fn="getAccountByNrb($accountList, $select)"
                               rb-on-account-select="onSenderAccountSelect($accountId)"
                               rb-remote="remote.model_from"
                               rb-init-select-value = "{{payment.formData.accountNo || selectNrb}}"
                               rb-only-bill-payment="billPayment"
                               rb-update-disabled-state="billInfoSearch"></rb-account-select>
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.bill.fill.accountName'|translate}}">
            {{ payment.formData.senderCustomer.fullName }}
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.bill.fill.ocbBranch'|translate}}">
            {{ payment.formData.senderCustomer.branch }}
        </bd-item-property>
        <bd-item-property ng-if="payment.formData.remitterAccountId && remote.model_from.loaded"
                          label="{{ ::'ocb.payments.new.bill.fill.sender_account.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                       currency="{{ payment.items.senderAccount.currency }}" show-dash></bd-amount>
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.bill.fill.dailyLimit'|translate}}">
            <!--{{payment.items.senderAccount.limitReference}}-->
            {{666}}
        </bd-item-property>
    </div>
    <div class="bd-form-header">{{::"ocb.payments.new_bill.label.header.billInfo" |translate}}</div>
    <div class="pane-bd deposit-form">
        <input name="providerCode" hidden ng-model="payment.formData.providerCode" required/>
        <rb-service-select rb-update-disabled-state="billInfoSearch" rb-service="payment.items.senderService" rb-provider="payment.items.senderProvider" rb-service-code="payment.formData.serviceCode" rb-provider-code="payment.formData.providerCode">
        </rb-service-select>
        <eb-validation-messages eb-name="providerCode">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'ocb.payments.new.bill.fill.providerCode.EMPTY_PROVIDERCODE'|translate}}
            </div>
        </eb-validation-messages>
        <bd-item-property label="{{::'ocb.payments.new.bill.fill.billCode'|translate}}">
            <div class="bd-item-property__value--primary">
                <input ng-disabled="billInfoSearch"
                    type="text"
                    name="billCode"
                    class="input-field"
                    ng-pattern="BILL_CODE"
                    ng-model="payment.formData.billCode"
                    required
                    placeholder=""
                />
            </div>
            <eb-validation-messages eb-name="billCode">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.new.bill.fill.billCode.EMPTY_BILLCODE'|translate}}
                </div>
                <div eb-message-key="pattern" class="validation-message animate-on">
                    {{::'ocb.payments.new.bill.fill.billCode.INCORRECT_BILLCODE'|translate}}
                </div>
            </eb-validation-messages>
        </bd-item-property>
        <!--<div ng-if="updateServiceId=='DTCDCD'">-->
        <!--<bd-item-property label="{{::'ocb.payments.new.bill.fill.billPaymentAmount'|translate}}">-->
            <!--{{ payment.items.senderAccount.accessibleAssets }}-->
        <!--</bd-item-property>-->
        <!--</div>-->
        <rb-add-to-beneficiary-select ng-if="!payment.meta.editFuturePayment" rb-model="payment.formData" rb-modify-from-beneficiary="payment.items.modifyFromBeneficiary"></rb-add-to-beneficiary-select>
        <rb-widget-banner-container rb-slot-name="ACCOUNT_WIDGET" rb-target-type="CURRENT_USER">
            <div class="widget-content-inner info-text margin-bottom-20">
                <a class="color" href="{{::'ocb.payments.new.bill.fill.serviceList.link_url'|translate}}"
                   target="_blank"
                   bd-widget-click>{{::'ocb.payments.new.bill.fill.serviceList.link_name'|translate}}</a>
            </div>
        </rb-widget-banner-container>
    </div>
    <bd-header>{{::"ocb.payments.new_bill.label.header.showBillInfo" |translate}}</bd-header>
    <div class="pane-bd deposit-form" ng-if="billInfoSearch">
            <bd-item-property label="{{::'ocb.payments.new.bill.fill.billInfoName'|translate}}">
                {{ payment.formData.senderCustomer.fullName }}
            </bd-item-property>
            <bd-item-property label="{{::'ocb.payments.new.bill.fill.billInfoAddress'|translate}}">
                {{ payment.formData.senderCustomer.ownersList[0].houseNo + ' ' + payment.formData.senderCustomer.ownersList[0].addressStreet + ' ' + payment.formData.senderCustomer.ownersList[0].town  }}
            </bd-item-property>
            <bd-item-property label="{{::'ocb.payments.new.bill.fill.billCode'|translate}}">
                {{payment.formData.billCode}}
            </bd-item-property>
            <div ng-show="payment.items.senderService.serviceCode === 'POWE'">
                <bd-item-property label="{{::'ocb.payments.new.bill.fill.billMeterNumber'|translate}}">
                    {{ payment.formData.senderCustomer.meterNumber}}
                </bd-item-property>
                <bd-item-property label="{{::'ocb.payments.new.bill.fill.billPhoneNumber'|translate}}">
                    {{payment.formData.senderCustomer.phoneNumber}}
                </bd-item-property>
            </div>
    </div>
    <div class="pane-bd deposit-form" ng-show="billInfoSearch ">
        <bd-table
                bd-type="typeI2"
                bd-table-params="table.tableConfig"
                bd-table-control="table.tableControl"
                bd-table-data="table.tableData"
                bd-table-promise="billsPromise"
                bd-table-meta="{ 'first' : { 'title': '##payments.new.bill.fill.info.header.stt', 'data' : 'dateFrom|dateFilter' },
                'second' : { 'title': '##payments.new.bill.fill.info.header.order_id', 'data' : 'orderId' },
                'third' : { 'title': '##payments.new.bill.fill.info.header.description', 'data' : 'description'},
                'fourth' : { 'title': '##payments.new.bill.fill.info.header.amount', 'data' : ['amount', 'currency'] },
                'fifth' : { 'title': '##payments.new.bill.fill.info.header.from_date', 'data' : 'fromDate' },
                'sixth' : { 'title': '##payments.new.bill.fill.info.header.to_date', 'data' : 'toDate' },
                'seventh' : { 'title': '##payments.new.bill.fill.info.header.formula_rates', 'data' : 'formulaRates' } ,
                'eighth': {'title': '##account.invoices.button.download'} }">

        </bd-table>
    </div>
    <div class="pane-bd deposit-form" ng-show="billInfoSearch && updateBillTypeID ==='EXTENDED_DETAIL'">
        <input name="checkBoxState" hidden ng-model="payment.formData.amount" required/>
        <bd-table
                bd-type="typeI3"
                bd-table-params="table.tableConfig"
                bd-table-control="table.tableControl"
                bd-table-data="table.tableData"
                bd-table-promise="billsPromise"
                bd-table-meta="{ 'first' : { 'title': '##payments.new.bill.fill.info.header.stt', 'data' : 'dateFrom|dateFilter' },
                'second' : { 'title': '##payments.new.bill.fill.info.header.customer_id', 'data' : 'customerId' },
                'third' : { 'title': '##payments.new.bill.fill.info.header.customer_name', 'data' : 'customerName'},
                'fourth' : { 'title': '##payments.new.bill.fill.info.header.product_type', 'data' : 'productType' },
                'fifth' : { 'title': '##payments.new.bill.fill.info.header.bill_code', 'data' : 'billCodeItemNo' },
                'sixth' : { 'title': '##payments.new.bill.fill.info.header.amount_per_month', 'data' : ['amount', 'currency'] },
                'seventh' : { 'title': '##payments.new.bill.fill.info.header.number_month', 'data' : 'amountMonth' } ,
                'eighth': {'title': '##account.invoices.button.download'} }">

        </bd-table>

    </div>
    <div class="pane-bd deposit-form" ng-show="billInfoSearch && updateBillTypeID !=='NO_DETAIL'"></div>
    <eb-validation-messages eb-name="checkBoxState">
        <div eb-message-key="required" class="validation-message animate-on">
            {{::'ocb.payments.new.bill.fill.amount.EMPTY_AMOUNT'|translate}}
        </div>
    </eb-validation-messages>
</form>