<div ng-controller="NewBillPaymentFillController">
    <div>
        <bd-header>{{::"ocb.payments.new_bill.label.header.customer"|translate}}</bd-header>
        <bd-item-property label="{{ ::'ocb.payments.new.bill.fill.sender_account' | translate }}">
            <input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>
            <rb-account-select rb-account="payment.items.senderAccount"
                               rb-account-id="payment.formData.remitterAccountId"
                               rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                               rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                               rb-account-select-params="senderSelectParams"
                               rb-init-select-fn="getAccountByNrb($accountList, $select)"
                               rb-on-account-select="onSenderAccountSelect($accountId)"
                               rb-remote="remote.model_from"
                               rb-init-select-value = "{{payment.formData.accountNo || selectNrb}}"></rb-account-select>
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.bill.fill.accountName'|translate}}">
                    {{ payment.items.senderAccount.accountName }}
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.bill.fill.ocbBranch'|translate}}">
               {{  }}
        </bd-item-property>
        <bd-item-property ng-if="payment.formData.remitterAccountId && remote.model_from.loaded"
                          label="{{ ::'ocb.payments.new.bill.fill.sender_account.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                       currency="{{ payment.items.senderAccount.currency }}" show-dash></bd-amount>
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.bill.fill.dailyLimit'|translate}}">
                    {{  }}
        </bd-item-property>
    </div>
    <div>
        <bd-header>{{::"ocb.payments.new_bill.label.header.billInfo" |translate}}</bd-header>
        <bd-item-property label="{{ ::'ocb.payments.new.bill.fill.sender_account' | translate }}">
            <input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>
            <rb-service-select rb-account="payment.items.senderAccount"
                               rb-account-id="payment.formData.remitterAccountId"
                               rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                               rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                               rb-account-select-params="senderSelectParams"
                               rb-init-select-fn="getAccountByNrb($accountList, $select)"
                               rb-on-account-select="onSenderAccountSelect($accountId)"
                               rb-remote="remote.model_from"
                               rb-init-select-value = "{{payment.formData.accountNo || selectNrb}}"></rb-service-select>
        </bd-item-property>
        <bd-item-property label="{{ ::'ocb.payments.new.bill.fill.provider' | translate }}">
            <input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>
            <rb-service-select rb-account="payment.items.senderAccount"
                               rb-account-id="payment.formData.remitterAccountId"
                               rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                               rb-product-list-name="TRANSFER_OWN_FROM_LIST"
                               rb-account-select-params="senderSelectParams"
                               rb-init-select-fn="getAccountByNrb($accountList, $select)"
                               rb-on-account-select="onSenderAccountSelect($accountId)"
                               rb-remote="remote.model_from"
                               rb-init-select-value = "{{payment.formData.accountNo || selectNrb}}"></rb-service-select>
        </bd-item-property>
        <bd-item-property label="{{::'ocb.payments.new.bill.fill.billCode'|translate}}">
            {{  }}
        </bd-item-property>
        <bd-item-property ng-if="payment.formData.remitterAccountId && remote.model_from.loaded"
                          label="{{ ::'ocb.payments.new.bill.fill.sender_account.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
            <bd-amount amount="payment.items.senderAccount.accessibleAssets"
                       currency="{{ payment.items.senderAccount.currency }}" show-dash></bd-amount>
        </bd-item-property>
        <div>
        <rb-add-to-beneficiary rb-model="payment.formData" rb-modify-from-basket="payment.items.modifyFromBasket"></rb-add-to-beneficiary>
        </div>
    </div>
</div>