<div>
    <rb-basket-search-panel
            data="basket.data"
            options="options.futureDatePanelConfig"
            on-submit="onOperationsDateSubmit()"
            valid="model.dataValidity"
            input-data-commited="basket.searchPanel"></rb-basket-search-panel>

        <bd-table bd-type="typeGG"
                  bd-table-params="table.tableConfig"
                  bd-table-control="table.tableControl"
                  bd-table-data="table.tableData"
                  bd-table-promise="table.promise"
                  bd-table-meta="{
                    'first': {
                        'title': '##raiff.payments.basket.list.header.operation_date',
                        'data': 'realizationDate'
                    },
                    'second': {
                        'title': '##raiff.payments.basket.list.header.status',
                        'data': 'signedStatus'
                    },
                    'third': {
                        'title': '##raiff.payments.basket.list.header.operation_type',
                        'data': 'transferType'
                    },
                    'fourth': {
                        'title': '##raiff.payments.basket.list.header.recipient_name',
                        'data': 'recipientName'
                    },
                    'fifth': {
                        'title': '##raiff.payments.basket.list.header.operation_title',
                        'data': 'title'
                    },
                    'sixth': {
                        'title': '##raiff.payments.basket.list.header.targetAccount',
                        'data': 'recipientAccountNo'
                    },
                    'seventh': {
                        'title': '##raiff.payments.basket.list.header.operation_amount',
                        'data': [
                            'amount',
                            'currency'
                        ]
                    },
                    'thirdfourth':{
                        'title':'##raiff.payments.basket.list.header.status_operation_type',
                        'data':''
                    },
                     'fifthsixth':{
                        'title':'##raiff.payments.basket.list.header.recipient_name_operation_title',
                        'data':''
                    }
                }">

            <bd-details-section bd-table-row-details>
                <div ng-if="$data">
                    <ng-include src="templateDetails"></ng-include>
                    <bd-details-action-section>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <bd-button ng-if="$data.signedStatus != 'DELETED' && $data.signedStatus != 'SUBMITTED' " ng-click="onDelete($data)" class="bd-button">
                                    {{::'raiff.payments.basket.list.details.buttons.delete' | translate}}
                                </bd-button>
                                <bd-button ng-if="$data.actions.indexOf('BASKET_TRANSFER_EDIT_ACCESS') >-1 && $data.signedStatus != 'SUBMITTED' " ng-click="onEdit($data)" class="bd-button">
                                    {{::'raiff.payments.basket.list.details.buttons.modify' | translate}}
                                </bd-button>
                            </div>
                        </div>
                    </bd-details-action-section>

                </div>

            </bd-details-section>

            <div bd-table-footer>
                <bd-table-pagination></bd-table-pagination>
            </div>

        </bd-table>

        <div class="bd-list basket-vew__summary" ng-show="table.promise.$$state.status === 1">
            <bd-list-item summary>
                <div class="summary-item" style="border-top: 1px solid #F1F1F1;">
                    <div class="bd-table bd-table__fixed">
                        <div class="bd-table__row-line bd-table__row-line--sm-tight">
                            <div bd-table-cell="first" class="bd-table__cell--sm-16 bd-table__cell--md-6">
                                <div class="summary-item__label" style="border-bottom: 0px;">
                                    {{::"raiff.payments.basket.list.summary.chose"|translate}}
                                </div>
                            </div>
                            <div bd-table-cell="second" class="bd-table__cell--sm-14 bd-table__cell--md-10">
                                <div ng-repeat="currencySummary in basket.summary.summaryItem">
                                    <div class="bd-table__row-line bd-table__row-line--sm-tight">
                                        <div bd-table-cell="first" class="bd-table__cell--sm-8 bd-table__cell--md-8">
                                            <div style="padding-top: 10px;">
                                                {{::"raiff.payments.basket.list.summary.amount"|translate}}&nbsp;{{currencySummary.currency}}:&nbsp;{{currencySummary.amount}}
                                            </div>
                                        </div>
                                        <div bd-table-cell="first"
                                             class="bd-table__cell--sm-8 bd-table__cell--md-8 text-right" style="padding-top: 8px;">
                                            {{::"raiff.payments.basket.list.summary.sum"|translate}}&nbsp;
                                            <bd-amount amount="currencySummary.sum"
                                                       currency="{{currencySummary.currency}}"></bd-amount>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </bd-list-item>

            <bd-list-item summary>
                <div class="summary-item" style="border-top: 1px solid #F1F1F1;">
                    <div class="bd-table bd-table__fixed">
                        <div class="basket-vew__summary__height bd-table__row-line bd-table__row-line--sm-tight">
                            <div bd-table-cell="first" class="bd-table__cell--sm-16 bd-table__cell--md-6">
                                <div class="summary-item__label" style="border-bottom: 0px;">
                                    {{::"raiff.payments.basket.list.summary.all"|translate}}
                                </div>
                            </div>
                            <div bd-table-cell="second" class="bd-table__cell--sm-14 bd-table__cell--md-10">
                                <div ng-repeat="currencySummary in basket.summary.summaryAll">
                                    <div class="basket-vew__summary__height bd-table__row-line bd-table__row-line--sm-tight">
                                        <div bd-table-cell="first" class="bd-table__cell--sm-8 bd-table__cell--md-8">
                                            <div style="padding-top: 10px;">
                                                {{::"raiff.payments.basket.list.summary.amount"|translate}}&nbsp;{{currencySummary.currency}}:&nbsp;{{currencySummary.amount}}
                                            </div>
                                        </div>
                                        <div bd-table-cell="first"
                                             class="bd-table__cell--sm-8 bd-table__cell--md-8 text-right" style="padding-top: 8px;">
                                            {{::"raiff.payments.basket.list.summary.sum"|translate}}&nbsp;
                                            <bd-amount amount="currencySummary.sum"
                                                       currency="{{currencySummary.currency}}"></bd-amount>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </bd-list-item>
        </div>
        <span class="eb-validation-messages">
             <span class="messages"  ng-if="limitBasketExeeded !== undefined && limitBasketExeeded.show">
                 <span class="validation-message">
                    {{limitBasketExeeded.messages}}
                 </span>
             </span>
             <span class="messages"  ng-if="amountBasketExeeded !== undefined && amountBasketExeeded.show">
                 <span class="validation-message">
                    {{amountBasketExeeded.messages}}
                 </span>
             </span>
             <span class="messages"  ng-if="dailyBasketExeeded !== undefined && dailyBasketExeeded.show">
                 <span class="validation-message">
                    {{dailyBasketExeeded.messages}}
                 </span>
             </span>
        </span>
</div>
