<div class="form-body">

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.sender_account_name'|translate}}">
        <span class="desktop-only-payments">
        <div class="break-force">{{ payment.items.senderAccount.customName || payment.items.senderAccount.accountName }}</div>
        {{payment.items.senderAccount.accountNo | nrbIbanFilter }}
        </span>
         <div class="mobile-only-payments">
        <span class="ellipsis-account" >{{ payment.items.senderAccount.customName || payment.items.senderAccount.accountName }}  </span>&nbsp; {{payment.items.senderAccount.accountNo | nrbIbanShortFilter }}
        </div>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.sender_data'|translate}}">
        <p ng-bind-html="payment.items.senderAccount | accountOwners"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.recipient_account_name'|translate}}">
        <span class="desktop-only-payments">
        <div class="break-force">{{ payment.items.recipientAccount.customName || payment.items.recipientAccount.accountName }}</div>
        {{payment.items.recipientAccount.accountNo | nrbIbanFilter }}
        </span>
        <div class="mobile-only-payments">
            <span class="ellipsis-account" >{{ payment.items.recipientAccount.customName || payment.items.recipientAccount.accountName }}  </span>&nbsp; {{payment.items.recipientAccount.accountNo | nrbIbanShortFilter }}
        </div>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.amount'|translate}}">
        {{payment.formData.amount}}&nbsp;{{payment.formData.currency}} <!-- | nrb -->
    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.description'|translate}}">
        <p class="break-force">{{payment.formData.description | arrayFilter}}</p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.execution_date'|translate}}">
        {{payment.formData.realizationDate | date:'shortDate' }}
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.foreign.fill.transfer_cost.label'|translate}}" ng-if="transferCost.link">
        {{::payment.formData.transferCost}} <a ng-href="{{transferCost.link}}" target="_blank">{{::'raiff.payments.new.verify.transfer_cost.info'|translate}}</a>
    </bd-item-property>

</div>
<section ng-if="payment.operation.code!=='EDIT'">
    <bd-item-property class="bd-item-property--text" ng-if="payment.token.params.resourceId" ng-show="payment.token.model.$tokenRequired" label="{{ payment.token.model.currentToken.label }}">
        <rb-token-authorization rb-operation-type="TRANSFER" rb-model="payment.token.model" rb-params="payment.token.params"></rb-token-authorization>
    </bd-item-property>
</section>

