<div class="form-body">

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.sender_account_name'|translate}}">
        <section class="hidden-xs hidden-sm">
            <span>{{ payment.items.senderAccount.customName || payment.items.senderAccount.accountName }}</span>
            <span style="display:block;"> {{ payment.items.senderAccount.accountNo | nrbIbanFilter }}</span>
        </section>
        <section class="hidden-md hidden-lg">
            <rb-account-responsive-line rb-account-name="payment.items.senderAccount.customName || payment.items.senderAccount.accountName" rb-account-nrb="payment.items.senderAccount.accountNo"></rb-account-responsive-line>
        </section>

    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.sender_data'|translate}}">
        <p ng-bind-html="payment.items.senderAccount | accountOwners"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.recipient_account_name'|translate}}">
        <section class="hidden-xs hidden-sm">
            <span>{{ payment.items.recipientAccount.accountName }}</span>
            <span style="display:block;"> {{ payment.items.recipientAccount.accountNo | nrbIbanFilter }}</span>
        </section>
        <section class="hidden-md hidden-lg">
            <rb-account-responsive-line rb-account-name="payment.items.recipientAccount.accountName" rb-account-nrb="payment.items.recipientAccount.accountNo"></rb-account-responsive-line>
        </section>

    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.amount'|translate}}">
        {{payment.formData.amount}}&nbsp;{{payment.formData.currency}} <!-- | nrb -->
    </bd-item-property>

    <bd-item-property class="bd-item-property--multirow bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.description'|translate}}">
        <p style="word-break: break-all" ng-bind-html="payment.formData.description.split('\n').join('<br>')"></p>
    </bd-item-property>

    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.internal.verify.execution_date'|translate}}">
        {{payment.formData.realizationDate | date:'shortDate' }}
    </bd-item-property>
    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'raiff.payments.new.foreign.fill.transfer_cost.label'|translate}}">
        {{::payment.formData.transferCost}} <a ng-show="transferCost.link != null" href="{{transferCost.link}}" target="_blank">{{::'raiff.payments.new.verify.transfer_cost.info'|translate}}</a>

    </bd-item-property>

</div>
<section ng-if="payment.operation.code!=='EDIT'">
    <bd-item-property class="bd-item-property--text" ng-if="payment.token.params.resourceId" ng-show="payment.token.model.$tokenRequired" label="{{ payment.token.model.currentToken.label }}">
        <rb-token-authorization rb-operation-type="TRANSFER" rb-model="payment.token.model" rb-params="payment.token.params"></rb-token-authorization>
    </bd-item-property>
</section>

