<div ng-controller="PaymentsWidgetContentController" ng-mouseleave="enterFullMode(false)" ng-mouseenter="enterFullMode(true)">

    <div ng-show="paymentsWidgetMode.fullMode" ng-click="openCloseActionList($event, false)"  class="widget__options hover_background" >
        <div class="row">
            <div class="col-xs-1">&nbsp;</div>

            <div class="col-xs-10">
                <div ng-include="paymentItemContent"></div>

                <div class="row widget-tile__button">
                    <div class="col-xs-4 text-left">
                        <bd-button ui-sref="payments.recipients.list">{{::'raiff.payments.widget.new'|translate}}</bd-button>
                    </div>

                    <div class="col-xs-4 text-center">
                        <bd-button ng-click="goToDetails($event, item)">{{::'raiff.payments.widget.details'|translate}}</bd-button>
                    </div>

                    <div class="col-xs-4 text-right">
                        <bd-button ui-sref="payments.future.list">{{::'raiff.payments.widget.pending_operations'|translate}}</bd-button>
                    </div>
                </div>

            </div>

            <div class="col-xs-1">&nbsp;</div>
        </div>
    </div>

    <div ng-hide="paymentsWidgetMode.fullMode"  ng-click="openCloseActionList($event, true)">
        <div ng-include="paymentItemContent"></div>
    </div>
</div>