<div style="padding-top: 5px;">
	<div class="payment-widget__title">{{ item.description }}</div>
	<bd-item-property class="bd-item-property--always-stacked bd-item-property--clear-heading" label="{{ ::'raiff.payments.widget.recipient_name' | translate }}">
		{{ item.beneficiaryName }}
	</bd-item-property>
	<bd-item-property class="bd-item-property--always-stacked bd-item-property--clear-heading" label="{{ ::'raiff.payments.widget.realization_date' | translate }}">
		{{ item.nextRealizationDate | date : 'dd.MM.yyyy' }}
	</bd-item-property>
	<bd-item-property class="bd-item-property--always-stacked bd-item-property--clear-heading" label="{{ ::'raiff.payments.widget.amount' | translate }}">
		<bd-amount style="float: right;" amount="item.amount" currency="{{ item.currency }}"></bd-amount>
	</bd-item-property>
</div>