<style>
    .row {
        min-height: 30px;
    }
</style>

<div >
    <div class="row" ><div class="col-md-4"><h1>{{::'ocb.payments.payu_hufi.data_verify.label' | translate}}</h1></div></div>
    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.university.label' | translate}}</div>
        <div class="col-md-5">{{::'ocb.payments.payu_hufi.university.value' | translate}}</div>
    </div>
    <div class="row" >
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.std_code.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.stdInfo.stdCode}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.std_name.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.stdInfo.stdName}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.std_depart.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.stdInfo.stdDepart}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.payment_for.label' | translate}}</div>
        <div class="col-md-7">
            <div class="row"  ng-repeat="p in payuHufi.data.subjectSelected track by $index"><div class="col-md-3">{{p.paymentCode}}</div><div class="col-md-9">{{ p.paymentDesc}}</div></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.amount_in_fg.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.amountInfo.figure}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.amount_in_word.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.amountInfo.words}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.remitter_number.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.senderAccount.accountNo}}</div>
    </div>
    <div class="row" >
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.remitter_name.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.senderAccount.accountName}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.remitter_branch.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.senderAccount.branch}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.remitter_avail.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.senderAccount.currentBalance}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 lb">{{::'ocb.payments.payu_hufi.remitter_remain.label' | translate}}</div>
        <div class="col-md-5">{{payuHufi.data.senderAccount.accountNo}}</div>
    </div>

</div>
<div class="row" >
    <div class=" bd-table__cell padding-left-cell bd-table__cell--sm-9 bd-table__cell--md-3">
        <bd-button class="bd-button bd-button__primary" ng-click="getOTP()">Get OTP</bd-button>
    </div>
    <div class=" bd-table__cell padding-left-cell bd-table__cell--sm-9 bd-table__cell--md-4">
        <input ng-model="payuHufi.data.OTP" required type="text" placeholder="{{::'ocb.payments.new_bill.label.insertOTP'|translate}}">
    </div>
</div>
<bd-item-property class="bd-item-property--multirow" ng-if="payuHufi.token.params.resourceId"
                  ng-show="payuHufi.token.model.$tokenRequired"
                  label="{{ payuHufi.token.model.currentToken.label }}">
    <rb-token-authorization rb-operation-type="TRANSFER" rb-model="payuHufi.token.model"
                            rb-params="payuHufi.token.params"></rb-token-authorization>
</bd-item-property>

<span class="eb-validation-messages">
     <span class="messages"  ng-if="errMsg">
         <span class="validation-message">
            {{errMsg}}
         </span>
     </span>
</span>