<rb-content-view class="rb-content-view--solid">
    <bd-header>{{::"raiff.payments.invoobill.list.header"|translate}}</bd-header>

    <form novalidate name="filterForm" ng-submit="onSubmit(filterForm)">

        <bd-radio-select bd-model="invoobillPayments.filterData.periodType.model">

            <div class="bd-item-property row">
                <div class="col-xs-12">
                    <bd-radio-option bd-option-value="invoobillPayments.periodTypes.LAST" class="row__inline-block--middle">
                        <div class="row__inline-block--middle row__inline-block--adjacent">
                            {{:: 'raiff.payments.rejected.list.filter.type.last.label' | translate}}
                        </div>
                        <div class="row__inline-block--middle row__inline-block--adjacent" style="width:40px;">
                            <input
                                    bd-type="number"
                                    class="input-field"
                                    ng-model="invoobillPayments.filterData.last.value"
                                    name="last_value"
                                    ng-change="onFilterLastValueChange()"
                                    ng-required="invoobillPayments.filterData.periodType.model===invoobillPayments.periodTypes.LAST"
                                    min-date="invoobillPayments.minDate"
                                    model-date="invoobillPayments.filterData.last.dateFrom"
                                    ng-pattern="/^\d+$/"/>
                        </div>
                        <div class="row__inline-block--middle" style="width:100px;">
                            <ui-select ng-model="invoobillPayments.filterData.last.type.selected"
                                       theme="bootstrap"
                                       ng-change="onFilterLastTypeChange()"
                                       reset-search-input="false"
                                       required="invoobillPayments.filterData.periodType.model===invoobillPayments.periodTypes.LAST">
                                <ui-select-match placeholder="{{:: 'raiff.payments.rejected.list.filter.type.last.placeholder' | translate }}">
                                    {{ 'raiff.payments.rejected.list.filter.type.last.types.'+ $select.selected | translate }}
                                </ui-select-match>
                                <ui-select-choices repeat="item in invoobillPayments.filterData.last.type.list">
                                    {{ :: 'raiff.payments.rejected.list.filter.type.last.types.'+ item | translate }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </bd-radio-option>

                </div>
            </div>

            <div class="eb-validation-messages col-xs-12" ng-if="filterForm.last_value.$invalid">
                <div class="messages">
                    <div class="validation-message animate-on" ng-if="filterForm.last_value.$error.required">
                        {{::'raiff.payments.rejected.select.filter.EMPTY_PERIOD'|translate}} {{ 'raiff.payments.rejected.list.filter.type.last.types.'+invoobillPayments.filterData.last.type.selected | translate }}
                    </div>
                    <div class="validation-message animate-on" ng-if="filterForm.last_value.$error.pattern">
                        {{::'raiff.payments.rejected.select.filter.INCORRECT_PERIOD'|translate}} {{ 'raiff.payments.rejected.list.filter.type.last.types.'+invoobillPayments.filterData.last.type.selected | translate }}
                    </div>
                    <div class="validation-message animate-on" ng-if="filterForm.last_value.$error.mindate">
                        {{::'raiff.payments.rejected.select.filter.INCORRECT_DATE_SEARCH' | translate | regexReplace : '##months##': invoobillPayments.maxOffset }}
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="row--spacing col-md-10 col-sm-12">
                    <bd-radio-option bd-option-value="invoobillPayments.periodTypes.RANGE" class="row__inline-block--middle">
                        <div class="row__inline-block--middle row__inline-block--adjacent">
                            {{:: 'raiff.payments.rejected.list.filter.type.range.label' | translate}}
                        </div>
                        <div class="row__inline-block--middle row__inline-block--adjacent">
                            {{::'raiff.payments.rejected.list.filter.type.range.from.label'|translate}}
                        </div>
                        <div class="row__inline-block--middle row__inline-block--adjacent" style="width:140px;">
                            <input name="dateFromInput_delgate" hidden ng-model="invoobillPayments.filterData.range.dateFrom" min-date="invoobillPayments.minDate" model-date="invoobillPayments.filterData.range.dateFrom" ng-required="invoobillPayments.filterData.periodType.model===invoobillPayments.periodTypes.RANGE"/>
                            <rb-datepicker ng-model="invoobillPayments.filterData.range.dateFrom"
                                           ng-model-options="{ allowInvalid: false }"
                                           rb-name="dateFromInput"
                                           max-search-date
                                           style="width: 140px;"></rb-datepicker>
                        </div>
                        <div class="row__inline-block--middle row__inline-block--adjacent">
                            {{::'raiff.payments.rejected.list.filter.type.range.to.label'|translate}}
                        </div>
                        <div class="row__inline-block--middle" style="width:140px;">
                            <input name="dateToInput_delgate" hidden ng-model="invoobillPayments.filterData.range.dateTo" min-date="invoobillPayments.filterData.range.dateFrom" model-date="invoobillPayments.filterData.range.dateTo" ng-required="invoobillPayments.filterData.periodType.model===invoobillPayments.periodTypes.RANGE"/>
                            <rb-datepicker ng-model="invoobillPayments.filterData.range.dateTo"
                                           empty-date
                                           ng-model-options="{ allowInvalid: false }"
                                           rb-name="dateToInput"
                                           max-search-date
                                           style="width: 140px;"></rb-datepicker>
                        </div>
                    </bd-radio-option>
                </div>
            </div>

            <div class="eb-validation-messages col-xs-12" ng-if="filterForm.dateToInput_delgate.$invalid">
                <div class="messages">
                    <div class="validation-message animate-on" ng-if="filterForm.dateToInput_delgate.$error.required && !filterForm.dateToInput.$error.date">
                        {{::'raiff.payments.rejected.select.filter.EMPTY_DATE_TO'|translate}}
                    </div>
                    <div class="validation-message animate-on" ng-if="filterForm.dateToInput.$error.date">
                        {{::'raiff.payments.rejected.select.filter.INCORRECT_DATE_TO'|translate}}
                    </div>
                    <div class="validation-message animate-on" ng-if="filterForm.dateToInput_delgate.$error.mindate">
                        {{::'raiff.payments.rejected.select.filter.TOO_LATE_FIRST_DATE' | translate }}
                    </div>
                    <div class="validation-message animate-on" ng-if="filterForm.dateToInput_delgate.$error.future">
                        {{::'raiff.payments.rejected.select.filter.FUTURE_DATE' | translate }}
                    </div>
                </div>
            </div>
            <div class="eb-validation-messages col-xs-12" ng-if="filterForm.dateFromInput_delgate.$invalid">
                <div class="messages">
                    <div class="validation-message animate-on" ng-if="filterForm.dateFromInput_delgate.$error.required && !filterForm.dateFromInput.$error.date">
                        {{::'raiff.payments.rejected.select.filter.EMPTY_DATE_FROM'|translate}}
                    </div>
                    <div class="validation-message animate-on" ng-if="filterForm.dateFromInput.$error.date">
                        {{::'raiff.payments.rejected.select.filter.INCORRECT_DATE_FROM'|translate}}
                    </div>
                    <div class="validation-message animate-on" ng-if="filterForm.dateFromInput_delgate.$error.mindate">
                        {{::'raiff.payments.rejected.select.filter.INCORRECT_DATE_SEARCH' | translate | regexReplace : '##months##': invoobillPayments.maxOffset }}
                    </div>
                </div>
            </div>

        </bd-radio-select>

        <div class="row-line">
            <div class="row-line__cell">
                <bd-item-property label="{{::'raiff.payments.invoobill.recipient'|translate}}">
                    <ui-select ng-model="invoobillPayments.filterData.creditor"
                               theme="bootstrap"
                               reset-search-input="false"
                               on-select=""
                               >
                        <ui-select-match placeholder="{{::'raiff.payments.invoobill.recipients.select' | translate }}">
                            {{ $select.selected.fullName | arrayFilter }}
                        </ui-select-match>
                        <ui-select-choices repeat="creditor in invoobillPayments.creditors.list">
                            {{ creditor.fullName | arrayFilter }}
                        </ui-select-choices>
                    </ui-select>
                </bd-item-property>

                <div class="row-line__cell row-line__cell--right-button">
                    <bd-button class="bd-button__primary" type="submit">
                        {{::'raiff.payments.rejected.select.filter.button.action' | translate}}
                    </bd-button>
                </div>
            </div>
        </div>
    </form>

    <div></div>
    <div class="bd-table">
        <div bd-table-header>
            <div bd-table-heading="first" class="bd-table__cell bd-table__cell--sm-4 bd-table__cell--md-4">{{::'raiff.payments.invoobill.list.header.realization_date' | translate}}</div>
            <div bd-table-heading="second" class="bd-table__cell bd-table__cell--sm-4 bd-table__cell--md-4">{{::'raiff.payments.invoobill.list.header.recipient' | translate}}</div>
            <div bd-table-heading="third" class="bd-table__cell bd-table__cell--sm-4 bd-table__cell--md-4 bd-pull-right">{{::'raiff.payments.invoobill.list.header.amount' | translate}}</div>
            <div bd-table-heading="fourth" class="bd-table__cell bd-table__cell--sm-4 bd-table__cell--md-4">{{::'raiff.payments.invoobill.list.header.status' | translate}}</div>
        </div>

        <div ng-show="(invoobillPayments.data.promise.$$state.status === 1)"
             bd-table-row
             bd-table-expandable
             ng-click="showDetails(item)"
             ng-class="item.expanded ? 'bd-table__row--expanded' : ''"
             ng-repeat="item in invoobillPayments.data.items track by $index">

            <div class="bd-table__row-entry">
                <div class="bd-table__row-line bd-table__row-line--sm-tight">
                    <div bd-table-cell="first" class="bd-table__cell--sm-4 bd-table__cell--md-4 bd-table__cell-index">
                        {{ item.realizationDate | date : 'shortDate'}}
                    </div>
                    <!-- this will disappear if screen gets too small -->
                    <div bd-table-cell="second" class="bd-table__cell--sm-4 bd-table__cell--md-4 bd-hide-sm">
                        {{ item.recipient[0] }}
                    </div>
                    <div bd-table-cell="third" class="bd-table__cell--sm-4 bd-table__cell--md-4 bd-pull-right">
                        {{ item.amount | number: 2}} {{item.currency}}
                    </div>
                    <div bd-table-cell="fourth" class="bd-table__cell--sm-4 bd-table__cell--md-4">
                        {{ item.status }}
                    </div>
                </div>
                <div class="bd-table__row-line bd-table__row-line--sm-tight bd-hide-md">
                    <!-- this will be shown if screen gets small enough -->
                    <div bd-table-cell="second" class="bd-table__cell--sm-16">
                        {{ item.recipient[0] }}
                    </div>
                </div>
            </div>

            <bd-details-section bd-table-row-details ng-if="item.expanded">
                <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.status' | translate }}">
                    {{ item.status }}
                </bd-item-property>

                <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.recipientAccountNo' | translate}}">
                    {{ item.recipientAccountNo | nrbIbanFilter }}
                </bd-item-property>

                <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.recipient' | translate }}">
                    {{ item.recipient | arrayFilter }}
                </bd-item-property>

                <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.title' | translate }}">
                    {{ item.title  | arrayFilter }}
                </bd-item-property>

                <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.amount' | translate }}">
                    {{ item.amount | number: 2 }} {{ item.currency }}
                </bd-item-property>

                <bd-item-property  label="{{::'raiff.payments.invoobil.list.details.realization_date' | translate }}">
                    {{ item.realizationDate | date : 'shortDate' }}
                </bd-item-property>

                <bd-details-action-section>
                    <div class="row">
                        <div class="col-sm-12 col-md-12" style="text-align:right;">
                            <bd-button ng-click="payNow($data)" class="bd-button bd-button--right">{{::'raiff.payments.invoobil.list.details.paynow' | translate}}</bd-button>
                            <bd-button ng-click="pay($data)" class="bd-button bd-button--right">{{::'raiff.payments.invoobil.list.details.pay' | translate}}</bd-button>
                            <bd-button ng-click="reject($data)" class="bd-button bd-button--right">{{::'raiff.payments.invoobil.list.details.reject' | translate}}</bd-button>
                        </div>
                    </div>
                </bd-details-action-section>
            </bd-details-section>
        </div>

        <div ng-if="(invoobillPayments.data.promise.$$state.status === 1 && invoobillPayments.data.items.length < 1)" class="bd-table__empty-placeholder">
            <div class="bd-table__empty-placeholder-text">{{::'raiff.payments.invoobill.list.empty' | translate}}</div>
        </div>

        <div bd-table-footer>
            <bd-pagination ng-show="invoobillPayments.data.pageCount > 1"
                           bd-on-page-switch="switchPage"
                           bd-page-count="invoobillPayments.data.pageCount"
                           bd-current-page="invoobillPayments.data.currentPage"></bd-pagination>
        </div>

        <div class="row-line">
            <div class="row-line__cell">
                <div class="row-line__cell row-line__cell--right-button">
                    <bd-button class="bd-button" ng-clic="cancelService()">
                        {{::'raiff.payments.invoobill.cancel_service' | translate}}
                    </bd-button>
                </div>

                <a href="{{invoobillPayments.creditorInfoLink}}" target="_blank">{{::'raiff.payments.invoobill.show_creditors' | translate}}</a>
            </div>
        </div>
    </div>
</rb-content-view>
