<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.transferType'|translate}}">
    {{ ::'raiff.payments.future.list.details.insurance.transferTypes.' + $data.details.transferType | translate}}
</bd-item-property>

<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.status'|translate}}">
    {{ ::'raiff.payments.future.list.details.insurance.statuses.' + $data.details.status | translate }}
</bd-item-property>

<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.accountName'|translate}}">
    {{ $data.details.accountName }} <br/>
    {{ $data.details.accountNo | nrbIbanFilter }}<br/>
    {{ $data.details.recipientBankName }}
</bd-item-property>

<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.recipientAccountNo'|translate}}">
    {{ $data.details.recipientAccountNo }}<br/>
    <bd-multiline-text bd-text="$data.details.recipientName"></bd-multiline-text>
</bd-item-property>

<!--
    "raiff.payments.future.list.details.insurance.payerName": "Nazwa p³atnika",
    "raiff.payments.future.list.details.insurance.payerNip": "NIP p³atnika",
    "raiff.payments.future.list.details.insurance.payerSecondIdType": "Typ drugiego identyfikatora",
    "raiff.payments.future.list.details.insurance.payerSecondIdNumber": "Drugi identyfikator",
    "raiff.payments.future.list.details.insurance.payerPaymentType": "Typ wp³aty",
    "raiff.payments.future.list.details.insurance.declarationDate": "Data deklaracji",
    "raiff.payments.future.list.details.insurance.declarationNumber": "Numer deklaracji",
    "raiff.payments.future.list.details.insurance.additionalInfo": "Informacje dodatkowe",
-->

<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.payerName'|translate}}">
    {{$data.details.paymentDetails.senderName}}
</bd-item-property>


<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.payerNip'|translate}}">
    {{$data.details.paymentDetails.nip}}
</bd-item-property>


<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.payerSecondaryIdType'|translate}}">
    {{::'raiff.payments.future.list.details.insurance.payerSecondaryIdTypes.' + $data.details.paymentDetails.secondIDType | translate }}
</bd-item-property>


<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.payerSecondaryIdNumber'|translate}}">
    {{$data.details.paymentDetails.secondIDNo}}
</bd-item-property>


<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.declarationDate'|translate}}">
    {{$data.details.paymentDetails.declaration}}
</bd-item-property>

<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.declarationNo'|translate}}">
    {{$data.details.paymentDetails.declarationNo}}
</bd-item-property>

<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.details.insurance.additionalInfo'|translate}}">
    {{$data.details.paymentDetails.additionalInfo}}
</bd-item-property>


<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.tax.insurance.amount'|translate}}">
    {{ $data.details.amount }} {{ $data.details.currency }}
</bd-item-property>

<bd-item-property class="eb-item-property--text"  label="{{::'raiff.payments.future.list.tax.insurance.deliveryDate'|translate}}">
    {{ $data.deliveryDate | date:'yyyy-MM-dd' }}
</bd-item-property>


<bd-details-action-section>
    <div class="row">
        <div class="col-sm-12 col-md-12" style="text-align:right;">
            <bd-button ng-click="onEdit($data)"       class="bd-button bd-hmargin-sm">{{::'raiff.payments.future.list.details.insurance.buttons.edit' | translate}}</bd-button>
            <bd-button ng-click="onDelete($data)"     class="bd-button bd-hmargin-sm">{{::'raiff.payments.future.list.details.insurance.buttons.delete' | translate}}</bd-button>
            <bd-button ng-click="onBack(this)" class="bd-button bd-button__primary">{{::'raiff.payments.future.list.details.insurance.buttons.backToList' | translate}}</bd-button>
        </div>
    </div>
</bd-details-action-section>
