<form novalidate name="futureDatePanelForm" ng-submit="onSubmitForm(futureDatePanelForm)" class="basketSearchPanel rb-transaction-filter">
    <div class="row basketSearchPanel__account-section">
        <div class="col-md-10 col-sm-12" style="text-align: left;">
            <bd-item-property label="{{::'account.statement.select.label'|translate}}">
                <ui-select ng-model="inputData.selectedAccount"
                           theme="bootstrap"
                           reset-search-input="false"
                           ng-disabled="fixedAccountSelection"
                           on-select=""
                           name="account"
                           class="iconized"
                           required>
                    <ui-select-match placeholder="{{::'account.statement.select.placeholder'|translate}}">
                        <div class="select-account__row" style="padding-right: 34px">
                            <div ng-if="$select.selected.accountId=='ALL'">
                                <div class="select-account__row__cell">
                                    {{::'raiff.payments.basket.search.panel.account.all'|translate}}
                                </div>
                            </div>
                            <div class="select-account__row__cell account-icon"  ng-if="$select.selected.customerData.icon >= 0  && getIcon($select.selected.accountId)"><img
                                                                        ng-src="{{getIcon($select.selected.customerData.icon)}}"
                                                                        class="select-account__icon"/></div>
                            <div class="select-account__row__cell account-desc">
                                <rb-account-responsive-line rb-allow-long-nrb="true" rb-account-name="$select.selected.customerData.name || $select.selected.accountName" rb-account-nrb="$select.selected.accountNo"></rb-account-responsive-line>
                            </div>
                        </div>
                    </ui-select-match>
                    <ui-select-choices repeat="item in accountList track by $index">
                        <div ng-if="item.accountId=='ALL'">
                            <div class="select-account__row__cell">
                                {{::'raiff.payments.basket.search.panel.account.all'|translate}}
                            </div>
                        </div>
                        <div class="select-account__row">
                            <div class="select-account__row__cell account-icon" ng-if="item.customerData.icon >= 0 && getIcon(item.accountId)">
                                <img ng-if="item.customerData.icon >= 0" ng-src="{{getIcon(item.customerData.icon)}}"
                                     class="select-account__icon"/>
                            </div>
                            <div class="select-account__row__cell account-desc">
                              <!--  {{((item.customerData.name || item.accountName)) + ' '}}<br class="bd-hide-md"/>{{(item.accountNo
                                | nrbIbanFilter) | highlight: $select.search}}-->
                                <div class="rb-account-select__account-name-row" ng-bind-html="(item.customerData.name || item.accountName) | highlight: $select.search"></div>
                                <div class="rb-account-select__account-desc-row">
                                    <span class="rb-account-select__account-desc-row__nrb hidden-xs hidden-sm" ng-bind-html="item.accountNo | nrbIbanFilter | highlight: $select.search"></span>
                                    <span class="rb-account-select__account-desc-row__nrb hidden-md hidden-lg" ng-bind-html="item.accountNo | nrbIbanShortFilter | highlight: $select.search"></span>
                                    <span class="rb-account-select__account-desc-row__amount" ng-bind-html="(item.accessibleAssets + ' ' + item.currency) | rbAmountFilter | highlight: $select.search"></span>
                                </div>

                            </div>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </bd-item-property>
        </div>

        <div class="col-md-2 col-sm-12" style="text-align: right;">
            <bd-button class="bd-button__primary bd-md-button-margin" type="submit">{{::'raiff.payments.components.futureDatePanel.labels.search'|translate}}</bd-button>
        </div>
    </div>

    <div class="row" ng-show="!advancedSearch">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <bd-item-property label="{{::'raiff.payments.basket.search.panel.advanced.label'|translate}}" id="historyRange">
                <div class="rb-transaction-filter__container" ng-click="showAdvanced()">
                    <div class="rb-transaction-filter__container__last">
                        <div class="arrow expand" style="display: inline-block;"></div>
                        <div class="rb-transaction-filter__panel-primary__header__instruction"  style="display: inline-block; margin-left: 10px;">{{::'account.balances.filter.advanced.show'|translate}}</div>
                    </div>
                    <div class="rb-transaction-filter__container">
                        <div class="rb-transaction-filter__container__adjust">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </bd-item-property>
        </div>
    </div>

    <div class="row basketSearchPanel__advanced-section" ng-show="advancedSearch">
        <div class="col-md-5 col-sm-12 basketSearchPanel__advanced-section__left-panel">
            <bd-radio-select bd-model="inputData.selectedMode">
                <bd-radio-option bd-option-value="FUTURE_DATE_TYPES.PERIOD">
                    <div class="row__inline-block--middle row__inline-block--adjacent">
                        {{:: 'raiff.payments.components.futureDatePanel.dateTypes.PERIOD' | translate}}
                    </div>
                    <div class="row__inline-block--middle row__inline-block--adjacent" style="width:37px;">
                        <input
                                bd-type="number"
                                class="input-field"
                                ng-model="inputData.period"
                                name="period"
                                ng-required="inputData.selectedMode===FUTURE_DATE_TYPES.PERIOD"
                                ng-pattern="/^\d+$/"/>
                    </div>
                    <div class="row__inline-block--middle" style="width:90px;">
                        <ui-select ng-model="inputData.periodRange"
                                   theme="bootstrap"
                                   reset-search-input="false">
                            <ui-select-match placeholder="">
                                {{ 'raiff.payments.components.futureDatePanel.dateRanges.'+ $select.selected | translate }}
                            </ui-select-match>
                            <ui-select-choices repeat="item in FUTURE_DATE_RANGES_LIST">
                                {{ :: 'raiff.payments.components.futureDatePanel.dateRanges.'+ item | translate }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </bd-radio-option>
                <div class="basket-no-padding">
                    <bd-radio-option bd-option-value="FUTURE_DATE_TYPES.RANGE">
                        <div class="dateLabel">
                            {{ ::'account.transactions.select.filter.date.label'|translate }}
                        </div>
                        <div class="dateRange">
                            <div style="display: inline-flex; ">
                                <div class="dateRangeLabel">{{::'raiff.payments.components.futureDatePanel.labels.from'|translate}}</div>&nbsp;
                                <rb-datepicker ng-model="inputData.dateFrom"
                                               ng-model-options="{ allowInvalid: false }"
                                               rb-name="dateFromInput"
                                               max-search-date
                                        ></rb-datepicker>
                        </div>
                            <div style="display: inline-flex; ">
                                <div class="dateRangeLabel">{{::'raiff.payments.components.futureDatePanel.labels.to'|translate}}</div>&nbsp;
                                <rb-datepicker ng-model="inputData.dateTo"
                                               ng-model-options="{ allowInvalid: false }"
                                               rb-name="dateToInput"
                                    ></rb-datepicker>
                                </div>
                        </div>
                    </bd-radio-option>
                </div>
            </bd-radio-select>

        </div>

        <div class="col-md-7 col-sm-12 basketSearchPanel__advanced-section__right-panel">
            <div class="basketSearchPanel__advanced-section__right-panel__item">
                <bd-amount-range name-min="amountFrom" name-max="amountTo" infinite-min="true" label="{{::'account.transactions.list.amount'|translate}}" label-min=" {{::'account.transactions.select.filter.date.from.label'|translate}}" label-max=" {{::'account.transactions.select.filter.date.to.label'|translate}}" range="inputData.amountRange" validate-pattern="advancedSearch"></bd-amount-range>
            </div>

            <div class="basketSearchPanel__advanced-section__right-panel__item">
                <div ng-show="options.context == 'MICRO'" class="basketSearchPanel__advanced-section__right-panel__item__status">
                    <bd-item-property label="{{::'raiff.payments.basket.search.panel.status'|translate}}">
                        <div ng-dropdown-multiselect="" options="PAYMENT_BASKET_STATUS_LIST" selected-model="inputData.status" style=" position: relative;" events="onItemSelect();onItemDeselect()"></div>
                    </bd-item-property>
                </div>
                <div class="basketSearchPanel__advanced-section__right-panel__item__button">
                    <bd-button class="bd-button" ng-click="clearFilter()" bd-id="clear_filter_desktop" eb-analytics-disabled type="button">
                        <i class="eb-icon eb-ico-filter-applied eb-raiffeisen-theme"></i>
                        {{::'account.transactions.select.filter.button.clear'|translate}}
                    </bd-button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" ng-show="advancedSearch">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="rb-transaction-filter__container" ng-click="hideAdvanced()">
                <div class="rb-transaction-filter__container__last" ng-click="hide()">
                    <div class="arrow fold" style="display: inline-block;"></div>
                    <div class="rb-transaction-filter__panel-primary__header__instruction"
                         style="display: inline-block; margin-left: 10px;">
                        {{::'account.transactions.select.filter.advanced.hideText'|translate}}
                    </div>
                </div>
                <div class="rb-transaction-filter__container__adjust">
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="eb-validation-messages">
        <div ng-messages="futureDatePanelForm.dateFromInput.$error" class="messages">
            <div ng-message="required" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.EMPTY_FIRST_DATE' | translate}}</div>
            <div ng-message="date" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.INCORRECT_FIRST_DATE' | translate}}</div>
            <div ng-message="parse" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.INCORRECT_FIRST_DATE' | translate}}</div>
            <div ng-message="rbDatepickerFormat" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.INCORRECT_FIRST_DATE' | translate}}</div>
            <div ng-message="TOO_LATE_FINISH_DATE" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.TOO_LATE_FINISH_DATE' | translate}}</div>
            <div ng-message="TOO_EARLY_FIRST_DATE" class="validation-message animate-on">{{::'raiff.payments.basket.search.panel.validation.TOO_EARLY_FIRST_DATE' | translate | regexReplace:'##MONTHS##':options.maxOffsetInMonths}}</div>
        </div>
    </div>
    <div class="eb-validation-messages">
        <div ng-messages="futureDatePanelForm.dateToInput.$error" class="messages">
            <div ng-message="required" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.EMPTY_END_DATE' | translate}}</div>
            <div ng-message="date" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.INCORRECT_END_DATE' | translate}}</div>
            <div ng-message="parse" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.INCORRECT_END_DATE' | translate}}</div>
            <div ng-message="rbDatepickerFormat" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.INCORRECT_END_DATE' | translate}}</div>
            <div ng-message="TOO_LATE_END_DATE" class="validation-message animate-on">{{::'raiff.payments.components.futureDatePanel.validation.TOO_LATE_END_DATE' | translate | regexReplace:'##MONTHS##':options.maxOffsetInMonths}}</div>
        </div>
    </div>
    <div class="eb-validation-messages">
        <div ng-messages="futureDatePanelForm.period.$error" class="messages">
            <div ng-message="required" class="validation-message animate-on">{{'raiff.payments.components.futureDatePanel.validation.EMPTY_PERIOD_PLANNED_'+inputData.periodRange | translate}}</div>
            <div ng-message="pattern" class="validation-message animate-on">{{'raiff.payments.components.futureDatePanel.validation.INCORRECT_NUMBER_'+inputData.periodRange | translate}}</div>
            <div ng-message="INCORRECT_END_DATE" class="validation-message animate-on">{{::messages.INCORRECT_END_DATE}}</div>
            <div ng-message="TOO_LATE_END_DATE" class="validation-message animate-on">{{::'raiff.payments.basket.search.panel.validation.TOO_LATE_END_DATE' | translate | regexReplace:'##MONTHS##':options.maxOffsetInMonths}}</div>
        </div>
    </div>
    <div class="eb-validation-messages">
        <div ng-messages="futureDatePanelForm.amountFrom.$error" class="messages">
            <div ng-message="number" class="validation-message animate-on">
                {{::'account.transactions.filter.amount.from.error.format'|translate}}
            </div>
            <div ng-message="pattern" class="validation-message animate-on">
                {{::'account.transactions.filter.amount.from.error.format'|translate}}
            </div>
            <div ng-message="rbNumber" class="validation-message animate-on">
                {{::'account.transactions.filter.amount.from.error.format'|translate}}
            </div>
            <div ng-message="max" class="validation-message animate-on">
                {{::'account.transactions.filter.od.error.less_than'|translate}}
            </div>
        </div>
    </div>
    <div class="eb-validation-messages">
        <div ng-messages="futureDatePanelForm.amountTo.$error" class="messages">
            <div ng-message="number" class="validation-message animate-on">
                {{::'account.transactions.filter.amount.to.error.format'|translate}}
            </div>
            <div ng-message="pattern" class="validation-message animate-on">
                {{::'account.transactions.filter.amount.to.error.format'|translate}}
            </div>
            <div ng-message="rbNumber" class="validation-message animate-on">
                {{::'account.transactions.filter.amount.to.error.format'|translate}}
            </div>
        </div>
    </div>

</form>

