<div>
    <form name="autoBillForm" novalidate class="bd-form">


        <bd-item-property class="bd-item-property"
                          label="{{ ::'ocb.payments.auto_bill.list.details.customerId' | translate }}">
            <input type="text"
                   name="customerId"
                   ng-model="payment.formData.customerId"
                   required
            />
            <eb-validation-messages eb-name="customerId">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.field.empty'|translate}}
                </div>
            </eb-validation-messages>
        </bd-item-property>

        <rb-service-select
                rb-update-disabled-state="billInfoSearch"
                rb-service="payment.items.senderService"
                rb-provider="payment.items.senderProvider"
                rb-service-code="payment.formData.serviceCode"
                rb-provider-code="payment.formData.serviceProviderCode">
        </rb-service-select>
        <eb-validation-messages eb-name="providerCode">
            <div eb-message-key="required" class="validation-message animate-on">
                {{::'ocb.payments.new.bill.fill.providerCode.EMPTY_PROVIDERCODE'|translate}}
            </div>
        </eb-validation-messages>

        <bd-item-property label="{{ ::'ocb.payments.auto_bill.list.details.paymentSetting' | translate }}">
            <bd-radio-select bd-model="payment.formData.paymentSetting">
                <bd-radio-option bd-option-value="PAYMENT_SETTING.FULL">
                    <div>
                        {{::'ocb.payments.auto_bill.list.details.paymentSetting.FULL'|translate}}
                    </div>
                </bd-radio-option>
                <bd-radio-option bd-option-value="PAYMENT_SETTING.LIMITED">
                    <div class="bd-item-property--multi__values">
                        <div class="bd-item-property__value--primary" style="display: inline-block;">
                            {{::'ocb.payments.auto_bill.list.details.paymentSetting.LIMITED'|translate}}
                        </div>
                        <div class="bd-item-property__value--secondary" style="display: inline;">
                            <input type="text"
                                   name="next"
                                   class="input-field"
                                   ng-model="payment.formData.amountLimit.value"
                                   ng-pattern="AMOUNT_PATTERN"
                                   rb-number-type-input
                                   style="width: 100px;"
                                   amount-input
                                   currency="VND"
                                   ng-min="0.01"
                                   />
                        </div>
                    </div>
                    <eb-validation-messages eb-name="next">
                        <div eb-message-key="number" class="validation-message animate-on">
                            {{::'ocb.payments.new.domestic.fill.amount.INVALID_NUMBER_AMOUNT'|translate}}
                        </div>
                        <div eb-message-key="required" class="validation-message animate-on">
                            {{::'ocb.payments.new.domestic.fill.amount.EMPTY_AMOUNT'|translate}}
                        </div>
                        <div eb-message-key="pattern" class="validation-message animate-on">
                            {{::'ocb.payments.new.domestic.fill.amount.INCORRECT_AMOUNT'|translate}}
                        </div>
                        <div eb-message-key="ngMin" class="validation-message animate-on">
                            {{::'ocb.payments.new.domestic.fill.amount.INCORRECT_AMOUNT'|translate}}
                        </div>
                    </eb-validation-messages>
                </bd-radio-option>
            </bd-radio-select>
        </bd-item-property>

        <bd-item-property label="{{ ::'ocb.payments.new.standing.fill.first_execution_date' | translate }}">
            <rb-datepicker
                    ng-model="payment.formData.firstExecutionDate"
                    rb-form="autoBillForm"
                    rb-name="firstExecutionDate"
                    rb-datepicker-options="rbDatepickerOptions"
                    rb-required="true">
            </rb-datepicker>

            <eb-validation-messages eb-name="firstExecutionDate">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.field.empty'|translate}}
                </div>
                <div eb-message-key="date" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.invalid.date'|translate}}
                </div>
                <div eb-message-key="rbDatepickerFormat" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.invalid.date'|translate}}
                </div>

                <div eb-message-key="bdMinDate" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.first_execution_date.min'|translate}}
                </div>

                <div eb-message-key="bdMaxDate" class="validation-message animate-on">
                    {{::'ocb.payments.new.standing.fill.first_execution_date.TOO_LATE_FIRST_DATE'|translate|regexReplace:'##DATE##':(firstDateMaxDate|date:'shortDate')}}
                </div>
            </eb-validation-messages>
            <div style="color: #F4390B;font-size: 14px;font-weight: 300;"
                 ng-if="validationErrors['firstExecutionDate'] !== undefined">
                {{validationErrors['firstExecutionDate']}}
            </div>
        </bd-item-property>

        <bd-item-property label="{{ ::'ocb.payments.new.standing.fill.frequency' | translate }}" class="bd-item-property--multi standing_order_frequency">
            <div class="bd-item-property--multi__values">

                <div class="bd-item-property__value--secondary frequency" style="padding-right:5px; width: 100px;">

                    <input name="frequency"
                           ng-model="payment.formData.frequencyPeriodCount"
                           ng-required="payment.formData.frequencyType != 'DAILY'"
                           on-select="onFrequencyTypeSelect()"
                           ng-pattern="INTEGER_REGEX"
                           bd-matches-none-of="frequencyValidators"
                           class="input-field order-frequency"/>
                </div>


                <div class="bd-item-property__value--primary">
                    <ui-select ng-model="payment.formData.frequencyType"
                               theme="bootstrap"
                               on-select="onFrequencyTypeSelect($item)"
                               reset-search-input="false"
                               class="order-frequency-type"
                               style="width: 200px;"
                               required
                               ng-disabled="true"
                    >
                        <ui-select-match placeholder="{{ ::'ocb.payments.new.standing.fill.frequencyType.types.empty'|translate }}">

                            <div class="standing-order-truncate" ng-show="payment.formData.frequencyPeriodCount <= 1 || !payment.formData.frequencyPeriodCount">{{'ocb.payments.new.standing.fill.frequencyType.types.1.' + FREQUENCY_TYPES[$select.selected].symbol | translate}}</div>
                            <div class="standing-order-truncate" ng-show="payment.formData.frequencyPeriodCount >= 2 && payment.formData.frequencyPeriodCount < 5">{{'ocb.payments.new.standing.fill.frequencyType.types.2-4.' + FREQUENCY_TYPES[$select.selected].symbol | translate}}</div>
                            <div class="standing-order-truncate" ng-show="payment.formData.frequencyPeriodCount >= 5">{{'ocb.payments.new.standing.fill.frequencyType.types.5more.' + FREQUENCY_TYPES[$select.selected].symbol | translate}}</div>

                        </ui-select-match>

                        <ui-select-choices repeat="frequency in FREQUENCY_TYPES_LIST">
                            <div class="standing-order-truncate" ng-show="payment.formData.frequencyPeriodCount <= 1 || !payment.formData.frequencyPeriodCount">{{'ocb.payments.new.standing.fill.frequencyType.types.1.' + FREQUENCY_TYPES[frequency].symbol | translate}}</div>
                            <div class="standing-order-truncate" ng-show="payment.formData.frequencyPeriodCount >= 2 && payment.formData.frequencyPeriodCount < 5">{{'ocb.payments.new.standing.fill.frequencyType.types.2-4.' + FREQUENCY_TYPES[frequency].symbol | translate}}</div>
                            <div class="standing-order-truncate" ng-show="payment.formData.frequencyPeriodCount >= 5">{{'ocb.payments.new.standing.fill.frequencyType.types.5more.' + FREQUENCY_TYPES[frequency].symbol | translate}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>


            <eb-validation-messages eb-name="frequency">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.field.empty'|translate}}
                </div>
                <div eb-message-key="pattern" class="validation-message animate-on">
                    <span ng-show="payment.formData.frequencyType == 'WEEKLY'">{{::'ocb.payments.new.standing.fill.MSG-0598_INCORRECT_FREQUENCY_WEEKLY'|translate}}</span>
                    <span ng-show="payment.formData.frequencyType == 'MONTHLY'">{{::'ocb.payments.new.standing.fill.MSG-0598_INCORRECT_FREQUENCY_MONTHLY'|translate}}</span>
                </div>
                <div eb-message-key="maxWeeklyValue" class="validation-message animate-on">
                    {{::'ocb.payments.new.standing.fill.MSG-0598_INCORRECT_FREQUENCY_WEEKLY'|translate}}
                </div>
                <div eb-message-key="maxMonthlyValue" class="validation-message animate-on">
                    {{::'ocb.payments.new.standing.fill.MSG-0598_INCORRECT_FREQUENCY_MONTHLY'|translate}}
                </div>

                <div eb-message-key="minWeeklyValue" class="validation-message animate-on">
                    {{::'ocb.payments.new.standing.fill.MSG-0598_INCORRECT_FREQUENCY_WEEKLY'|translate}}
                </div>

                <div eb-message-key="minMonthlyValue" class="validation-message animate-on">
                    {{::'ocb.payments.new.standing.fill.MSG-0598_INCORRECT_FREQUENCY_MONTHLY'|translate}}
                </div>

                <div eb-message-key="frequencyTypeRequired" class="validation-message animate-on">
                    {{::'ocb.payments.new.standing.fill.MSG-0597_EMPTY_FREQUENCY'|translate}}
                </div>
            </eb-validation-messages>
            <div style="color: #F4390B;font-size: 14px;font-weight: 300;"
                 ng-if="validationErrors['frequency'] !== undefined">
                {{validationErrors['frequency']}}
            </div>
        </bd-item-property>

        <bd-item-property label="{{::'ocb.payments.auto_bill.list.details.recurringPeriod'|translate}}">
            <bd-radio-select bd-model="payment.formData.recurringPeriod">
                <bd-radio-option bd-option-value="RECURRING_PERIOD.NOLIMIT">
                    <div>
                        {{::'ocb.payments.auto_bill.recurringPeriod.no.limit'|translate}}
                    </div>
                </bd-radio-option>
                <bd-radio-option bd-option-value="RECURRING_PERIOD.LIMITED">
                    <div>
                        {{::'ocb.payments.auto_bill.recurringPeriod.limited'|translate}}
                    </div>
                </bd-radio-option>
            </bd-radio-select>
        </bd-item-property>

        <bd-item-property label="{{ ::'ocb.payments.new.standing.fill.finish_date'|translate }}" ng-show="payment.formData.recurringPeriod == 'PERIOD'">

            <rb-datepicker
                    ng-model="payment.formData.finishDate"
                    rb-form="autoBillForm"
                    rb-name="finishDate"
                    rb-datepicker-options="rbDatepickerOptions"
                    rb-required="{{payment.formData.recurringPeriod == 'PERIOD'}}">
            </rb-datepicker>

            <eb-validation-messages eb-name="finishDate">
                <div eb-message-key="required" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.field.empty'|translate}}
                </div>
                <div eb-message-key="date" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.invalid.date'|translate}}
                </div>

                <div eb-message-key="rbDatepickerFormat" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.invalid.date'|translate}}
                </div>

                <div eb-message-key="TOO_LATE_END_DATE" class="validation-message animate-on">
                    {{::'ocb.payments.new.standing.fill.finish_date.TOO_LATE_END_DATE'|translate}}
                </div>
                <div eb-message-key="bdMinDate" class="validation-message animate-on">
                    {{::'ocb.payments.auto_bill.error.first_execution_date.min'|translate}}
                </div>
            </eb-validation-messages>
            <div style="color: #F4390B;font-size: 14px;font-weight: 300;"
                 ng-if="validationErrors['finishDate'] !== undefined">
                {{validationErrors['finishDate']}}
            </div>
        </bd-item-property>

    </form>
</div>