<rb-content-view class="rb-content-view--framed form recipients-view">
    <bd-header>{{::"raiff.payments.recipients.label"|translate}}</bd-header>

    <div class="section-wrapper">

        <form>
            <div class="row-line">

                <div class="row-line__cell">
                    <bd-item-property label="{{::'raiff.payments.recipients.type.label'|translate}}">
                        <ui-select ng-model="types.currentType"
                                   theme="bootstrap"
                                   reset-search-input="false"
                                   on-select="table.tableControl.invalidate()"
                                   required>
                            <ui-select-match placeholder="{{:: 'raiff.payments.recipients.select.type.placeholder' | translate }}">
                                {{ 'raiff.payments.recipients.select.type.' + $select.selected.code | translate }}
                            </ui-select-match>
                            <ui-select-choices repeat="type in types.availableTypesList">
                                {{ :: 'raiff.payments.recipients.select.type.' + type.code | translate }}
                            </ui-select-choices>
                        </ui-select>

                    </bd-item-property>
                </div>

                <div class="row-line__cell row-line__cell--right-button">
                    <bd-button class="bd-button__primary" ng-click="onRecipientCreate()" type="button">
                        {{::'raiff.payments.recipients.new.button'|translate}}
                    </bd-button>
                </div>
            </div>

            <div class="accounts-transaction-list-filter">
                <div class="row-line">
                    <div class="row-line__cell">
                        <bd-item-property label="{{::'raiff.payments.recipients.select.filter.text.label' | translate}}">
                            <input bd-type="text" ng-model="table.operationTitle" name="contentText" style="width: 100%; height: 34px;"/>
                        </bd-item-property>
                    </div>
                    <div class="row-line__cell row-line__cell--right-button">
                        <bd-button class="bd-button" ng-click="table.tableControl.invalidate()" type="submit">{{::'raiff.payments.recipients.select.filter.button.action'|translate}}</bd-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="section-wrapper">
        <bd-table bd-type="typeL"
                  bd-table-params="table.tableConfig"
                  bd-table-control="table.tableControl"
                  bd-table-data="table.tableData"
                  bd-table-promise="recipientListPromise"
                  bd-table-meta="{ 'first' : { 'title': '##raiff.payments.recipients.list.header.customName.label', 'data' : 'customerName' }, 'second' : { 'title': '##raiff.payments.recipients.list.header.recipient.label', 'data' : 'address' }, 'third' : { 'title': '##raiff.payments.recipients.list.header.nrb.label', 'data' : 'nrb' } }">

            <bd-details-section bd-table-row-details>

                <div ng-include="::resolveTemplateType($data.recipientType)"></div>

                <bd-details-action-section>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <bd-button ng-click="onRecipientEdit($data)" class="bd-button">{{::'raiff.payments.recipients.list.details.edit' | translate}}</bd-button>
                            <bd-button ng-click="onRecipientRemove($data)" class="bd-button">{{::'raiff.payments.recipients.list.details.remove' | translate}}</bd-button>
                        </div>
                        <div class="col-sm-12 col-md-6" style="text-align:right;">
                            <bd-button ng-click="onRecipientTransfer($data)" class="bd-button bd-button__primary">{{::'raiff.payments.recipients.list.details.transfer' | translate}}</bd-button>
                        </div>
                    </div>

                </bd-details-action-section>

            </bd-details-section>

            <div bd-table-footer>
                <bd-table-pagination></bd-table-pagination>
            </div>

        </bd-table>
    </div>

</rb-content-view>