<rb-payment-recipients-verify>
    <div ng-controller="RecipientsManageVerifyZusController">
        <bd-item-property label="{{::'raiff.payments.recipients.new.zus.verify.micro_name'|translate}}" class="bd-item-property--text bd-item-property--disabled" ng-if="customerDetails.context == 'MICRO'">
            <div ng-repeat="owner in ownerList = (recipient.items.senderAccount.ownersList | filter: { relationType: 'OWNER' }:true)">
                <span>{{owner.fullName}}</span>
            </div>
        </bd-item-property>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.recipients.new.zus.verify.remitter_account' | translate }}">
            {{ recipient.items.senderAccount.customName || recipient.items.senderAccount.accountName  }} {{ recipient.items.senderAccount.accountNo | nrbIbanFilter }}
        </bd-item-property>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.recipients.new.zus.verify.custom_name' | translate }}">
            {{ recipient.formData.customName }}
        </bd-item-property>
        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.recipients.new.zus.verify.recipient_account' | translate }}">
            {{recipient.items.selectedInsurance.translatedValue}} {{ recipient.items.selectedInsurance.accountNo | nrbIbanFilter  }}
        </bd-item-property>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.recipients.new.zus.verify.taxpayer_nip' | translate }}">
            {{ recipient.formData.nip }}
        </bd-item-property>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.recipients.new.zus.verify.taxpayer_supplementary_id_type' | translate }}">
            {{ ::'raiff.payments.id_type.' + recipient.formData.secondaryIdType | translate }}
        </bd-item-property>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.recipients.new.zus.verify.taxpayer_supplementary_id' | translate }}">
            {{ recipient.formData.secondaryIdNo }}
        </bd-item-property>

        <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{ ::'raiff.payments.recipients.new.zus.verify.payment_type' | translate }}">
            {{ 'raiff.payments.zus.payment_type.' + recipient.formData.paymentType| translate }}
        </bd-item-property>

    </div>
</rb-payment-recipients-verify>