<div class="bd-form-white bd-form-content">
    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.saving.fill.sender_account'|translate}}">
        <span style="display: inline-block; word-break: break-all;">{{ payment.items.senderAccount.accountNo }}</span>
  <!--      <span style="display: inline-block;">
            <span class="hidden-md hidden-lg">{{ cardContext.item.accountFrom.accountNo | nrbAccountSelectIbanShortFilter }}</span>
        </span>-->
        <!--<span style="display:block;" class="hidden-xs hidden-sm"> {{ cardContext.item.accountFrom.accountNo | nrbIbanFilter }}</span>-->
    </bd-item-property>
    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.saving.fill.deposit_account_number'|translate}}">
        {{payment.items.recipientAccount.depositContractNumber }}
    </bd-item-property>
    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.saving.fill.amount_figures.label'|translate}}">
      <bd-amount amount="payment.formData.amount"
                currency="{{ payment.formData.currency || VND}}">
      </bd-amount>
    </bd-item-property>
    <bd-item-property class="bd-item-property--text bd-item-property--disabled italic-control" label="{{::'ocb.payments.new.saving.verify.amount_in_word'|translate}}">
        {{amountInWords}}
    </bd-item-property>
    <bd-item-property class="bd-item-property--text bd-item-property--disabled" label="{{::'ocb.payments.new.saving.fill.description'|translate}}">
        {{payment.formData.description}}
    </bd-item-property>
    
</div>

<div class="bd-form-white" ng-show="payment.token.model.$tokenRequired">

    <section ng-if="payment.operation.code!=='EDIT'">
        <bd-item-property class="bd-item-property--multirow" ng-if="payment.token.params.resourceId" label="{{ payment.token.model.currentToken.label }}" no-label-box="true">
            <rb-token-authorization rb-operation-type="{{payment.token.params.rbOperationType}}" rb-model="payment.token.model" rb-model-data="payment.token.modelData()" rb-params="payment.token.params">
            </rb-token-authorization>
        </bd-item-property>
    </section>

</div>