<!-- Created by Tien Bui on 10/30/2017 -->
<div>
    <form name="paymentsBatchProcessingFormForm" class="batch">
        <div class="account-collapse-item form-horizontal">
            <bd-header>{{ ::'ocb.payments.batch_processing.personal' | translate }}</bd-header>
            <bd-item-property-form label="{{ ::'ocb.payments.new.domestic.fill.sender_account' | translate }}">
                <!--<input name="remitterAccountId" hidden ng-model="payment.formData.remitterAccountId" required/>-->
                <rb-account-select rb-batch-info-search="paymentsBatchProcessingForm.batchInfoSearch"
                        rb-product-list-name="TRANSFER_FROM_LIST"
                        rb-account-restrictions="ACCOUNT_RESTRICTION_DEBIT"
                        rb-account="paymentsBatchProcessingForm.formData.selectedAccount"
                        rb-account-no="paymentsBatchProcessingForm.formData.senderAccountId"
                        rb-on-account-select="onSenderAccountSelect($accountId)"
                        bd-attr-required="true"
                        rb-account-list="paymentsBatchProcessingForm.formData.accountList"
                        rb-account-select-params="senderSelectParams"
                        rb-remote="remote.model">
                </rb-account-select>
            </bd-item-property-form>
            <bd-item-property-form ng-show="messageAccountListError">
                <span class="error">{{ :: 'ocb.payments.batchprocessing.message.accountlist.error' | translate }}</span>
            </bd-item-property-form>
            <bd-item-property-form label="{{::'ocb.payments.batch_processing.name'|translate}}">
                <div class="form-group-label-value form-group-label-bold">{{paymentsBatchProcessingForm.fullName}}</div>
            </bd-item-property-form>
            <bd-item-property-form label="{{::'ocb.payments.batch_processing.ocbbranch'|translate}}">
                <div class="form-group-label-value form-group-label-bold">{{paymentsBatchProcessingForm.formData.selectedAccount.openBranch}}</div>
            </bd-item-property-form>
            <bd-item-property-form ng-if="paymentsBatchProcessingForm.formData.selectedAccount" ng-disabled="paymentsBatchProcessingForm.batchInfoSearch"
                              label="{{ ::'ocb.payments.new.domestic.fill.accessible_assets' | translate }}" class="accesibleAssetsInline accesibleAssetsBold">
                <bd-amount class="form-group-label-value form-group-label-bold" amount="paymentsBatchProcessingForm.formData.selectedAccount.accessibleAssets"
                           currency="{{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}"></bd-amount>
            </bd-item-property-form>

            <bd-item-property-form label="{{::'ocb.payments.batch_processing.remainingdailylimit'|translate}}">
                <bd-amount amount="paymentsBatchProcessingForm.formData.limit.remainingDailyLimit"
                           currency="{{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}" show-dash></bd-amount>
            </bd-item-property-form>

            <bd-item-property-form label="{{ ::'ocb.payments.batch_processing.transactiontype' | translate }}" ng-disabled="paymentsBatchProcessingForm.batchInfoSearch">
                <ui-select ng-disabled="paymentsBatchProcessingForm.batchInfoSearch"
                        ng-model="paymentsBatchProcessingForm.formData.selectedTransactionType"
                           theme="bootstrap"
                           on-select="onTransactionTypeChanged($select.selected)"
                           required>
                    <ui-select-match placeholder="{{ ::'ocb.payments.batch_processing.transactiontype' | translate }}">
                        {{$select.selected.typeName}}
                    </ui-select-match>
                    <ui-select-choices repeat="transactionType in transaction_types | filter: $select.search track by $index">
                        <div ng-bind-html="transactionType.typeName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </bd-item-property-form>

            <bd-item-property-form label="{{ ::'ocb.payments.batch_processing.subaccount' | translate  }}" ng-disabled="paymentsBatchProcessingForm.batchInfoSearch">
                <ui-select ng-disabled="paymentsBatchProcessingForm.batchInfoSearch"
                        ng-model="paymentsBatchProcessingForm.formData.selectedSubAccount"
                           theme="bootstrap"
                           on-select="onSubAccountChanged($select.selected)"
                           required>
                    <ui-select-match placeholder="Sub Account">
                        {{$select.selected.accountName}} {{$select.selected.accountNo}}
                    </ui-select-match>
                    <ui-select-choices repeat="subAccount in subAccountList | filter: $select.search track by $index">
                        <!--<div ng-bind="subAccount.accountNo | highlight: $select.search"></div>-->
                        <div class="rb-account-select__account-name-row" ng-bind="subAccount.accountName"></div>
                        <div class="rb-account-select__account-desc-row" ng-show="noSubAccount">
                            <span class="rb-account-select__account-desc-row__nrb hidden-xs hidden-sm" ng-bind="subAccount.accountNo | nrbIbanFilter | highlight: $select.search"></span>
                            <span class="rb-account-select__account-desc-row__nrb hidden-md hidden-lg" ng-bind="subAccount.accountNo | nrbAccountSelectIbanShortFilter | highlight: $select.search"></span>
                            <span class="rb-account-select__account-desc-row__amount" ng-bind="((subAccount.accessibleAssets | currency:'') + ' ' + subAccount.currency) | highlight: $select.search"></span>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </bd-item-property-form>
        </div>
        <div class="account-collapse-item form-horizontal" ng-show="paymentsBatchProcessingForm.batchInfoSearch">
            <bd-header>{{ ::'ocb.payments.batch_processing.beneficiarylist' | translate }}</bd-header>
            <bd-item-property-form label="{{ ::'ocb.payments.batch_processing.uploadfile' | translate }}">
                <div class="input-group form-btn">
                    <div class="control">
                        <div class="addfile-block" id="addfile" style="">
                            <div class="form-control file-name"></div>
                            <label class="filelb">
                                <input type="file" id="uploadFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                <div class="icon-upload">
                                    <svg viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title>Group</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Add-File" transform="translate(1.000000, 1.000000)" stroke="#B5B5B5">
                                                <g id="Group">
                                                    <circle id="Oval" stroke-width="2" cx="17.5" cy="17.5" r="17.5"></circle>
                                                    <path d="M17.5,7 L17.5,29" id="Line-2" stroke-width="3" stroke-linecap="round"></path>
                                                    <path d="M28.5,17 L6.5,17" id="Line-2" stroke-width="3" stroke-linecap="round"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </label>
                        </div>
                    </div>
                    <span class="display-group">
                        <bd-button class="bd-button__primary bd-button" ng-click="validateExcel()">{{::'ocb.payments.batch_processing.upload'|translate}}</bd-button>
                    </span>
                </div>
                <div class="input-group template-download">
                    <!--<a class="bd-button" ng-show="isInternal" ng-click="downloadTemplateInternal()">{{ ::'ocb.payments.batch_processing.download.template' | translate }}</a>
                    <a class="bd-button" ng-show="isExternal" ng-click="downloadTemplateExternal()">{{ ::'ocb.payments.batch_processing.download.template' | translate }}</a>-->
                    <a class="bd-button" ng-click="downloadTemplateAll()">{{ ::'ocb.payments.batch_processing.download.template' | translate }}</a>
                </div>
            </bd-item-property-form>
            <bd-item-property-form ng-show="messageValidateError">
                <span class="error">{{ :: 'ocb.payments.batchprocessing.message.validate.error' | translate }}</span>
            </bd-item-property-form>

        </div>

        <!--Table section-->
        <div class="account-collapse-item form-btn" ng-show="paymentsBatchProcessingForm.validTableShow">
            <!--<bd-header>{{ ::'ocb.payments.batch_processing.validtable' | translate }}</bd-header>-->
            <bd-table
                    bd-display-bank-code="displayBankCode"
                    bd-type="typeBP"
                    bd-table-params="tableValid.tableConfig"
                    bd-table-control="tableValid.tableControl"
                    bd-table-data="tableValid.tableData"
                    bd-table-promise="testDataPromise"
                    bd-table-meta="{
                        'first':{
                            'title': '##ocb.payments.batch_processing.table.fullname',
                            'data': 'fullName'
                        },
                        'second':{
                            'title': '##ocb.payments.batch_processing.table.accountno',
                            'data': 'accountNo'
                        },
                        'third':{
                            'title': '##ocb.payments.batch_processing.table.bankname',
                            'data': 'bankName'
                        },
                        'fourth':{
                            'title': '##ocb.payments.batch_processing.table.amount',
                            'data': 'amount'
                        },
                        'fifth':{
                            'title': '##ocb.payments.batch_processing.table.remarks',
                            'data': 'description'
                        }
                    }"
            >
            </bd-table>
            <span class="display-group padding-bottom-5">
                <bd-button class="bd-button__primary bd-button" ng-click="downloadTable()">{{::'ocb.payments.batch_processing.download.excelTable'|translate}}</bd-button>
            </span>
            <div class="form-horizontal margin-top-10">
                <bd-item-property-form class="no-margin-bottom no-padding-top form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalamountinfigures' | translate }}">{{paymentsBatchProcessingForm.formData.totalamountinfigures}} {{paymentsBatchProcessingForm.formData.selectedAccount.currency}}</bd-item-property-form>
                <!--<bd-item-property-form class="no-margin-bottom no-padding-top form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalamountinwords' | translate }}">{{paymentsBatchProcessingForm.formData.totalamountinwordsen}} {{ paymentsBatchProcessingForm.formData.selectedAccount.currency }}</bd-item-property-form>-->
                <bd-item-property-form class="no-margin-bottom no-padding-top form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalamountinwords' | translate }}">{{paymentsBatchProcessingForm.formData.totalamountinwords}} {{paymentsBatchProcessingForm.formData.selectedAccount.currency}}</bd-item-property-form>
                <bd-item-property-form class="no-margin-bottom no-padding-top form-group-detail" label="{{ ::'ocb.payments.batch_processing.table.totalnumberoflines' | translate }}">{{paymentsBatchProcessingForm.formData.totalnumberoflines}}</bd-item-property-form>
                <bd-item-property-form ng-show="messageTotalAmountError">
                    <span class="error">{{ :: 'ocb.payments.batchprocessing.message.totalamount.error' | translate }}</span>
                </bd-item-property-form>
            </div>
        </div>
        <div class="account-collapse-item form-btn" ng-show="paymentsBatchProcessingForm.invalidTableShow">
            <bd-header class="error">{{ ::'ocb.payments.batch_processing.invalidtable' | translate }}</bd-header>
            <bd-table
                    bd-display-bank-code="displayBankCode"
                    bd-type="typeBQ"
                    bd-table-params="tableInvalid.tableConfig"
                    bd-table-control="tableInvalid.tableControl"
                    bd-table-data="tableInvalid.tableData"
                    bd-table-promise="testDataPromise"
                    bd-table-meta="{
                        'first':{
                            'title': '##ocb.payments.batch_processing.table.fullname',
                            'data': 'fullName'
                        },
                        'second':{
                            'title': '##ocb.payments.batch_processing.table.accountno',
                            'data': 'accountNo'
                        },
                        'third':{
                            'title': '##ocb.payments.batch_processing.table.bankname',
                            'data': 'bankName'
                        },
                        'fourth':{
                            'title': '##ocb.payments.batch_processing.table.amount',
                            'data': 'amount'
                        },
                        'fifth':{
                            'title': '##ocb.payments.batch_processing.table.remarks',
                            'data': 'description'
                        },
                        'sixth':{
                            'title': '##ocb.payments.batch_processing.table.error',
                            'data': 'validateMessage'
                        }
                    }"
            >
            </bd-table>
            <span class="display-group padding-bottom-5" ng-show="paymentsBatchProcessingForm.invalidTableShow">
                <bd-button class="bd-button__primary bd-button" ng-click="downloadTableInvalid()">{{::'ocb.payments.batch_processing.download.excelTable'|translate}}</bd-button>
            </span>
        </div>
    </form>
</div>


