.rb-payments-new {

  .rb-token-panel {
    display: table;
    table-layout: fixed;

    &__input, &__control {
      display: table-cell;
    }

    &__input {
      width: auto;

      input {
        height: 34px;
      }
    }

    &__control {

    }

  }

}
/* Modal Content */
.error-content {
  background-color: #fa4b50;
  padding-left: 20px;
  width: 840px;
  height: 38px;
  padding-top: 10px;
  color: white;
  margin-bottom: 10px;
  display: flex;
}

.close-btn {
  margin-left: 79%;
  font-size: 22pt;
  padding-top: 11px;
  cursor: pointer;
  margin-top: -24px;
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 36px;
  font-weight: bold;
  padding-right: 10px;
  margin-top: -8px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
