.rb-payments-new {

  .rb-token-panel {
    display: table;
    table-layout: fixed;

    &__input, &__control {
      display: table-cell;
    }

    &__input {
      width: auto;

      input {
        height: 34px;
      }
    }

    &__control {

    }

  }

}

.addfile-block{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  >.form-control{
    padding-right: 45px;
  }
  .file-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .filelb{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    padding: 13px 0;
    img{
      height: 20px;
      width: 20px;
      display: block;
      margin: 0 auto;
    }
  }
  & + .btn{
    margin-left: 20px;
    width: 100px;
  }
}
.filelb{
  cursor: pointer;
  input{
    display: none;
  }
}
